1
a. Write a function to get the maximum of 3 numbers.

b. Write a function to check if the given number if even or not

       Example:
       is_even(10) , then o/p: even
       is_even(23), then o/p: odd

In [3]:
def max_number():
  first_num = int(input("Enter a first Number: "))
  second_num = int(input("Enter a second Number: "))
  third_num = int(input("Enter a third Number: "))
  if first_num > second_num:
    print(first_num)
  elif second_num > third_num:
    print(second_num)
  else:
    print(third_num)

In [4]:
max_number()

Enter a first Number: 67
Enter a second Number: 68
Enter a third Number: 69
69

In [5]:
def even_or_odd():
  num=int(input("Enter a Number:"))
  if num%2==0:
    print("It Is An Even Number")
  else:
    print("It Is An Odd Number")

In [6]:
even_or_odd()

Enter a Number:45
It Is An Odd Number

2.Write a program to get the sum of all the values in given list,

Example:

my_sum([1,2,3,4,5]), then o/p: 15
my_sum([10,11,12]), then o/p: 33

In [7]:
def sum_of_digits(F):
  sum = 0
  for i in F:
    sum = sum + i
  print(sum)

In [8]:
sum_of_digits([45,56,54,44,34])

233

In [10]:
sum_of_digits([100,234,345,7587,900])

9166

3.Construct your own function my_range() which acts as range() to print numbers in forward direction (step is positive) and backward direction(step is negative) with given start,stop and step as parameters.

eg:

my_range(1,10,1), then o/p= 1,2,3,4,,5,6,7,8,9

my_range(1,10,2), then o/p= 1,3,5,7,9

my_range(10,1,-1), then o/p = 10,9,8,7,6,5,4,3,2

my_range(10,1,-2), then o/p = 10,8,6,4,2

In [11]:
def my_range(start,stop,step):
  for i in range(start,stop,step):
    print(i,end=" ")

In [12]:
my_range(10,100,8)

10 18 26 34 42 50 58 66 74 82 90 98

In [13]:
my_range(34,78,4)

34 38 42 46 50 54 58 62 66 70 74

In [14]:
my_range(100,95,-1)

100 99 98 97 96

In [16]:
my_range(90,46,-4)

90 86 82 78 74 70 66 62 58 54 50

4.Multiply numbers with given start and stop (using loops)

    Example: start=1, stop= 5, then o/p: 120
                    start=3, stop=5, then o/p: 60

In [20]:
def multiply():
  start = int(input("Enter the starting number: "))
  stop = int(input("Enter the ending number: "))
  counter = 1
  for i in range(start,stop+1):
    counter *= i
  print(counter)

In [21]:
multiply()

Enter the starting number: 1
Enter the ending number: 5
120

5.Construct a function for fibonacci series(fib()) using

    a.loops
    b.recursion
Expected o/p :

fib(5), then o/p= 0 1 1 2 3

fib(7), then o/p= 0 1 1 2 3 5 8

In [22]:
def fib(n):
  first_term = 0
  second_term = 1
  count = 0
  print("Fibonacci Sequence: ")
  while count < n:
    print(first_term)
    third_term = first_term + second_term
    first_term = second_term
    second_term = third_term
    count += 1

In [23]:
fib(8)

Fibonacci Sequence:
0
1
1
2
3
5
8
13

In [24]:
fib(10)

Fibonacci Sequence:
0
1
1
2
3
5
8
13
21
34

6.Create a Factorial with Functions and loops

In [25]:
def factorial(x):
  factorial = 1
  for every_datapoint in range(1, x + 1):
    factorial *= every_datapoint
  print("The factorial of the given number is: ",factorial)

In [27]:
factorial(7)

The factorial of the given number is:  5040