In [ ]:
#Q1. Create different variables to store your name, your age, and your parents name. a. Print your name. b. Create more variables needed for the Biodata. c. Now print your whole biodata using above variables.

In [ ]:
name="hari chandan"
print(name)

hari chandan

In [ ]:
name="hari chandan"
edu="msc statisics"
clg="pondicherry university"
age="21"
print(name)
print(edu)
print(clg)
print(age)

hari chandan
msc statisics
pondicherry university
21

In [ ]:
print(name,edu,clg,age)

hari chandan msc statisics pondicherry university 21

#Q2. Create two variables. One to store your First name and another to store your surname. Now, Print your name so that the surname prints first.

[6]
0s

In [ ]:
fname="hari chandan"
sname="tharala"
print(sname,fname)

tharala hari chandan

#Q3. Write rules on how to create a variable in a markdown cell using text formatting.

#1.variables should not start with numbers. 2.variables can end with numbers. 3.variables should not have spaces in between we use underscore. 4.coming to special characters we can use only underscore.

# Q4. Create a variable called break and assign it a value 16. See what happens, and find out the reason behind the behavior that you see.

In [ ]:
break=16
print(break)

SyntaxError: invalid syntax (<ipython-input-8-49de0d72f05a>, line 1)

# As the Break is a keyword so we will get error.

# Q5.
    a. Assign the values 1, 2, and 3 to the variables x, y, and z, respectively, in a single line.
    b. Print the values of x, y, and z.

In [ ]:
x=1
y=2
z=3
print(x)
print(y)
print(z)
print(x,y,z)

1
2
3
1 2 3