In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
# Cross tab is most used to calculate probabilty
df.iloc[0,0]

1

In [2]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

3. Extract the titles (Mr., Mrs., Miss, etc.) from the names of passengers. What is the most common title?

In [3]:
df[["First","Last"]] = df["Name"].str.split(",",expand = True)
df[["First","Last"]]
a = df["Last"].str.split(".",expand = True)
a[0].value_counts().idxmax()

' Mr'

In [4]:
df[["First","Last"]] = df["Name"].str.split(",",expand = True)
df[["First","Last"]]

         First                                         Last
0       Braund                              Mr. Owen Harris
1      Cumings   Mrs. John Bradley (Florence Briggs Thayer)
2    Heikkinen                                  Miss. Laina
3     Futrelle           Mrs. Jacques Heath (Lily May Peel)
4        Allen                            Mr. William Henry
..         ...                                          ...
886   Montvila                                  Rev. Juozas
887     Graham                         Miss. Margaret Edith
888   Johnston               Miss. Catherine Helen "Carrie"
889       Behr                              Mr. Karl Howell
890     Dooley                                  Mr. Patrick

[891 rows x 2 columns]

1. Find the most common cabin deck based on the Cabin column. Which deck is the most common?

In [73]:
df["Cabin"].str[0].value_counts().idxmax()

'C'

In [74]:
df["Cabin"].str[0].mode()

0    C
Name: Cabin, dtype: object

10. Calculate the proportion of passengers who survived based on their title. What is the avg survival rate for passengers with the title 'Mr'?

In [18]:
df[["First","Last"]] = df["Name"].str.split(",",expand = True)
df[["First","Last"]]
a = df["Last"].str.split(".",expand = True)
d = a[0].value_counts()
d
e = df["Survived"].value_counts()[0]
e
df["Survived","Last"]

ValueError: No axis named 549 for object type DataFrame