#### 1.Which year had the highest number of recorded athletes?

In [1]:
import pandas as pd
import numpy as np
olym = pd.read_csv("pandas datasets/summer.csv")
olym

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

1. Which year had the highest number of recorded athletes?

In [37]:
print("highest number of recorded athlets participated in",olym["Year"].value_counts().idxmax())

highest number of recorded athlets participated in 2008

2. Which city hosted the Olympics the most number of times?

In [18]:
print("Most number of times olympics happened in " , olym["City"].value_counts())
print("Most number of times olympics happened in " , olym["City"].value_counts().idxmax())

Most number of times olympics happened in  City
London                   3567
Athens                   2149
Los Angeles              2074
Beijing                  2042
Sydney                   2015
Atlanta                  1859
Barcelona                1705
Seoul                    1546
Paris                    1396
Moscow                   1387
Montreal                 1305
Antwerp                  1298
Munich                   1185
Mexico                   1031
Tokyo                    1010
Helsinki                  889
Stockholm                 885
Melbourne / Stockholm     885
Rome                      882
Berlin                    875
Amsterdam                 710
St Louis                  470
Name: count, dtype: int64
Most number of times olympics happened in  London

3. Which country has the most number of athletes recorded in this dataset?

In [12]:
print("Most number of athletes recorded in ",olym["Country"].value_counts().idxmax())

Most number of athletes recorded in  USA

4. Which gender has won more medals according to this dataset?

In [52]:
olym.groupby("Gender")["Medal"].count()

Gender
Men      22746
Women     8419
Name: Medal, dtype: int64

In [6]:
olym["Medal"].value_counts()
# sum = 0
# for i in range(len(olym["Medal"].value_counts())):
#     sum = sum + olym["Medal"].value_counts()[i]
# print(sum)

Medal
Gold      10486
Bronze    10369
Silver    10310
Name: count, dtype: int64

5. Which country won the most gold medals in the 2008 Olympics?

In [7]:
most_gold_2008 = olym[(olym['Year'] == 2008) & (olym['Medal'] == 'Gold')]['Country'].mode()[0]
most_gold_2008

'USA'

6. Which athlete has the highest number of medals in a single Olympics year?

In [8]:
most_medals_athlete = olym.groupby(['Athlete', 'Year'])['Medal'].count().idxmax()[0]
most_medals_athlete

'DITYATIN, Aleksandr'

8. Which country has the most diverse range of sports in which it has won medals?

In [10]:
most_diverse_sports_country = olym.groupby('Country')['Sport'].nunique().idxmax()
most_diverse_sports_country

'USA'

In [ ]:
9. How many athletes have won medals in more than one Olympic Games?

In [11]:
multi_game_medalists = olym.groupby('Athlete')['Year'].nunique().gt(1).sum()
multi_game_medalists

3973

10. Which sport has the highest number of different medal-winning countries?

In [13]:
most_medal_countries_sport = olym.groupby('Sport')['Country'].nunique().idxmax()
most_medal_countries_sport

'Athletics'