In [1]:
name="python"
if name == "java" or "css" or "html":
    print("log in successful")
else:
    print("not valid")
#check down comments frst it compares name == java "F"
#then "css" considers true bcoz it not an mpty string
#considers as true value so "F" or "T" T or T gives T 
#so it runs Print under the If condition

log in successful

In [14]:
0,0.0,"" #gives true when we use not
#here when we give empty string with no spaces it 
#considers as no value so its "false" ans will be "true"
#when not is used to compare condition with "" so it results "true"
not ""

True

In [3]:
not ""

True

In [4]:
not "h"

False

In [4]:
if "":
    print("jhfdds")

In [5]:
if 2 == 3:
    print("jhfdds")
print("udshufdh")

udshufdh

In [17]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + "* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [5]:
lst=[4,5,6]
lst2=lst
lst2[0]=3
print(lst2)
print(lst)
#it is saving to same memory so both are updating

[3, 5, 6]
[3, 5, 6]

In [8]:
import copy
lst=[4,5,6]
lst2=copy.copy(lst)
lst2[0]=5
print(lst2)
print(lst)

[5, 5, 6]
[4, 5, 6]

In [10]:
def fun(x,y=[]):
    y.append(x)
    return y

print(fun(1))
print(fun(2,[]))
print(fun(3))
#it is going step by step as default mpy list updated to 1 so it is re using

[1]
[2]
[1, 3]
[1, 3, 2]

In [11]:
x=(1,2,3)
y=(4,5,6)
z=x+y
z[3]=4
print(z)

TypeError: 'tuple' object does not support item assignment

In [12]:
x="hari"
y=x.join(["1","4","3"])
print(y)
#first takes inside joins elements then joins to x

1hari4hari3

In [17]:
a="innomatics"
"-".join(a)

'i-n-n-o-m-a-t-i-c-s'

In [2]:
dict1={1:"yash",2:"kausthub",3:"ayush",4:"chandan"}
dict1.get(5,"not found")

'not found'

In [3]:
#take a userinput string if the length of string is less than equal to 3 
#print the userinput as it is otherwise print first 2 letters and last 2 letters of string

name=input("enter a name: ")
print(name[0:2]+name[-2::])

enter a name: harichandan
haan

In [6]:
#dictionary comprehension for num and square
dict1={h:h*h for h in range(1,9) }
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [13]:
dict2=["hari","chandu","vivek","mean","median"]
a=dict.fromkeys(dict2,"chikmarthu")
print(a)

{'hari': 'chikmarthu', 'chandu': 'chikmarthu', 'vivek': 'chikmarthu', 'mean': 'chikmarthu', 'median': 'chikmarthu'}

In [17]:
a["hari"]

'chikmarthu'

In [2]:
a=[1,0,3,2,2,2,2,2,3]
b=[]
for i in a:
    if i not in b:
        b.append(i)
b

[1, 0, 3, 2]

In [8]:
a=[1,0,3,2,2,2,2,2,3]
b=[]
for i in a:
    if i in b:
        pass
    else:
        b.append(i)
print(b)

[1, 0, 3, 2]

In [11]:
a=[1,0,3,2,2,2,2,2,3]
b=set()
for i in a:
    if i not in b:
        b.append(i)
print(b)

AttributeError: 'set' object has no attribute 'append'

In [2]:
a=(1,2,4,5,3)
x,*y,z=a
y #packing nd unpacking

[2, 4, 5]

In [7]:
l1=list(range(1,100))
l2=list(range(101,200))
# print(l1)
# print(l2)
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
print(l3)

[102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298]

In [6]:
l1=list(range(1,100))
l2=list(range(101,200))
# print(l1)
# print(l2)
l3=[]
for i,j in zip(l1,l2):
    l3.append(i+j)
print(l3)

[102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298]

In [38]:
string1="my name is hari"
k={i:len(i)  for i in string1.split()}
k

{'my': 2, 'name': 4, 'is': 2, 'hari': 4}

In [1]:
class hari:
    def chandan(self):
        return "hari"
class harika(hari):
    def mani(self):
        return "322"
    
a1=harika()
a1.mani()
# We can use return also in oops

'322'

In [2]:
a = "we are having debate on love proposal"
b = {i : }

SyntaxError: expression expected after dictionary key and ':' (316500048.py, line 2)

In [3]:
a = [1,2,3,4]
a[1] = "Hari"
a

[1, 'Hari', 3, 4]

In [7]:
a = "a"
a[0] = "chan"
a

TypeError: 'str' object does not support item assignment

In [12]:
# String example
my_string = "hello"

# Accessing characters by index
print(my_string[0])  # Output: 'h' (first character)
print(my_string[4])  # Output: 'o' (fifth character)

# Slicing a string
print(my_string[1:4])  # Output: 'ell' (from index 1 to 3)

# Strings are immutable; you can't change characters directly
# my_string[0] = 'H'  # This will give an error

# You can create a new string if you want to modify it
new_string =  my_string[0:]+"K"
print(new_string)  # Output: 'Hello'

h
o
ell
helloK

In [6]:
a = [1,2,3,"hari",[1,2]]
import copy
b = copy.copy(a)
b[4][0] = "chandan"
print(a,b)

[1, 2, 3, 'hari', ['chandan', 2]] [1, 2, 3, 'hari', ['chandan', 2]]

In [7]:
a = "earth revolves around the sun"
a[6:14]

'revolves'

In [6]:
a = "earth revolves around the sun"
a[-3:]

'sun'

In [1]:
a = "earth revolves around the sun"
for i in enumerate(a):
    print(i)

(0, 'e')
(1, 'a')
(2, 'r')
(3, 't')
(4, 'h')
(5, ' ')
(6, 'r')
(7, 'e')
(8, 'v')
(9, 'o')
(10, 'l')
(11, 'v')
(12, 'e')
(13, 's')
(14, ' ')
(15, 'a')
(16, 'r')
(17, 'o')
(18, 'u')
(19, 'n')
(20, 'd')
(21, ' ')
(22, 't')
(23, 'h')
(24, 'e')
(25, ' ')
(26, 's')
(27, 'u')
(28, 'n')

In [16]:
a="ramya"
b="ramya"
print(id(a),id(b))

2278376930864 2278376930864

In [21]:
a ="have a cup of have"
a.replace("have","boy")

'boy a cup of boy'

In [22]:
a = "harichandan is statistics student"
print(a.capitalize())
print(a.title())

Harichandan is statistics student
Harichandan Is Statistics Student

In [6]:
number = 10
list1 = []
for i in range(10):
    if (i % 3 == 0) and (i % 5 == 0):
        list1.append("FIZZBUZZ")
    elif i % 3 == 0:
        list1.append("FIZZ")
    elif i % 5 == 0:
        list1.append("BUZZ")
    else:
        list1.append(str(i))
        
print(list1)

['FIZZBUZZ', '1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ']

In [15]:
# prime

number = 32
count = 0
for i in range(1,number+1):
    if number % i == 0:
        count = count+1
if count == 2 :
    print("prime number")
else:
    print("not a prime")

not a prime

In [17]:
primes = []
for i in range(1,100+1):
    count = 0
    for j in range(1,i+1):
        if i % j == 0:
            count = count+1
    if count ==2:
        primes.append(i)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [21]:
primes = []
composite=[]
for i in range(1,100+1):
    count = 0
    for j in range(1,i+1):
        if i % j == 0:
            count = count+1
    if count ==2:
        primes.append(i)
    else:
        composite.append(i)
print(primes,"\n")
print(composite)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

[1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]

In [23]:
# factorial 

number = 5
factorial = 1
for i in range(1,number+1):
    factorial = factorial * i
print(factorial)

120

In [26]:
def factorial(n):
    for i in range(1,n+1):
        if (n == 0) or (n ==1):
            return 1
        else:
            return n * factorial(n-1)

factorial(7)

5040

In [29]:
# fibonacci

num1 = 0
num2 = 1
a = [0,1]
for i in range(10):
    num3 = num1+num2
    a.append(num3)
    num1 = num2
    num2 = num3

print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [40]:
number = 153
a = sum(int(i) ** len(str(number)) for i in str(number))
if a == number:
    print("armstrong")

armstrong

In [43]:
number = 155
arm = sum(int(i) ** len(str(number)) for i in str(number))
if arm == number:
    print("its armstrong")
else:
    print("its not armstrong")

its not armstrong

In [45]:
a = [1,2,2,3,4,5,6,9]
maxx = a[0]
for i in range(len(a)):
    if maxx < a[i]:
        maxx = a[i]
print(maxx)

9

In [49]:
b = [1220,334,536,849,999]
minn = b[0]
for i in range(len(b)):
    if b[i] < minn:
        minn = b[i]
print(minn)

334

In [52]:
# len

d = [1,1,2,2,3,49,3,3,3,3,3,3]
count = 0
for i in d:
    count = count+1
print(count)
len(d)

12

12

In [64]:
a = "i am having interview tomorrow so go on time to interview"

dictt = {}
for i in a.split(" "):
    dictt[i] = dictt.get(i,0) + 1
print(dictt)

{'i': 1, 'am': 1, 'having': 1, 'interview': 2, 'tomorrow': 1, 'so': 1, 'go': 1, 'on': 1, 'time': 1, 'to': 1}

In [69]:
a = "i am having interview tomorrow so go go go go go go on on on on on on on  on time to interview"

dictt = {}
l=a.split()
for i in l:
    if i not in dictt:
        dictt[i]=l.count(i)
dictt

{'i': 1,
 'am': 1,
 'having': 1,
 'interview': 2,
 'tomorrow': 1,
 'so': 1,
 'go': 6,
 'on': 8,
 'time': 1,
 'to': 1}

In [72]:
# Duplicates

listt = [1,0,-1,-3,2,2,2,2,2,3,3,3,344,4,4,4,44,5,5,5,5,67,78]
 
a = []

count = 0
for i in listt:
    if i not in a:
        a.append(i)
    elif i in a:
        count = count+1
    elif count ==2:
        break
print(a)

[1, 0, -1, -3, 2, 3, 344, 4, 44, 5, 67, 78]

In [76]:
a = [23,45,67,89,10,20,30,45]
b = []

for i in range(len(a)-1,-1,-1):
    b.append(a[i])
print(b)

[45, 30, 20, 10, 89, 67, 45, 23]

In [77]:
c = [12,34,56,78,89]
d = []
n = len(c)
for i in range(n//2):
    c[i],c[n-i-1] = c[n-i-1],c[i]
print(c)

[89, 78, 56, 34, 12]

In [78]:
a = [34,56,78,89]
summ = 0
for i in range(len(a)):
    summ = summ + a[i]
print(summ)

257

In [80]:
from collections import Counter

a = [12,12,1,2,3,3,33,45,56,67,56,56,5,556,5,556,56,56,89]
b = ["hari","bunny","hari","hari"]
Counter(b)

Counter({'hari': 3, 'bunny': 1})

In [83]:
a = "hari hari hari bunny"
b = a.split(" ")
c = {}
for i in b:
    if i not in c:
        c[i] = b.count(i)
print(c)

{'hari': 3, 'bunny': 1}

In [86]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [87]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [88]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [90]:
a = {i:i**3 for i in range(10)}
print(a)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [96]:
b = ["even" if i % 2 == 0 else "odd" for i in a]
def number(a):
    if n % 2 == 0:
        return True
    else:
    a = [12,23,34,56,78]

list(filter((number,a))

SyntaxError: incomplete input (1861105420.py, line 10)