In [1]:
# capitalize()	Converts the first character to upper case
# casefold()	Converts string into lower case
# center()	Returns a centered string
# count()	Returns the number of times a specified value occurs in a string
# endswith()	Returns true if the string ends with the specified value
# find()	Searches the string for a specified value and returns the position of where it was found
# isalnum()	Returns True if all characters in the string are alphanumeric
# isalpha()	Returns True if all characters in the string are in the alphabet
# isdecimal()	Returns True if all characters in the string are decimals
# isdigit()	Returns True if all characters in the string are digits
# index()	Searches the string for a specified value and returns the position of where it was found
# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isupper()	Returns True if all characters in the string are upper case
# join()	Converts the elements of an iterable into a string
# ljust()	Returns a left justified version of the string
# rjust()	Returns a right justified version of the string
# lower()	Converts a string into lower case
# lstrip()	Returns a left trim version of the string
# replace()	Returns a string where a specified value is replaced with a specified value
# rfind()	Searches the string for a specified value and returns the last position of where it was found
# rindex()	Searches the string for a specified value and returns the last position of where it was found
# rjust()	Returns a right justified version of the string
# ljust()	Returns a left justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	Splits the string at the specified separator, and returns a list
# rstrip()	Returns a right trim version of the string


# split()	Splits the string at the specified separator, and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	Returns a trimmed version of the string
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# upper()	Converts a string into upper case
# zfill()	Fills the string with a specified number of 0 values at the beginning

In [162]:
# Recap - 

# Type Casting


number1 = 2.5
print(number1)
print(type(number1))

2.5
<class 'float'>

In [165]:
# int(),float(),str()


print(type(int(2.5)))
print(type(float(2)))

<class 'int'>
<class 'float'>

In [164]:
float(2)

2.0

In [ ]:
# Number of Rooms 
# 3.0
# 4.0
# 8.0

# 3
# 4
# 8

In [166]:
f = str(3)
print(f)
print(type(f))

3
<class 'str'>

In [167]:
# I earn 40000"

In [ ]:
# String bultin methods

In [ ]:
# capitalize()	Converts the first character to upper case
# casefold()	Converts string into lower case
# center()	Returns a centered string
# count()	Returns the number of times a specified value occurs in a string
# endswith()	Returns true if the string ends with the specified

In [171]:
text = "hello world Im Python ABCCCC"

print(text.capitalize())
print(text.casefold())

Hello world im python abcccc
hello world im python abcccc

In [180]:
print(text.center(20),"$$$") # text alignment

hello world Im Python ABCCCC $$$

In [175]:
help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [183]:
# count()

"I am charan. I work as a Data Scientist".count("charan")

# applications:
# erros 


# chatbot - action words and keywords

# actionword - issue
# keywords - remote not working

1

In [188]:
# endswith() - endswith (we are tying to find if the last word or alphabet is having the value of input)

"Hello Good Morning".endswith("morning")

False

In [187]:
"Hello Good Morning".lower()

'hello good morning'

In [195]:
# Case Sensitive - 

text_1 = "ABCD"
# text_2 = text_1.lower()
# text_3 = text_2.endswith("d")

# complicate

# print(text_1)
# print(text_2)
# print(text_3)

text_1.lower().endswith("d")

True

In [ ]:
# find()	Searches the string for a specified value and returns the position of where it was found
# isalnum()	Returns True if all characters in the string are alphanumeric
# isalpha()	Returns True if all characters in the string are in the alphabet
# isdecimal()	Returns True if all characters in the string are decimals
# isdigit()	Returns True if all characters in the string are digits
# index()	Searches the string for a specified value and returns the position of where it was found
# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isupper()	Returns True if all characters in the string are upper case

In [198]:
# find

text = "rain is falling" # User Input

text.find("falling") # index value (positive)


# Indexing - accessing a datapoint - searching or finding that particular alphabet or word

8

In [ ]:
# isalnum()- is aplha numeric or not 
# isalpha() - is alphabets not not
# isdecimal()	is the input having numbers or not
# isdigit() -->

In [ ]:
# index()	Searches the string for a specified value and returns the position of where it was found
# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isupper()	Returns True if all characters in the string are upper case

In [220]:
text = "python is a programming language"

text.index("p")

# positive - 

# as a human you know that python, programming

0

In [210]:
print(text[12:23])

programming

In [211]:
# isidentifier

# builtin functions in your python

In [212]:
"print".isidentifier()

True

In [214]:
"$$charan".isidentifier()

# lower case
# it should never start with number
# it can end with a number
# apart from underscore you cannot use any special characters

False

In [217]:
"_wines9".isidentifier()

True

In [219]:
"smoking_is_injurious".isidentifier()

True

In [232]:
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isupper()


print("hEllo 9".islower())
print("123".isnumeric())
print("HELLO".isupper())

False
True
True

In [234]:
"sky is blue sun is red".index("sky")

0

In [251]:
input_1 = "sky is blue sun is red"

print(input_1[-3:]," value for output 1")
print(input_1[-3:],"answer for output 2")
#

red  value for output 1
red answer for output 2

In [ ]:
# positive - 0 ---- len(word)-1
# negative - -len(word) ---- -1

In [ ]:
# join()	Converts the elements of an iterable into a string
# ljust()	Returns a left justified version of the string
# rjust()	Returns a right justified version of the string
# lower()	Converts a string into lower case
# lstrip()	Returns a left trim version of the string

In [252]:
# split - it will split the text into words

d = "I am charan. Im 26 years old"
d.split(" ") # it will break the entrie text into bunch of words

['I', 'am', 'charan.', 'Im', '26', 'years', 'old']

In [258]:
# join()

# Sai 
# Charan

# syntax: bridge.join(input_1,input_2)
# bridge: " ", ".","--"

"-*-".join(["sai","charan","is","a","data scientist"])

'sai-*-charan-*-is-*-a-*-data scientist'

In [259]:
# Surname
# First name
# last name

surname = input("please enter your surname")
firstname = input("please enter your first name")
lastname = input("please enter your last name")
full_name = " ".join([surname,firstname,lastname])

print("Hello",full_name,"Good Morning")

please enter your surnameKarri
please enter your first nameSai
please enter your last nameCharan
Hello Karri Sai Charan Good Morning

In [268]:
"charan".ljust(30,"0")

'charan000000000000000000000000'

In [267]:
"charan".rjust(30,"0")

'000000000000000000000000charan'

In [ ]:
# function(input1,input2) ----> output

# input1 = should have length of atleast 8 characters
# input2 = should have lenght of atleast 8 characters

# input1 = 5 + 3 elements = 8 characters 
# padding layyer = 3


# A * B = 
# number of cols of A == numer of rows of B

# A - 2*2
# B - 3*3 

# padding layer with 0

# 2*2 | 3*3

# add a padding : A -> 3*3



# Table - 1000 * 20 columns 

# ML | DL with 20 columns - Function(20_inputs) --> output


# in order to process the computation faster youll have to reduce the 
# inputs - 4_input

In [271]:
"    Hello Good Morning  ".lstrip()
# trims all the white spaces towards the left of the text

'Hello Good Morning  '

In [272]:
"    Hello Good Morning  ".rstrip()

'    Hello Good Morning'

In [273]:
"    Hello Good Morning  ".strip()

'Hello Good Morning'

In [ ]:
" Name "
"Age "
" Gender"


# trim space 

# accessin - indexing

table[" colname"]
table[" Name "]
table["Name"]

In [ ]:
# replace()	Returns a string where a specified value is replaced with a specified value
# rfind()	Searches the string for a specified value and returns the last position of where it was found
# rindex()	Searches the string for a specified value and returns the last position of where it was found
# rjust()	Returns a right justified version of the string
# ljust()	Returns a left justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	Splits the string at the specified separator, and returns a list
# rstrip()	Returns a right trim version of the string


# split()	Splits the string at the specified separator, and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	Returns a trimmed version of the string
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# upper()	Converts a string into upper case
# zfill()	Fills the string with a specified number of 0 values at the beginning

In [274]:
"I earn 2k per month".replace("2k","2000")

'I earn 2000 per month'

In [284]:
"Apple is red ball is red red red red red".rfind("red")

37

In [285]:
"Apple is red ball is red red red red red".rindex("red")

37

In [283]:
"Apple is red ball is red".index("red")

9

In [287]:
"Python".rjust(20)

'              Python'

In [288]:
"Python".ljust(20)

'Python              '

In [289]:
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	Splits the string at the specified separator, and returns a list
# rstrip()	Returns a right trim version of the string

In [298]:
"moye moye $ datascience".rpartition("$")

('moye moye ', '$', ' datascience')

In [299]:
"moye = moye = datascience".rpartition("=")

('moye = moye ', '=', ' datascience')

In [293]:
"moye moye datascience".rpartition("-")

('', '', 'moye moye datascience')

In [294]:
"moye moye datascience".rpartition("/")

('', '', 'moye moye datascience')

In [300]:
"13/11/1997/GoodMorning".rpartition("/")

('13/11/1997', '/', 'GoodMorning')

In [301]:
"13/11/1997/GoodMorning".rpartition(" ")

('', '', '13/11/1997/GoodMorning')

In [302]:
help(str.rpartition)

Help on method_descriptor:

rpartition(self, sep, /)
    Partition the string into three parts using the given separator.

    This will search for the separator in the string, starting at the end. If
    the separator is found, returns a 3-tuple containing the part before the
    separator, the separator itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing two empty strings
    and the original string.

In [304]:
"hello world im python".rsplit(" ")

['hello', 'world', 'im', 'python']

In [307]:
"hello world im python  ".rstrip(" ")

'hello world im python'

In [309]:
"   hello world im python  ".lstrip(" ")

'hello world im python  '

In [310]:
# startswith()	Returns true if the string starts with the specified value
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# upper()	Converts a string into upper case
# zfill()	Fills the string with a specified number of 0 values at the beginning

In [313]:
"Python".lower().startswith("p")

True

In [314]:
"Hello Good Morning".swapcase()

'hELLO gOOD mORNING'

In [315]:
"Hello World Im Python".upper()

'HELLO WORLD IM PYTHON'

In [316]:
"Hello World Im Python".lower()

'hello world im python'

In [317]:



# single datapoint

# int, float, string

# Table - Univariate Analysis - Working on all the data points in a column 

# variable = storing the datapoint that you want to work on 

# variable = store multiple datapoints

In [321]:
name = "charan"
print(name)
print(type(name))

charan
<class 'str'>

In [322]:
name = "charan","rakesh","sudhir"
print(name)
print(type(name))

('charan', 'rakesh', 'sudhir')
<class 'tuple'>

In [323]:
# Data Storing Unit - Data Structure 

# list
# tuple
# dictionary
# set 


name = ('charan', 'rakesh', 'sudhir')

#join every name with innomatics 

# name =20000 names
#

In [324]:
name[0]

'charan'

In [328]:
" ".join([name[0],"Innomatics"])

'charan Innomatics'

In [325]:
name[1]

'rakesh'

In [326]:
name[2]

'sudhir'

In [ ]:
name[19999]

In [330]:
for every_element in name:
#     print(every_element)
    print(" ".join([every_element,"Innomatics"]))

charan Innomatics
rakesh Innomatics
sudhir Innomatics