In [ ]:
# Create a list of five integers and print the list.

# Append the number 10 to the end of an existing list.

# Insert the number 5 at the second position in a list.

# Remove the first occurrence of the number 3 from a list.

# Pop the last element from a list and print the modified list.

# Sort a list of numbers in ascending order.

# Reverse the elements of a list.

# Count the number of occurrences of the number 7 in a list.

# Find the index of the first occurrence of the number 4 in a list.

# Extend a list by appending elements from another list.

# Clear all elements from a list.

# Create a copy of a list.
# Concatenate two lists and print the result.
# Check if the number 8 is in a list.
# Create a list of five strings and sort them in alphabetical order.
# Use the len() function to find the length of a list.
# Slice a list to get the first three elements.
# Use a loop to iterate through a list and print each element.
# Convert a string to a list of characters.

In [50]:
variable="Something"

In [52]:
# Case1:

H = []
for every_datapoint in variable:
    H.append(every_datapoint)
print(H)

['S', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']

In [54]:
# Case2:

PP = list("Something")
print(PP)

['S', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']

In [55]:
# Case3

E = []
E.extend("Something")
print(E)

['S', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']

In [57]:
"charan".split(" ")

['charan']

In [61]:
# Case1
f = ["charan","Innomatics","Kukatpally"]

li = []
for i in range(len(f)):
    li.extend(f[i])
print(li)

['c', 'h', 'a', 'r', 'a', 'n', 'I', 'n', 'n', 'o', 'm', 'a', 't', 'i', 'c', 's', 'K', 'u', 'k', 'a', 't', 'p', 'a', 'l', 'l', 'y']

In [67]:
# Case2

new_list = []
for every_datapoint in f:
    new_list.extend(list(every_datapoint))
print(new_list)

['c', 'h', 'a', 'r', 'a', 'n', 'I', 'n', 'n', 'o', 'm', 'a', 't', 'i', 'c', 's', 'K', 'u', 'k', 'a', 't', 'p', 'a', 'l', 'l', 'y']

In [ ]:
# Slice a tuple to get the first two elements.
# Find the length of a tuple.
# Convert a list to a tuple.
# Check if the number 5 is in a tuple.
# Use a loop to iterate through a tuple and print each element.
# Create a tuple of five strings and access the last element.
# Create a nested tuple and access an element from the inner tuple..
# Create an empty tuple and print it.
# Check if a tuple is immutable by attempting to change an element.

In [68]:
# Use tuple unpacking to assign the elements of a tuple to individual variables.

v1 = 1
v2 = 2
v3 = 3
v4 = 4

In [69]:
# unpacking - 

F = [1,2,3,4]

v1,v2,v3,v4 = F

In [70]:
print(v1)
print(v2)
print(v3)
print(v4)

1
2
3
4

In [74]:
F = [1,2,3,4]

v1,v2,*v3 = F

In [75]:
print(v1)
print(v2)
print(v3)

1
2
[3, 4]

In [76]:
# functions

def add(x1,x2):
    return x1+x2

In [78]:
add(11,22222)

22233

In [81]:
def operations(x1,x2):
    
    add = x1+x2
    sub = x1-x2
    mul = x1*x2
    div = x1/x2
    
    return add,sub,mul,div

In [83]:
v1,v2,v3,v4 = operations(1,2)

In [84]:
print(v1)
print(v2)
print(v3)
print(v4)

3
-1
2
0.5

In [86]:
# Dictionary

# Storing words
# Searching words 
# Meanings


# Dictionary - Word and its meaning
# Key,Value pairs

# Dict - {key_name:value}
# you can access a dictionary by its key_name

# variable_name["key_name"]

In [87]:
my_dictionary = {"name":"charan","age":26,"weight":90}

In [89]:
my_dictionary["name"]

'charan'

In [90]:
my_dictionary["age"]

26

In [91]:
my_dictionary["weight"]

90

In [92]:
my_dictionary.keys()

dict_keys(['name', 'age', 'weight'])

In [93]:
my_dictionary.values()

dict_values(['charan', 26, 90])

In [143]:
my_dictionary_1 = {"Maths":45,"Science":55,"Social":20} # before correction

In [144]:
for every_datapoint in my_dictionary_1.keys():
    my_dictionary_1[every_datapoint] +=15
    # a = 20
    # a = a + 20
    # a += 20
print(my_dictionary_1)

{'Maths': 60, 'Science': 70, 'Social': 35}

In [150]:
sum(my_dictionary_1.values())

165

In [149]:
my_dictionary_1.values()

dict_values([60, 70, 35])

In [151]:
len(my_dictionary_1)

3

In [152]:
avg = sum(my_dictionary_1.values())/len(my_dictionary_1)

In [153]:
print(avg)

55.0

In [154]:
# syntax:

#variable_name["newkey"] = "value"

my_dictionary_1["average"] = avg

In [155]:
my_dictionary_1

{'Maths': 60, 'Science': 70, 'Social': 35, 'average': 55.0}

In [156]:
# 3 rows 3 columns 
my_dictionary_1 = {"Maths":[45,40,30],"Science":[10,50,20],"Social":[45,40,30]} # before correction

In [ ]:
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and value
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()	Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary

In [178]:
my_dictionary = {"Name":"charan","age":26}

In [181]:
xyz = {"A":"charan","B":26,"C":True}

In [184]:
# once i create something i should be able to access it 

# syntax: variable["key_name"]

xyz["B"] = 34

print(xyz)

{'A': 'charan', 'B': 34, 'C': True}

In [190]:
# It allows different data types
# Not Ordered and Mutable
# 

A = 15
print(A,"value before updation")
A = 25
print(A,"value after updation")

print(A)

15 value before updation
25 value after updation
25

In [191]:
xyz = {"A":"charan","B":26,"C":True,"c":"innomatics"}

In [193]:
xyz

{'A': 'charan', 'B': 26, 'C': True, 'c': 'innomatics'}

In [197]:
# name 
# age
# gender

# and then create a dictionary 
# age is entered wrong you have to update it by +2


name = input("please enter your name :")
age = int(input("please enter your age :"))
gender = input("please enter your gender: ")


f = {"name":name,"age":age,"gender":gender}
print(f)

please enter your name :charan
please enter your age :26
please enter your gender: M
{'name': 'charan', 'age': 26, 'gender': 'M'}

In [206]:
# variable["key_name"]

print(f["age"] + 2) #access the age + 2
f["age"] = f["age"] + 2 #access the age + 2 and im also updating it
print(f["age"])

32
32

In [202]:
f

{'name': 'charan', 'age': 28, 'gender': 'M'}

In [208]:
Demo_Inf = {"name":["A","B","C"],"age":[17,18,19],"gender":["m","f","m"]}


# add 5 to A's Age subrtract 2from B's Age and multiply C's age with 2
# average of ages 
# create a key "avg_age_after_updation"


# i want to see the sum of the ages

# access the age 
# sum

# Average - sum and len

In [209]:
Demo_Inf["age"]

[17, 18, 19]

In [211]:
sum(Demo_Inf["age"])

54

In [212]:
len(Demo_Inf["age"])

3

In [213]:
avg = sum(Demo_Inf["age"]) / len(Demo_Inf["age"])

In [214]:
avg

18.0

In [215]:
# variable["key_value"]

Demo_Inf["average"] = avg

In [216]:
Demo_Inf

{'name': ['A', 'B', 'C'],
 'age': [17, 18, 19],
 'gender': ['m', 'f', 'm'],
 'average': 18.0}

In [217]:
Demo_Inf = {"name":["A","B","C"],"age":[17,18,19],"gender":["m","f","m"]}

# add 5 to A's Age subrtract 2from B's Age and multiply C's age with 2
# average of ages 
# create a key "avg_age_after_updation"

Demo_Inf["age"]

[17, 18, 19]

In [225]:
Demo_Inf["age"][0] = Demo_Inf["age"][0] + 5 # add 5

In [226]:
Demo_Inf["age"][1] = Demo_Inf["age"][1] -2 # subtract 2

In [227]:
Demo_Inf["age"][2] = Demo_Inf["age"][2] * 2# multiply by 2

In [228]:
Demo_Inf

{'name': ['A', 'B', 'C'], 'age': [22, 16, 38], 'gender': ['m', 'f', 'm']}

In [229]:
Demo_Inf["age"]

[22, 16, 38]

In [230]:
sum(Demo_Inf["age"])

76

In [231]:
len(Demo_Inf["age"])

3

In [234]:
# sum of the observation/ number of bservations

average = round(sum(Demo_Inf["age"]) / len(Demo_Inf["age"]),2)

In [235]:
average

25.33

In [236]:
Demo_Inf

{'name': ['A', 'B', 'C'], 'age': [22, 16, 38], 'gender': ['m', 'f', 'm']}

In [237]:
# to add a new key 

# syntax: variable["key_name"] = value

In [238]:
Demo_Inf["avg_after_updation"] = average

In [239]:
Demo_Inf

{'name': ['A', 'B', 'C'],
 'age': [22, 16, 38],
 'gender': ['m', 'f', 'm'],
 'avg_after_updation': 25.33}

In [ ]:
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and value
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()	Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary

In [241]:
copy_df = Demo_Inf.copy()

In [243]:
# clear

# Variable_name.method()

copy_df.clear()

In [244]:
copy_df

{}

In [245]:
# dict - key and a value

Demo_Inf.values()

dict_values([['A', 'B', 'C'], [22, 16, 38], ['m', 'f', 'm'], 25.33])

In [246]:
Demo_Inf.keys()

dict_keys(['name', 'age', 'gender', 'avg_after_updation'])

In [247]:
Demo_Inf.items()

dict_items([('name', ['A', 'B', 'C']), ('age', [22, 16, 38]), ('gender', ['m', 'f', 'm']), ('avg_after_updation', 25.33)])

In [248]:
# get 

Demo_Inf.get("name")

['A', 'B', 'C']

In [249]:
Demo_Inf.get("gender")

['m', 'f', 'm']

In [251]:
Demo_Inf.pop("name")

['A', 'B', 'C']

In [253]:
Demo_Inf.popitem()

('avg_after_updation', 25.33)

In [254]:
Demo_Inf

{'age': [22, 16, 38], 'gender': ['m', 'f', 'm']}

In [260]:
# update

Demo_Inf.update({"age":23})

In [261]:
Demo_Inf

{'age': 23, 'gender': ['m', 'f', 'm']}

In [262]:
H = dict(name="charan",age=23,gender="male")

In [263]:
H

{'name': 'charan', 'age': 23, 'gender': 'male'}

In [271]:
f = {1:"a",2:"b",3:"c"}

In [272]:
f

{1: 'a', 2: 'b', 3: 'c'}

In [267]:
f[1] = "charan"

In [268]:
f

{1: 'charan', 2: 'b', 3: 'c'}