In [1]:
# append()
# clear()
# copy()
# count()
# extend()
# index()
# insert()
# pop()
# remove()
# reverse()
# sort()

In [8]:
# List = data points are enclosed between "[ ]"

my_list = [1,2,3,4,5,6,7,8,9,10] 

print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [11]:
# Accessing a list

# You can access a list by using indexing

# syntax: variable[index_value]

print(my_list[4]) # accessing a single element

print(my_list[1:3]) # accessing multiple elements by slicing

print(my_list[1:4:3]) # accessing multiple elements by slicing with a step value

5
[2, 3]
[2]

In [14]:
# Indexing is for accesing the data - single datapoint
# Slicing is for accessing the data - multiple datapoints

In [16]:
F = ["Charan",2,3,0,-1,True]
print(F)

['Charan', 2, 3, 0, -1, True]

In [33]:
# Properties of List

# It accepts different data types

# Can access it by indexing - ordered data structure

# Lists are mutable

# It allows duplicates

In [34]:
F = [1,2,3,4]

In [21]:
variable_1 = 45
variable_1 = 20

print(variable_1,"this is the value stored in my variable_1")

20 this is the value stored in my variable_1

In [30]:
# I want to change or update the value of 4 to 10

# replace the 4 with 10

D = [1,2,3,4]

# Human Lnaguage isnt understod computer
# Python lanuage to communicate with the computer


# I have to access the value
print(D[3])
# then ill update it 
D[3] = "charan"

4

In [31]:
print(D)

[1, 2, 3, 'charan']

In [32]:
D[0] = "Innomatice"
print(D)

['Innomatice', 2, 3, 'charan']

In [35]:
# Create a list with Surname, First Name, Last Name
# Print a welcome msg with (surname + Name + last Name)

In [44]:
my_list = ["Apple","Banana","Carrot"] # 20000 fruits like this 

# i want every word to be in a lower case

# variable.lower() 

print(my_list[0].upper())
print(my_list[1].upper())
print(my_list[2].upper())

APPLE
BANANA
CARROT

In [48]:
for every_element in my_list:
    #print(every_element) # in order to check if im able to access all the elements or not
    print(every_element.lower())
    print(every_element.swapcase())

apple
aPPLE
banana
bANANA
carrot
cARROT

In [51]:
my_list = ["Apple is red","Banana is yellow"]

In [57]:
# for every_element in my_list:
# #     print(every_element)
#     print(every_element.split(" "))
#     print(every_element.split(" ")[2])

['Apple', 'is', 'red']
red
['Banana', 'is', 'yellow']
yellow

In [ ]:
# print(every_element.split(" ")[0]

In [62]:
cup_board = ["orangeT","redT","blackj","bluej"] # Cupboard

# add few more clothes
# Seperate the clothes
# arrange the clothes 
# remove the clothes
# replace the clothes with new clothes
# Seperate jeans and t shirts

In [64]:
# GreenH i want to add it to my cupboard

# append()

# syntax: variable.append(value you want to add)

cup_board.append("GreenH") # ending of the list
# it takes in only one value

print(cup_board)

['orangeT', 'redT', 'blackj', 'bluej', 'GreenH', 'GreenH']

In [65]:
# I want to add belt,watch

cup_board.append("belt")
cup_board.append("watch")

print(cup_board)

['orangeT', 'redT', 'blackj', 'bluej', 'GreenH', 'GreenH', 'belt', 'watch']

In [72]:
# I want to add perfume,raincoat,lighter 

# extend()

# syntax: variable.extend(value you want to add)


cup_board.extend("perfume")
print(cup_board)

['orangeT', 'redT', 'blackj', 'bluej', 'GreenH', 'GreenH', 'belt', 'watch', 'perfume', 'raincoat', 'p', 'e', 'r', 'f', 'u', 'm', 'e', 'p', 'e', 'r', 'f', 'u', 'm', 'e']

In [74]:
# pop

cup_board.pop() # by default itll remove the last element

cup_board.pop(0)

'orangeT'

In [75]:
cup_board

['redT',
 'blackj',
 'bluej',
 'GreenH',
 'GreenH',
 'belt',
 'watch',
 'perfume',
 'raincoat',
 'p',
 'e',
 'r',
 'f',
 'u',
 'm',
 'e',
 'p',
 'e',
 'r',
 'f',
 'u',
 'm']

In [70]:
print(cup_board)

['orangeT', 'redT', 'blackj', 'bluej', 'GreenH', 'GreenH', 'belt', 'watch', 'perfume', 'raincoat']

In [82]:
# try to define a list with 3 elements 

# then add two elements to it using append

# add two elements using extend to it

# append and extend


g = [1,2,3]

g.append(["a","b"])

print(g)

[1, 2, 3, ['a', 'b']]

In [83]:
g.extend(["c","d"])

In [84]:
print(g)

[1, 2, 3, ['a', 'b'], 'c', 'd']

In [86]:
g[3]

['a', 'b']

In [87]:
g[3][1]

'b'

In [ ]:
# Nested List

In [88]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [89]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [101]:
g.extend(["charan","apple","GGGGG"])

# the more number of times you run these cells same operation will be repeated again and again

In [102]:
g

[1,
 2,
 3,
 ['a', 'b'],
 'c',
 'd',
 'c',
 'h',
 'a',
 'r',
 'a',
 'n',
 'charan',
 'charan',
 'apple',
 'charan',
 'apple',
 'charan',
 'apple',
 'charan',
 'apple',
 'GGGGG',
 'charan',
 'apple',
 'GGGGG']

In [116]:
my_list = [1,2,3]
my_list.append("Charan")

In [117]:
my_list

[1, 2, 3, 'Charan']

In [ ]:
# copy()
# index()
# insert()
# remove()
# reverse()
# sort()

In [115]:
# clear - removing all the elements in list

my_list.clear()
print(my_list)

[]

In [118]:
# del - deleting something

del my_list

In [119]:
print(my_list)

NameError: name 'my_list' is not defined

In [120]:
# count() - counting the number of repetitions of a datapoint

In [125]:
my_list = ["btech","btech","school","Inter","Inter","Inter"]

In [127]:
my_list.count("Inter")

3

In [128]:
my_list

['btech', 'btech', 'school', 'Inter', 'Inter', 'Inter']

In [132]:
# insert()

my_list.insert(,"charan") # index value / value

In [133]:
my_list

['charan', 'btech', 'btech', 'charan', 'school', 'Inter', 'Inter', 'Inter']

In [134]:
#len(my_list) - to find the lenght of the string

len(my_list)

8

In [135]:
# sum()

my_list = [1,2,3]

sum(my_list)

6

In [145]:
R = [45,67,83,67]


sum(R)

262

In [146]:
len(R)

4

In [147]:
avg = sum(R)/len(R)

In [148]:
print(avg)

65.5

In [149]:
min(R) # helps you to find the min value in that list

45

In [150]:
max(R) # helps you to find the max value in that list

83

In [151]:
# index() - index of the input give

R.index(67)

1

In [ ]:
# copy()
# remove()
# reverse()
# sort()

In [152]:
R.remove(67)

In [153]:
R

[45, 83, 67]

In [154]:
# copy()

In [158]:
F = [4,5,6]

G = F.copy()

In [156]:
F

[4, 5, 6]

In [157]:
G

[4, 5, 6]

In [159]:
# reverse()
# sort()

In [160]:
G

[4, 5, 6]

In [161]:
G.reverse()

In [162]:
G

[6, 5, 4]

In [163]:
G.sort(reverse=False) # Ascending Order

In [164]:
G

[4, 5, 6]

In [167]:
G.sort(reverse=True) # Descending Order

In [166]:
G

[6, 5, 4]

In [169]:
G = [1,2,2]
F = list([1,2,2])

In [170]:
G

[1, 2, 2]

In [171]:
F

[1, 2, 2]

In [172]:
# Tuple

my_tuple = (1,2,3,4)

In [173]:
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
# Properties of Tuple

# It accepts different data types 

# Can access it by indexing - ordered data structure

# Tuples are immutable

# It allows duplicates

In [175]:
my_tuple[0] = "charan"

TypeError: 'tuple' object does not support item assignment

In [176]:
my_tuple = (1,1,12,2,2,2,3,3,3,3,3)

In [177]:
my_tuple

(1, 1, 12, 2, 2, 2, 3, 3, 3, 3, 3)