In [ ]:
# add()	 	Adds an element to the set
# clear()	 	Removes all the elements from the set
# copy()	 	Returns a copy of the set
# difference()	-	Returns a set containing the difference between two or more sets
# difference_update()	-=	Removes the items in this set that are also included in another, specified set
# discard()	 	Remove the specified item
# intersection()	&	Returns a set, that is the intersection of two other sets
# intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
# isdisjoint()	 	Returns whether two sets have a intersection or not
# issubset()	<=	Returns whether another set contains this set or not
#  <	Returns whether all items in this set is present in other, specified set(s)
# issuperset()	>=	Returns whether this set contains another set or not
#  >	Returns whether all items in other, specified set(s) is present in this set
# pop()	 	Removes an element from the set
# remove()	 	Removes the specified element
# symmetric_difference()	^	Returns a set with the symmetric differences of two sets
# symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
# union()	|	Return a set containing the union of sets
# update()	|=	Update the set with the union of this set and others

In [82]:
# Sets - {}


my_set= {1,2,3}

print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [ ]:
# Properties

# It is unordered
# It is not mutable 
# It does not allow duplicates
# It accepts different Data types

In [87]:
{1,"Hello",0,4.5,True,False}

{0, 1, 4.5, 'Hello'}

In [88]:
int(True)

1

In [89]:
int(False)

0

In [90]:
{True,"Hello",False,4.5,1,0}

{4.5, False, 'Hello', True}

In [ ]:
# add()	 	Adds an element to the set
# clear()	 	Removes all the elements from the set
# copy()	 	Returns a copy of the set
# difference()	-	Returns a set containing the difference between two or more sets

In [91]:
# add()


A = {1,2,3,4}

A.add(400)

In [92]:
A

{1, 2, 3, 4, 400}

In [94]:
# clear()

A.clear()

print(A)

set()

In [95]:
del A

print(A)

NameError: name 'A' is not defined

In [97]:
# copy()

A = {1,2,3,4}
B = A.copy()

print(B)

{1, 2, 3, 4}

In [117]:
A = {1,2,3,4,5}
B = {2,3,4,6,8}

# A - B or A.difference(B)
# B - A or B.difference(A)

In [118]:
A.difference(B)

{1, 5}

In [119]:
B.difference(A)

{6, 8}

In [120]:
A

{1, 2, 3, 4, 5}

In [121]:
B

{2, 3, 4, 6, 8}

In [114]:
# difference_update()	-=	Removes the items in this set that are also included in another, specified set

A = {1,2,3,4,5}
B = {2,3,4,6,8}
A.difference_update(B)
print(A)
B.difference_update(A)
print(B)

{1, 5}
{2, 3, 4, 6, 8}

In [ ]:
# discard()	 	Remove the specified item
# intersection()	&	Returns a set, that is the intersection of two other sets
# intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)

In [128]:
A = {1,2,3,4}
B = {2,3,4,5,6,7,8,9}

In [123]:
A - B

{1}

In [124]:
B - A

{5, 6, 7, 8, 9}

In [125]:
A

{1, 2, 3, 4}

In [126]:
B

{2, 3, 4, 5, 6, 7, 8, 9}

In [127]:
A.difference_update(B)
print(A)

{1}

In [130]:
B.difference_update(A)
print(B)

{5, 6, 7, 8, 9}

In [135]:
# discard - removing something
# remove - removing something


my_set = {1,2,3,4}
my_set.discard(10)
print(my_set)

{1, 2, 3, 4}

In [136]:
my_set = {1,2,3,4}
my_set.remove(10)
print(my_set)

KeyError: 10

In [138]:
# Intersection

A = {1,2,3,4,5}
B = {2,3,4,6,8}

In [139]:
# A∩B 
A.intersection(B)

{2, 3, 4}

In [140]:
B.intersection(A)

{2, 3, 4}

In [ ]:
# intersection update

In [ ]:
# isdisjoint()	 	Returns whether two sets have a intersection or not
# issubset()	<=	Returns whether another set contains this set or not
# issuperset()	>=	Returns whether this set contains another set or not
# pop()	 	Removes an element from the set
# remove()	 	Removes the specified element

In [144]:
# isdisjoint

A = {1,2,3,4,5}
B = {2,3,4,6,8}
C = {"A","B","C"}

A.isdisjoint(B)

False

In [145]:
A.isdisjoint(C)

True

In [151]:
#subset - two sets

# A ⊂ B - all the elements of A are present in B

A = {1,2,3,4,5}
B = {1,2,3,4,5,6,8}
A.issubset(B)

True

In [152]:
# B ⊂ A - all the elements of B are present in A
B.issubset(A)

False

In [153]:
A<B

True

In [155]:
B<A

False

In [156]:
f = [1,2,3,4]

# [3,2,1,4]

print(f[0])
print(f[2])

1
3

In [159]:
f[0],f[2] = f[2],f[0]

In [158]:
f

[3, 2, 1, 4]

In [160]:
# issuperset()	>=	Returns whether this set contains another set or not

A = {1,2,3,4,5}
B = {1,2,3,4,5,6,8}

# B has every element that is present in A => B is superset of A

In [161]:
A.issuperset(B)

False

In [162]:
B.issuperset(A)

True

In [163]:
B

{1, 2, 3, 4, 5, 6, 8}

In [164]:
B.pop()

1

In [166]:
B.pop()

2

In [167]:
B

{3, 4, 5, 6, 8}

In [173]:
# union()	|	Return a set containing the union of sets
# update()	|=	Update the set with the union of this set and others


A = {1,2,3}
B = {"A","B","C",6,7,8}

A.union(B)

{1, 2, 3, 6, 7, 8, 'A', 'B', 'C'}

In [174]:
A.update(B)

In [175]:
A

{1, 2, 3, 6, 7, 8, 'A', 'B', 'C'}

In [ ]:
# symmetric_difference()	^	Returns a set with the symmetric differences of two sets
# symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another

In [180]:
A = {1,2,3,6,7,8}
B = {"A","B","C",6,7,8}

In [179]:
A.symmetric_difference(B)

{1, 2, 3, 'A', 'B', 'C'}

In [181]:
B.symmetric_difference(A)

{1, 2, 3, 'A', 'B', 'C'}