In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("pandas datasets/deliveries.csv")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

1. Identify the top 5 bowlers who have taken the most wickets across all matches.

In [3]:
df.groupby("bowler")["player_dismissed"].count().sort_values(ascending = False).head()

bowler
SL Malinga         188
DJ Bravo           168
A Mishra           165
Harbhajan Singh    161
PP Chawla          156
Name: player_dismissed, dtype: int64

In [25]:
ipl = df[df["dismissal_kind"].notnull()]
ipl["bowler"].value_counts()[:5]

bowler
SL Malinga         188
DJ Bravo           168
A Mishra           165
Harbhajan Singh    161
PP Chawla          156
Name: count, dtype: int64

2. Determine the most common dismissal kind for batsmen (e.g., caught, bowled, etc.

In [4]:
print(df["dismissal_kind"].value_counts().head(3))
print(df["dismissal_kind"].value_counts().idxmax())

dismissal_kind
caught     5348
bowled     1581
run out     852
Name: count, dtype: int64
caught

3. Find the bowlers with the lowest economy rate (avg runs in overs bowled

In [21]:
df['Economy_Rate'] = df['total_runs'] / df['over']
df['Economy_Rate']
df.groupby("bowler")["Economy_Rate"].count().sort_values(ascending = False).head(5)

bowler
Harbhajan Singh    3451
A Mishra           3172
PP Chawla          3157
R Ashwin           3016
SL Malinga         2974
Name: Economy_Rate, dtype: int64

4. Identify the batsmen with the highest strike rates (minimum 100 balls faced).

dismissal_kind  fielder
caught          KD Karthik        109
                SK Raina           99
                MS Dhoni           98
                AB de Villiers     93
                RV Uthappa         84
Name: count, dtype: int64

5. Find the highest scoring partnerships between any two batsmen.

In [47]:
df.groupby(["batsman","non_striker"])["total_runs"].sum().sort_values(ascending = False)[:5]

batsman         non_striker
CH Gayle        V Kohli           1617
AB de Villiers  V Kohli           1464
DA Warner       S Dhawan          1420
V Kohli         AB de Villiers    1396
                CH Gayle          1185
Name: total_runs, dtype: int64

6. Determine which batsman has scored the most runs during the powerplay overs (first 6 overs).

In [37]:
df2 = df[df["over"].isin([1,2,3,4,5,6])]
print(df2.groupby(["batsman"])["batsman_runs"].count().sort_values(ascending = False).head(5))
print()
print(df2.groupby(["batsman"])["batsman_runs"].count().sort_values(ascending = False).head(5)[:1])

batsman
S Dhawan     2021
G Gambhir    1945
CH Gayle     1743
DA Warner    1717
AM Rahane    1654
Name: batsman_runs, dtype: int64

batsman
S Dhawan    2021
Name: batsman_runs, dtype: int64

7. Identify which team has conceded the most extra runs.

In [38]:
print(df.groupby("bowling_team")["extra_runs"].sum().sort_values(ascending = False).head())
print()
print()
print(df.groupby("bowling_team")["extra_runs"].sum().sort_values(ascending = False).head().idxmax())

bowling_team
Mumbai Indians                 1612
Royal Challengers Bangalore    1558
Kings XI Punjab                1453
Kolkata Knight Riders          1372
Delhi Daredevils               1268
Name: extra_runs, dtype: int64


Mumbai Indians

8. Find the bowler with the best performance (lowest runs per over, most wickets) in the last 5 overs of the innings.

In [33]:
df2 = df.loc[df["over"].isin([16,17,18,19,20]),["player_dismissed","bowler"]]
df2
df2.groupby("bowler")["player_dismissed"].count().sort_values(ascending = False).head()

bowler
SL Malinga    122
DJ Bravo      102
B Kumar        80
SP Narine      65
A Nehra        63
Name: player_dismissed, dtype: int64

9. Determine the fielders who have taken the most catches.

In [21]:
print(df.loc[df["dismissal_kind"] == "caught",["dismissal_kind","fielder"]].value_counts()[:1])
df.loc[df["dismissal_kind"] == "caught",["dismissal_kind","fielder"]].value_counts().head()

dismissal_kind  fielder
caught          KD Karthik    109
Name: count, dtype: int64

dismissal_kind  fielder
caught          KD Karthik        109
                SK Raina           99
                MS Dhoni           98
                AB de Villiers     93
                RV Uthappa         84
Name: count, dtype: int64

In [48]:
cond1 = df["dismissal_kind"] == "caught"
cond2 = df["dismissal_kind"] == "caught and bowled"
df.loc[cond1 | cond2].groupby("fielder")["dismissal_kind"].value_counts().sort_values(ascending = False).head()

fielder         dismissal_kind
KD Karthik      caught            109
SK Raina        caught             99
MS Dhoni        caught             98
AB de Villiers  caught             93
RV Uthappa      caught             84
Name: count, dtype: int64

10. Identify the teams with the highest success rate in chasing down targets.

In [49]:
df["dismissal_kind"].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

11. Determine which batsman has the most number of ducks (dismissals without scoring).

In [63]:
cond1 = df["dismissal_kind"].isin(["bowled","caught","run out","lbw","caught and bowled","stumped","retired hurt","hit wicket","obstructing the field"])
cond2 = df["batsman_runs"] == 0
df.loc[cond1 & cond2 , ["batsman"]].value_counts()

batsman
SK Raina             157
RG Sharma            156
RV Uthappa           156
V Kohli              146
S Dhawan             135
                    ...
Mohammad Ashraful      1
Mustafizur Rahman      1
N Naik                 1
ND Doshi               1
BJ Haddin              1
Name: count, Length: 479, dtype: int64

12. Create a function that take team name that will analyze the performance of each team (total runs scored, wickets taken, etc.) against all other teams.

13. Find the over with the highest number of runs scored across all matches.

In [11]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

14. Analyze the outcomes and individual performances in super over situations.

In [7]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

15. Bonus : Create a function where you pass the name of a cricketer (batsman or bowler) and it returns their stats (runs, wickets, etc.) against all teams.