In [ ]:
# Flow chart is very very important to write a code.
#conditional statements real life exmple VOTING.

In [7]:
age = int(input("enter the age: "))
if age >= 18:
    print("you are eligible to vote")

enter the age: 2

In [14]:
marks = int(input("enter the marks")) #assigning dynamically both marks and cutoff marks
cutoff = int(input("enter the marks: "))
if marks >= cutoff:
    print("you have passed the exam: ")

enter the marks44
enter the marks: 43
you have passed the exam:

In [18]:
#it should take maximum upto 100marks if marks
#exceeds 100 dont print anything
marks = int(input("enter the marks")) 
cutoff = int(input("enter the marks: "))
if (marks >= cutoff) and (marks <= 100):
    print("you have passed the exam: ")

enter the marks1000
enter the marks: 35

In [1]:
marks = int(input("enter the marks")) #assigning dynamically both marks and cutoff marks
cutoff = int(input("enter the marks: "))
if marks >= cutoff:
    print("You have Passed the exam: ")
else:
    print(" Congratulations! you have a Backlog See you in Supply")

enter the marks35
enter the marks: 36
 Congratulations! you have a Backlog See you in Supply

In [24]:
num = int(input("enter a number: "))
if num % 2 == 0:
    print(f" The number  {num} is Even")
else:
    print("the number is Odd")

enter a number: -8
 The number  -8 is Even

In [ ]:
num = int(input("enter a number: "))
print()

In [28]:
#IF & ELIF
num = 0
if num  == 0:
    print(f"{num} is ZERO / WHOLE NUMBER")
elif num % 0:
    print(f"{num} is EVEN")
else:
    print(f"{num} is ODD")

0 is ZERO / WHOLE NUMBER

In [5]:
num = int(input("enter a number"))
if num  == 0:
    print(f"{num} is ZERO / WHOLE NUMBER")
elif (num < 0) and (num %2 ==0):
    print(f"{num} is NEGATIVE EVEN")
elif (num > 0) and (num %2 ==0):
    print(f"{num} is POSITIVE EVEN")
elif (num < 0) and (num %2 != 0):
    print(f"{num} is NEGATIVE ODD") #We can have an ELIF ladder excluding else
else:
    print(f"{num} is NEGATIVE ODD")

enter a number-100
-100 is NEGATIVE EVEN

In [7]:
#NESTED IF AND ELIF  
num = int(input("enter the number"))
if num == 0:
    print("ZERO")
elif num!= 0: ##ODD 
 if num > 0: ##NESTED IF .ELSE STRUCTURE
    print(f"{num} +VE ODD")
 else:
    print(f"{num} -VE ODD")
elif num == 0: ##EVEN
 if num > 0: ##NESTED IF .ELSE STRUCTURE
    print(f"{num} +VE EVEN")
 else:
    print(f"{num} -VE EVEN")

enter the number-45
-45 -VE ODD

In [1]:
marks=int(input("enter the marks: "))
cutoff=int(input("enter the marks: "))
if marks<cutoff:
    print("better luck")
if (marks<cutoff) and (marks > 75):
    print("passed with distinction")
else:
    print("passed")

enter the marks: 30
enter the marks: 40
better luck
passed

In [4]:
marks=int(input("enter the marks: "))
cutoff=int(input("enter the marks: "))
if marks<cutoff:
    print("better luck")
elif (marks<cutoff) and (marks > 75):
    print("passed with distinction")
else:
    print("passed")

enter the marks: 20
enter the marks: 30
better luck

In [ ]:
 #Real world example for while loop QR codes ,  Weather monitoring , adhar numbers 
 #while is a infinite loop

In [3]:
#Simple while loop and condition
num = 1
while num < 10:
    print(num)
    num=num+1 #num+=1 #increment necessary to terminate

1
2
3
4
5
6
7
8
9

In [5]:
num = 1 #Use counter variable HW
while num <= 10:
    print(num)
    num=num+1
else:
    print(f"The loop terminates when Number = {num}")

1
2
3
4
5
6
7
8
9
10
The loop terminates when Number = 11

In [ ]:
#Checking iterations

In [7]:
num=int(input("enter a number: "))
check_num=int(input("enter the check number"))
while num < check_num:#If we do viceverse then loop becomes infinately loop
    print(num)
    num=(num+1)
else:
    print("did not enter the loop")

enter a number: 67
enter the check number76
67
68
69
70
71
72
73
74
75
did not enter the loop

In [8]:
num=int(input("enter a number: "))
check_num=int(input("enter the check number"))
if num < check_num:
    print("entered the loop")
    while num < check_num:#If we do viceverse then loop becomes infinately loop
        print(num)
        num=num+1
else:
    print("did not enter the loop")

enter a number: 10
enter the check number20
entered the loop
10
11
12
13
14
15
16
17
18
19

In [3]:
num=int(input("enter a number: "))### 15
check_num=int(input("enter the check number: "))### 8
if num < check_num:
    print("entered the loop")# USe while inside the if condition so that it wont print both entered and not entered 
    #it takes like 2 different conditions
while num < check_num:#If we do viceverse then loop becomes infinately loop
    print(num)
    num=num+1
else:
    print("did not enter the loop")

enter a number: 10
enter the check number: 20
entered the loop
10
11
12
13
14
15
16
17
18
19
did not enter the loop

In [ ]:
num=int(input("enter a number: "))### 15
check_num=int(input("enter the check number: "))### 8
 # USe while inside the if condition so that it wont print both entered and not entered 
    #it takes like 2 different conditions
while num < check_num:#If we do viceverse then loop becomes infinately loop
    print(num)
    num=num+1
else:
    print("did not enter the loop")

In [2]:
num=5
check_num=10
flag = False # GATEKEEPER
while num < check_num:#If we do viceverse then loop becomes infinately loop
    flag = True
    print(num)
    num = (num+1)

if(flag == False):
    print("did not enter the loop")
else:
    print("entered the loop")

5
6
7
8
9
entered the loop

In [4]:
row_or_stars = 1
while row_or_stars <= 10: #only row vice increament is going on row vice
    print("*")
    row_or_stars = row_or_stars + 1

*
*
*
*
*
*
*
*
*
*

In [6]:
row_or_stars = 1
while row_or_stars <= 10: #both row vice multiplies by star to get pattern
    print("*" * row_or_stars)
    row_or_stars = row_or_stars + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [10]:
row_or_stars = 1
while row_or_stars <= 10: # if we have to print odd *s pattern 
    print("*" * row_or_stars )
    row_or_stars = row_or_stars + 2

*
***
*****
*******
*********

In [3]:
number = 1
while number < 10:
    print(str(number) * (number))#How many times we multiply number with string we get those many number of times
    number = number + 1

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [12]:
character = 65
row_or_count = 1
while row_or_count <= 8:
    print(chr(character) * row_or_count)
    character = character + 1
    row_or_count = row_or_count + 1

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH

In [16]:
character = 65
row_or_count = 8
while row_or_count  >= 1:
    print(chr(character) * row_or_count)
    character = character - 1
    row_or_count = row_or_count - 1

AAAAAAAA
@@@@@@@
??????
>>>>>
====
<<<
;;
:

In [28]:
character = 65   #frst intial values are very to know the loop where to start
row = 1
count = 8
while count > 0: #in loop it count is reducing as rows are increasing
    print(chr(character) * count)
    count = count - 1
    row = row +1
    character = character + 1

AAAAAAAA
BBBBBBB
CCCCCC
DDDDD
EEEE
FFF
GG
H

In [29]:
character = 65   #frst intial values are very to know the loop where to start
row = 1
count = 8
while count > 0: #in loop it count is reducing as rows are increasing
    print(chr(character) * count)
    if count == 5:
        print("=") #here we are getting only one (*) in place of 5th row so multiply by count
    else:
        print(chr(character) * count)
    count = count - 1
    row = row +1
    character = character + 1

AAAAAAAA
AAAAAAAA
BBBBBBB
BBBBBBB
CCCCCC
CCCCCC
DDDDD
=
EEEE
EEEE
FFF
FFF
GG
GG
H
H

In [3]:
character = 65   #frst intial values are very to know the loop where to start
row = 1           #here we are getting only one (*) in place of 5th row so multiply by count
count = 8
while count > 0: #in loop it count is reducing as rows are increasing 
    if count == 5:
        print("=" * count )
    else:
        print(chr(character) * count)
    row = row +1
    
    count = count - 1
    character = character + 1

AAAAAAAA
BBBBBBB
CCCCCC
=====
EEEE
FFF
GG
H

In [ ]:
#write a pattern with stars and spaces in a traingle format

In [12]:
star=1
space=1
while star<10:
    print(star * "* ")
    space=space+1
    star=star+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [28]:
a="*"
print(a)
row=1
mt=1
while mt<6:
    print("*"+ mt*" "+ "*")
    mt=mt+1
c=print("**************")

*
* *
*  *
*   *
*    *
*     *
**************

*
*  *

TypeError: can only concatenate str (not "int") to str

In [3]:
a="     *"
print(a)
print("*" + " "*mt + "*")

     *
*      *

In [41]:
string = 65
mtspace = 5
row=1
while string<70:
    print(" " * mtspace+chr(string)*row)
    string=string+1
    row=row+2 #take2 as row size to get B 3times
    mtspace=mtspace-1

     A
    BBB
   CCCCC
  DDDDDDD
 EEEEEEEEE

In [ ]:
     A     #space=5,character = 65,count = 1
    BBB
   CCCCC
  DDDDDDD
 EEEEEEEEE

*
**************

In [43]:
a=11
while a%2==0:
    print(a)
    a=a+1

5.	Write a program to count the total number of digits in a  number

In [48]:
n=2556
c=0
while n!=0:
    n=n//10  #c is the iteration times 
    c=c+1    #n is updating and printing n if we close n vertical to while loop last value prints
print(c)

4

In [ ]:
#If we dont want code and in might future we can give print statement
#n=1
#if n< 10: gives u syntax error but in future i need this if then assign with pass
# 3groups are playing quiz if grp doesnt knows ans then he passes the ques to another grp
# UNO SKIP is as same as continue statement
# UNO who finishes frst he is out as break statement

In [3]:
if False:
    print(" i am hari")
print("i am chandan")

i am chandan

In [ ]:
# For loop 
# The for statement in python supports repeated
#execution of a statement or block of statments controlled  by iteration

In [13]:
sample_list=[1,2,3,"hari",True]
for list_element in sample_list:
    print(list_element)

1
2
3
hari
True

In [15]:
sample_list=[1,2,3,"hari",True]
for index in range(4):  #indexing use in for loop  
    print(sample_list[index]) #incorrect range can give "out of the index error but executes the lop"

1
2
3
hari

In [19]:
sample_list=[1,2,3,"hari",True]
for index in range(len(sample_list)):   #range specified by length() dynamic
    print(f" At location {index+1} we have: ",sample_list[index])

 At location 1 we have:  1
 At location 2 we have:  2
 At location 3 we have:  3
 At location 4 we have:  hari
 At location 5 we have:  True

In [23]:
sample_list=[1,2,3,"hari",True]
for index in range(0,len(sample_list),2):   #range specified by length() dynamic
    print(f" At location {index+1} we have: ",sample_list[index])

 At location 1 we have:  1
 At location 3 we have:  3
 At location 5 we have:  True

In [ ]:
#take numbers multiples of 3 between 27 & 70 as list and print squares of elements

In [40]:
list_mult_3=list(range(27,70,3))
print(list_mult_3)
for mult_3 in  list_mult_3:
    print(mult_3 ** 2)

[27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]
729
900
1089
1296
1521
1764
2025
2304
2601
2916
3249
3600
3969
4356
4761

In [36]:
a=range(27,70,3)
print(a)  # we cannot get range without any proper data structures

range(27, 70, 3)

In [44]:
list_mult_3=list(range(27,70,3)) #printing squares in list #when u print square list gives output.
print(list_mult_3)
square_list=[]
for mult_3 in  list_mult_3:
    square_list.append(mult_3 **2)
print(square_list)

[27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]
[729, 900, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249, 3600, 3969, 4356, 4761]

In [54]:
 #Take an input from user to enter no of elements as (input) [say == 5]
 #enter the values of ewach element (loop,input)
 #store in list[a,b,c,d,e]
 #odd and even list
 #list elements to be accessed using loop
 #conditional check as odd or even (if and else)

TypeError: 'list' object is not callable

In [63]:
number = int(input('enter the number'))
list1=[]
for index in range(number):
    numbers=int(input("enter the number"))
    if numbers % 2==0:
        list1.append(numbers)
    else:
        list1.append(numbers)
print(list1)
print(list1)

TypeError: 'list' object is not callable

In [56]:
sample_2d_list=[[1,2,3],[436,766,89],[23,435,56]]
for element in sample_2d_list:
    print(element)

[1, 2, 3]
[436, 766, 89]
[23, 435, 56]

In [61]:
for element in sample_2d_list:#if we want to print nested elements in loop then use for in for 
    for sub_element in element:
        print(sub_element)

1
2
3
436
766
89
23
435
56

##### Add corresponding elements in a 2 Dimentional list

In [13]:
first_list = [[5,43],[2,10]]
second_list = [[1,8],[6,7]]
####output_list = [[6,51],[8,17]] ####
output_list = [[0,0],[0,0]]
for row_index in range(len(second_list)):
    for column_index in range(len(first_list[row_index])):
        output_list[row_index][column_index]=first_list[row_index][column_index]+second_list[row_index][column_index]
output_list

[[6, 51], [8, 17]]

#### printing forward diagonal

In [28]:
sample_list = [[43,22,12],[1,6,3],[87,12,554]]
for row_index in range(len(sample_list)):
    for column_index in range(len(sample_list[column_index])):
        if row_index == column_index:
            print(f"element at {row_index,column_index} is: ", sample_list[row_index][column_index])

element at (0, 0) is:  43
element at (1, 1) is:  6
element at (2, 2) is:  554

#### Backward Diagonal lIst

In [31]:
sample_list = [[43,22,12],[1,6,3],[87,12,554]]
for row_index in range(len(sample_list)):
    for column_index in range(len(sample_list[column_index])):
        if row_index + column_index == 2:
            print(f"element at {row_index,column_index} is: ", sample_list[row_index][column_index])

element at (0, 2) is:  12
element at (1, 1) is:  6
element at (2, 0) is:  87

In [34]:
sample_list = [[43,22,12],[1,6,3],[87,12,554]]
for row_index in range(len(sample_list)):
    for column_index in range(len(sample_list[column_index])):
        if row_index + column_index == len(sample_list)-1:
            print(f"element at {row_index,column_index} is: ", sample_list[row_index][column_index])

element at (0, 2) is:  12
element at (1, 1) is:  6
element at (2, 0) is:  87

In [39]:
sample_list = [[43,22,12],[1,6,3],[87,12,554]]
for row_index in range(len(sample_list)):
    print(f"element at {row_index,column_index} is: ", sample_list[row_index][row_index])

element at (0, 2) is:  43
element at (1, 2) is:  6
element at (2, 2) is:  554

In [45]:
list_of_nos = [45,12,2,8,36,343]
cube_root_list = []
for element in list_of_nos:
    cube_root_list.append(element ** (1/3))
cube_root_list

[3.5568933044900626,
 2.2894284851066637,
 1.2599210498948732,
 2.0,
 3.3019272488946263,
 6.999999999999999]

In [48]:
list_of_nos = [45,12,2,8,36,343]
cuberoot_list = [element ** (1/3) for element in list_of_nos] #Use result as first & before "for"
cuberoot_list

[3.5568933044900626,
 2.2894284851066637,
 1.2599210498948732,
 2.0,
 3.3019272488946263,
 6.999999999999999]

In [ ]:
#### Marks and their subsequent grades

In [61]:
marks_list = [32,45,68,12,98,33]
for element in marks_list:
    if element > 33:
        print("passed")
    else:
        print("fail")

fail
passed
passed
fail
passed
fail

In [59]:
marks_list = [32,45,68,12,98,33]
['passed' if marks > 33 else 'fail'  for marks in marks_list]

['fail', 'passed', 'passed', 'fail', 'passed', 'fail']

In [ ]:
#### Creating Dictionaries of student:marks

In [71]:
students = ["hari","manoj","anshini","achlesh"]
marks = [45,78,98,32]
stud_marks_dict = {}
for index in range(len(students)):
    stud_marks_dict[students[index]] = marks[index]
stud_marks_dict

{'hari': 45, 'manoj': 78, 'anshini': 98, 'achlesh': 32}

In [72]:
{students[index]:marks[index]  for index in range(len(students))}

{'hari': 45, 'manoj': 78, 'anshini': 98, 'achlesh': 32}

In [73]:
zip(students,marks) #Gives memory location

In [74]:
dict(zip(students,marks))

{'hari': 45, 'manoj': 78, 'anshini': 98, 'achlesh': 32}

In [ ]:
 # {Taking student marks and converting students pass-fail}

In [83]:
stud_marks_dict={'hari': 45, 'manoj': 78, 'anshini': 98, 'achlesh': 32}
stud_marks_grade={keys:[marks,"passed"] if marks >=50 else [marks,"failed"] for (keys,marks) in stud_marks_dict.items()}
stud_marks_grade

{'hari': [45, 'failed'],
 'manoj': [78, 'passed'],
 'anshini': [98, 'passed'],
 'achlesh': [32, 'failed']}

In [8]:
#linear search
sample_list =[1,23,45,674,67,97]
search_element = 35
flag= False
for index in range(len(sample_list)):
    if sample_list[index] ==  search_element:
        flag = True
        break
if flag == False:
    print(f" {search_element} is not found in the list")
else:
    print(f" {search_element} is found at location {index+1}")

 35 is not found in the list

In [ ]:
#Functions

In [17]:
def larger_of_2nos(num1,num2):
    "this gives larger of 2 nos"
    if num1>num2:
        print(f" greater number between {num1} and {num2} is {num1}")
        
    elif num1==num2:
        print(f" Both numbers {num1} and {num2} are equal")
        
    else:
        print(f" greater number between {num1} and {num2} is {num2}")

In [18]:
larger_of_2nos(100,100)

 Both numbers 100 and 100 are equal

In [ ]:
larger_of_2nos

In [ ]:
#return gives the  correct datatype
#print gives Nonetype

In [ ]:
given_number = 120
flag = False
for factor in range(2,given_number):
    if given_number % factor == 0:
        flag = True
        break
if flag == False:
    print(f"{given_number} is a prime number.")
else:
    print(f"{given_number} is not a prime number / composite number...")

In [28]:
def prime_no_check(given_number): 
    flag = False
    for factor in range(2,given_number):
        print("checking factor: ", factor)
        if given_number % factor == 0:
            flag = True
            break
    if flag == False:
        print(f"{given_number} is a prime number.")
    else:
        print(f"{given_number} is not a prime number / composite number...")

In [29]:
prime_no_check(123)

checking factor:  2
checking factor:  3
123 is not a prime number / composite number...

In [33]:
def prime_no_check(given_number): 
    flag = False
    for factor in range(2,given_number):
        if given_number % factor == 0:
            print("checking factor: ", factor)
            flag = True
    if flag == False:
        print(f"{given_number} is a prime number.")
    else:
        print(f"{given_number} is not a prime number / composite number...")

In [36]:
prime_no_check(6666666)

checking factor:  2
checking factor:  3
checking factor:  6
checking factor:  239
checking factor:  478
checking factor:  717
checking factor:  1434
checking factor:  4649
checking factor:  9298
checking factor:  13947
checking factor:  27894
checking factor:  1111111
checking factor:  2222222
checking factor:  3333333
6666666 is not a prime number / composite number...

In [38]:
given_number = 120
list_of_factors = []
flag = False
for factor_check in range(2, given_number):
    if given_number % factor_check == 0:
        list_of_factors.append(factor_check)
if flag == False:
    print(f"Apart from '1' and '{given_number}' the factors are: ",list_of_factors)
else:
    print(f"the number {given_number} is Prime with factors as '1' and '{given_number}'")

Apart from '1' and '120' the factors are:  [2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60]

In [4]:
def hello(a,b):
    a+b
    return(a+b)  #if we use only return keyword then it will give nonetype
hello(1,2)

3

In [5]:
hello(1,2)

3

In [ ]:
#return returnes a value. re usable
#It seems to be returning but not value

In [ ]:
###Grade for marks

In [6]:
def grade(marks):#When we print num > 100 or < 0 also gives A grade and fail
    if marks >= 90:
        return "A grade"
    elif marks >= 80:
        return "B grade"
    elif marks >= 70:
        return "C grade"
    elif marks >= 40:
        return "D grade"
    else:
        return "fail"

In [26]:
grade(30)

'fail'

In [61]:
def grade(marks):
    if marks > 100 or marks < 0:
        print(" Invalid marks entered")
        return None 
    elif marks >= 90:
        return "A grade"
    elif marks >= 80:
        return "B grade"
    elif marks >= 70:
        return "C grade"
    elif marks >= 40:
        return "D grade"
    else:
        return "fail"

In [62]:
grade(101)

 Invalid marks entered

In [ ]:
#A function can be assigned to a variable

In [56]:
some_variable_storing_func = grade
some_variable_storing_func(12)

'fail'

In [34]:
import math
math.sqrt(36)

6.0

In [35]:
def square_root_function(function,number):
    return function(number)

square_root_function(math.sqrt,36)

6.0

In [48]:
def hari(num1):
    print("***")
    def hari_1(num2):
        print("inside the second function")
        return num1 * num2
    return hari_1

print(hari(12)(45))

***
inside the second function
540

In [ ]:
#functions can be stored as data structures like lists and dictionaries

In [ ]:
#using lists

In [3]:
list1=[11,"chintu",True,"hari"]
list1
type(list1[-1])

str

In [6]:
def repeater_function(string, times):
    print(string * times)
    
repeater_function(chr(10034),6) #positional argument

repeater_function(times = 6,string = chr(10034))

In [8]:
sample_str = "saomya"
sample_str.find("a")

1

In [12]:
def repeater_function(string, times):
    for row in range(1,times):
        print(string * row)
    
repeater_function(chr(10034),6) #specify the order #use keywords and interchange

In [14]:
def addition(a,b):
    return a + b

def difference(a,b):
    return a - b

def multiplication(a,b):
    return a * b

def division(a,b):
    return a / b

def floor_division(a,b):
    return a // b

In [15]:
addition(12,34)

46

In [16]:
human = "prabhas"
def jungle():
    lion = "simba"
    print(f"{human}(variable) met {lion} in the jungle(function)...")
    
jungle() ###calling

prabhas(variable) met simba in the jungle(function)...

In [19]:
human = "prabhas"
def jungle():
    lion = "simba"
    print(f"{human}(variable) met {lion} in the jungle(function)...")
    
jungle() ###calling
print("is simba accesible outside the jungle???")
print(lion)##it cannot be printed the scope is until jungle

prabhas(variable) met simba in the jungle(function)...
is simba accesible outside the jungle???

NameError: name 'lion' is not defined

In [21]:
human = "prabhas"
def jungle():
    global lion
    lion = "simba"
    print(f"{human}(variable) met {lion} in the jungle(function)...")
    
jungle() ###calling
print("is simba accesible outside the jungle???")
print(f"yes {lion} has come to meet his friend {human}")##it cannot be printed the scope is until jungle

prabhas(variable) met simba in the jungle(function)...
is simba accesible outside the jungle???
yes simba has come to meet his friend prabhas

In [23]:
variable = "i am the global variable"
def outer_function():
    variable = " i am the outer variable"
    def inner_function():
        variable = " i am the inner variable"
        print(variable)
    inner_function()
    print(variable)
    
outer_function()
print(variable)

 i am the inner variable
 i am the outer variable
i am the global variable

In [24]:
variable = "i am the global variable"
print(variable,id(variable))
def outer_function():
    variable = " i am the outer variable"
    def inner_function():
        variable = " i am the inner variable"
        print(variable)
        print(variable,id(variable))
    inner_function()
    print(variable)
    print(variable,id(variable))
    
outer_function()
print(variable)
print(variable,id(variable))

i am the global variable 1610146260720
 i am the inner variable
 i am the inner variable 1610146265280
 i am the outer variable
 i am the outer variable 1610146262720
i am the global variable
i am the global variable 1610146260720

In [29]:
number = 5
factorial  = 1
for element in range(2,number+1):
    factorial = factorial * element
print(factorial)

120

In [37]:
def factorial_of_number(number):
    factorial  = 1
    for element in range(2,number+1):
        factorial = factorial * element
    return factorial
   

num = int(input("enter a number   :"))
print(f"factorial of the number {num}: {factorial_of_number(number)}")

enter a number   :7
factorial of the number 7: 120

In [7]:
def factorial(number):
    if number == 1 or number == 0:
        return 1
    elif number < 0:
        return "you must be out of mind"
    else:
        return number * factorial(number - 1)
factorial(-7)

'you must be out of mind'

In [ ]:
print(0 + True)

In [ ]:
#FIBONACCI SERIES

In [19]:
no_of_terms = 7
first_number = 0
second_number = 1
fib_list = [0,1]
for number in range(no_of_terms - 2):
    third_number = first_number + second_number
    fib_list.append(third_number)
    first_number = second_number
    second_number = third_number
print(fib_list)

#we got 9 numbers bcoz of initialising 2 nums if we remove them we will get other values 
#hence reduce num of terms by 2 to get only 7 terms

[0, 1, 1, 2, 3, 5, 8]

In [20]:
def fibonocci(no_of_terms):
    first_number = 0
    second_number = 1
    fib_list = [0,1]
    for number in range(no_of_terms - 2):
        third_number = first_number + second_number
        fib_list.append(third_number)
        first_number = second_number
        second_number = third_number
    return(fib_list)

fibonocci(7)

[0, 1, 1, 2, 3, 5, 8]

In [32]:
def nth_fibonacci_term(term):
    if term == 0 or term == 1:
        #print(f"INSIDE IF .... the value of term is {term}")
        return term
    elif term < 0:
        return "use your brain and write code"
    else:
        #print(f"INSIDE ELSE................... the value of term is {term}")
        return nth_fibonacci_term(term - 1)+nth_fibonacci_term(term - 2)

nth_fibonacci_term(6)

8

In [40]:
a="hari"
b="chandan"
list(zip(a,b))

[('h', 'c'), ('a', 'h'), ('r', 'a'), ('i', 'n')]

##### LAMBDA FUNCTIONS
#Variable is storing a function
num = 54
sq_num = lambda number: number ** 2
sq_num(num)

In [44]:
#Conditional statements
num = 54
odd_even_num = lambda number: "even" if num %2 == 0 else "odd"
odd_even_num(num)

'even'

In [45]:
list_of_nos = lambda *args: numbers #accepting any number of arguments
list_of_nos(74947,943792,9479283084,63873917)

(74947, 943792, 9479283084, 63873917)

In [47]:
dict_of_nos = lambda ** item: item  
dict_of_nos(saomya = 10, harika = 20,divya = 25)
#wthout giving as strings default it is taking strings in dictionaries

{'saomya': 10, 'harika': 20, 'divya': 25}

In [3]:
def fibonacci(n):
    if n == 0 or n ==1:
        #print(f"Inside if; value of n is {n}")
        return n
    #print(f"Inside if; value of n is {n}")
    fib_1 = fibonacci(n-1)
    #print(f"outside if; value of n is {n} and {fib_1}")
    fib_2 = fibonacci(n-2)
    #print(f"outside if; value of n is {n} and {fib_2}")
    fib_n = fib_1+fib_2
    #print(f" return outside if; value of n is {n} and fib_n = {fib_n}")
    return fib_n
print(fibonacci(6))

8

In [ ]:
#name less function
#function comprehension
#no paranthesis is required,instead of func we use lambda
#colon seperates the parametre
#paramtres or arguments are optional
#no need of print or return

In [4]:
just_print_something = lambda : "hello python!"
just_print_something()#without having parametre

'hello python!'

In [ ]:
#MAP FUNCTION
#this function iterates

In [7]:
#cube of elements
list_of_nos = [5,12,44,17,12,2]
cube_function = lambda element: element ** 3
(map(cube_function,list_of_nos))#gives memory

In [5]:
def hari(num):
    if num % 2 ==0:
        return num

In [44]:
list_of_nos = [5,12,44,17,12,2]

list(map(hari,list_of_nos))

[None, 12, 44, None, 12, 2]

In [8]:
list_of_nos = [5,12,44,17,12,2]
cube_function = lambda element: element ** 3
tuple(map(cube_function,list_of_nos))

(125, 1728, 85184, 4913, 1728, 8)

In [9]:
list_of_nos = [5,12,44,17,12,2]
cube_function = lambda element: element ** 3
tuple(map( lambda element: element ** 3,list_of_nos))

(125, 1728, 85184, 4913, 1728, 8)

##### Filter Function

In [22]:
def div_by_or2or3_not_both(number):
    if number % 2 == 0 and number % 3==0:
        print(f"{number} is divisible by both 2 and 3")
    elif number % 2 == 0 or number % 3==0:
         print(f"{number} is divisible by either  2 or 3")
    else: 
         print(f"{number} is not divisible by both 2 or 3")

In [23]:
div_by_or2or3_not_both(9)

9 is divisible by either  2 or 3

In [28]:
def div_by_or2or3_not_both(number):
    if number % 2 == 0 and number % 3==0:
         return False
    elif number % 2 == 0 or number % 3==0:
         return True
    else: 
          return True

In [29]:
list(filter(div_by_or2or3_not_both,list_of_nos))

[5, 44, 17, 2]

##### Reduce Function
#using alll the numbers assigning some operations giving single inputre

In [30]:
from functools import reduce

In [35]:
def multiply(num1,num2):
    return num1 * num2
list_of_nos

[5, 12, 44, 17, 12, 2]

In [38]:
reduce(multiply,list_of_nos)

1077120

In [39]:
sum(list_of_nos)#when it comes to subtraction we cannot have built in so we use reduce func

92

#### File Handling

#### 22/08/24
#In file handling we can view , write, modify   
#files are used to store information
#we can create files we can handle them
#we can open jupiter files with notepad but looks like json file form of dictionaries

In [3]:
file = open(mode = "r",file = r"C:\Users\lenovo\Desktop\Daily tasks\Daily_task4.IPYNB ")
file.read()
file.close()

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 411: character maps to <undefined>

In [6]:
file = open(file = "IMG_20230101_175552", mode = "rb")
file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'IMG_20230101_175552'

In [7]:
import os

In [8]:
os.path.isfile("IMG_20230101_175552.HEIC Image Viewer (.jpg")

False

In [10]:
 os.path.isfile(r"C:\Users\lenovo\Desktop\Daily tasks\Daily_task4.IPYNB")

True

In [ ]:
#  FILE HANDLING

In [11]:
num1 = 1729
  num 2 = 12
num 2 > 10:
    print(num1)

IndentationError: unexpected indent (1108043605.py, line 2)

In [12]:
num1 = 1729
num 2 = 12
if num2 = 10:#assign ==
    print(num1)

SyntaxError: invalid syntax (490411309.py, line 2)

In [13]:
print(1/0)

ZeroDivisionError: division by zero

In [14]:
a=5
print(b)

NameError: name 'b' is not defined

In [15]:
num1 = 1729
if num2 > 78:
    print(num1)

NameError: name 'num2' is not defined

In [17]:
num1 = 1729
try:
    if num2 > 78:
        print(num1)

except:
    print("you didnt define num2")

you didnt define num2

In [1]:
try:
    num1 = 1729
    if num2 = 78:
        print(num1)
except:
    print("sort your syntax")
#we dont have any use to handle errors with try and except

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3296631132.py, line 3)

In [2]:
print(40)
try:
    print(432)
    print(1/0)
    print("chandan")
    
except:
    print(210)

print("statistics")

40
432
210
statistics

In [23]:
print(40)
print(432)
print(1/0)
print("chandan")
    
print(210)
print("statistics")

40
432

ZeroDivisionError: division by zero

In [27]:
try:
    print(1/0)
except:
    pass
print("continue the code")

continue the code

In [1]:
print("Exceptional play ground")
print("1. 1/10")
print("2. import chandan")
print('3. int("chintu")')
try:
    option = int(input("enter a option : "))
    if option == 1:
        print(1/0)
    elif option == 2:
        import chandana
    elif option == 3:
        print(int("chintu"))

        
except  ZeroDivisonError:
    print("wow")
except ModuleNotFoundError:
    print("u better start teaching maths")
except NameError:
    print("change your batch and learn python again")
except:
    print("hello")
else:
    print("event has equal chances it is uniform distriution")

Exceptional play ground
1. 1/10
2. import chandan
3. int("chintu")
enter a option : 2

NameError: name 'ZeroDivisonError' is not defined

In [ ]:
#Clubbing exceptions together in tuple

In [22]:
try:
    print(1/0)
    print(int("a"))
    import ABCDE_321
    
except (ZeroDivisionError,ValueError):#giving error bcoz module not defined abt error
    print("correct your values")
except:
    print("it is an exception correct it")

correct your values

In [23]:
try:
    import ABCDE_321
    print(1/0)
    print(int("a"))
    
    
except (ZeroDivisionError,ValueError): 
    print("correct your values")
except:
    print("it is an exception correct it")

it is an exception correct it

In [ ]:
#NUmbers of errors and exceptions

In [24]:
import builtins

In [29]:
 dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [35]:
listof_exceptions = []
for exception_or_error in dir(builtins):
    if ("Error" in exception_or_error) or ("Exception" in exception_or_error):
         listof_exceptions.append(exception_or_error)
len(listof_exceptions)

53

In [38]:
age = 4
voting_age = 18
try:
    if age < voting_age:
        raise Exception
except Exception:
    print(f" You are just a kid..come after   {voting_age - age} years ..dont worry i will be waiting")
else:
    print("you are above 18.thanks for voting")

 You are just a kid..come after   14 years ..dont worry i will be waiting

In [40]:
age = 4
voting_age = 18
try:
    if age < voting_age:
        raise Exception
except Exception:
    print(f" You are just a kid..come after   {voting_age - age} years ..dont worry i will be waiting")
else:
    print("you are above 18.thanks for voting")
print("you are responsible citizen.....")

 You are just a kid..come after   14 years ..dont worry i will be waiting
you are responsible citizen.....

In [43]:
try:    
    file = open("python basics.ipynb")
    print("is the file closed?", file.closed())
    print(file.readline())
finally:
    file.close()
    print("is the file closed?", file.closed())

TypeError: 'bool' object is not callable

#### 23/08/2024

In [45]:
a=5
print(type(a))

<class 'int'>

In [49]:
type(NameError)

type

In [4]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [10]:
class Dog:
    def __init__(dog_itself):#self any name can be written
        dog_itself.color = "Golden"
        dog_itself.eye_color = "Brown"
        dog_itself.height_in_inch = 17
        dog_itself.weight = 24
        print(f" This dog is {dog_itself.color} in colour, has {dog_itself.eye_color},height{dog_itself.height_in_inch},weight is {dog_itself.weight}")    
        
    def bark(dog_itself):
        print("dog barks...")
    def sit(dog_itself):
        print("dog sits")

In [ ]:
#Object creation

In [11]:
bobby=Dog()

 This dog is Golden in colour, has Brown,height17,weight is 24

In [ ]:
#MEthod calling

In [12]:
bobby.bark()

dog barks...

In [13]:
bobby.sit()

dog sits

In [ ]:
#Any function which is defined inside the class is known as method

In [ ]:
class demo:
    def __init__(self):
        print("You have called the constructor")
    def sample_method(self):
        print("this method is a sampel")

In [17]:
 class car:
        def __init__(self):
            self.wheels = 4
            self.color  = "Matt black"
            self.airbags = "air bags"
            self.gears = 6
            self.brakes = 2
        def view_details(self):
            print("The car has {} wheels,is {} in color with {} airbags supported by {} gears controlled by {} brakes".format(self.wheels,self.airbags,self.color,self.gears,self.brakes))

In [19]:
lamborghini = car()
mehendra = car()
defender = car()

In [22]:
defender.view_details()

The car has 4 wheels,is air bags in color with Matt black airbags supported by 6 gears controlled by 2 break

In [23]:
mehendra.view_details()

The car has 4 wheels,is air bags in color with Matt black airbags supported by 6 gears controlled by 2 break

In [24]:
lamborghini.gears

6

#### 27/08/2024

In [ ]:
#creating a fraction class on own data type

In [1]:
num1 = 12
num2 = 43
num1/num2 ##12/43

0.27906976744186046

In [ ]:
#dander starts with double underscore

In [ ]:
#the backend for a+b is a.__add__(b)

In [11]:
class Fraction:
    def __init__(self,numerator,denominator):
        "This creates a fraction using umerator and denomnator"
        self.numerator = numerator
        self.denominator = denominator
        print(f"{self.numerator}/{self.denominator}")

In [12]:
fraction1 = Fraction(3/2)

TypeError: Fraction.__init__() missing 1 required positional argument: 'denominator'

In [13]:
class Demo:
    def __init__(self,*arguments):
        print(f("This is the constructor you have passed{len(arguments)}"))

In [2]:
class Bankaccount:
    def __init__(bank_details,name,phone,accno,balance):
        print("details of bank")
        bank_details.name=name
        bank_details.phone=phone
        bank_details.accno=accno
        bank_details.balance=balance
    #GETTER USING TO FETCH INFO
    def acc_details(self):
        print(f"name:{ bank_details.name}\nphone:{ bank_details.phone}\naccno:{ bank_details.balance}")

In [4]:
acc1=Bankaccount("shamitha",87393209308,78292,900000000)
acc2=Bankaccount("munnu",73939803093,83292802,10)
acc3=Bankaccount("varshi",73987329329,8729292,2000000000000000000000)

details of bank
details of bank
details of bank

#### AAAAAAAAA
#### BBBBBBBB
#### CCCCCCC
#### DDDDDD
#### EEEEE
#### 88888
#### FFFF
#### GGG
#### HH
#### I

In [6]:
character = 65
number = 9
while number > 0:
    if number == 4:
        print("8"*number)
    else:
        print(chr(character)*number)
    character=character+1
    number=number-1

AAAAAAAAA
BBBBBBBB
CCCCCCC
DDDDDD
EEEEE
8888
GGG
HH
I

In [14]:
a=[23,34,56,67,87,89]
for i in a:
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

23 is odd
34 is even
56 is even
67 is odd
87 is odd
89 is odd

In [16]:
a=[23,34,56,67,87,89]
[f"{i} is even" if i % 2 == 0 else f"{i} is odd" for i in a]

['23 is odd',
 '34 is even',
 '56 is even',
 '67 is odd',
 '87 is odd',
 '89 is odd']

In [20]:
[x**2 for x in range(1,6)]

[1, 4, 9, 16, 25]

In [23]:
[(x,y) for x in range(2) for y in range(2)]

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [24]:
[[y for y in range(x)] for x in range(4)]

[[], [0], [0, 1], [0, 1, 2]]

In [36]:
def function(x):
        less_3=[]
        greater3=[]
        for i in x.split():
            if len(i) < 3:
                less_3.append(i)
            elif len(i) > 3:
                greater3.append(i)


        print(f"{less_3}")
        print(f"{greater3}")
        
function("hari is going to rock tomorrows interview")

['is', 'to']
['hari', 'going', 'rock', 'tomorrows', 'interview']

In [35]:
a="                      hari is i i i i                "
a.split()

['hari', 'is', 'i', 'i', 'i', 'i']

In [38]:
def hari(x):
    "hari knows statistics"
    return x

print(hari.__doc__)

hari knows statistics

In [39]:
def larger_of_2nums(num1,num2):
    if num1 > num2:
        print(f" in {num1} and {num2} here we got {num1} is greater")
    elif num2>num1:
        print(f" in {num1} and {num2} here we got {num2} is greater")
    else:
        print("both are equal")
        
larger_of_2nums(34,56)

 in 34 and 56 here we got 56 is greater

In [ ]:
class digitalpad:
    def _init_(self):
        print("hari will crack tomorrows interview")
        print("hari is doing work daily")

a=digitalpad()
print(a)

class dog:
    def _init_(dog_itself):
        dog_itself.colour="black"
        dog_itself.height=6
        dog_itself.weight=60
    def dogbabu(dog_itself):
        print("dogbabu tho pettukoku")
        
bobby=dog()
bobby.colour

bobby.dogbabu()

chintu=dog()

In [10]:
class boy:
    print("i am a boy")
    def __init__(hello):
        hello.name="hari"
        hello.age=21
    def method(hello):
        print(f" My name is {hello.name} and my age is {hello.age}")
            
            
bobby=boy()

i am a boy

In [11]:
bobby.name

'hari'

In [6]:
bobby.age

21

In [14]:
bobby.method()

 My name is hari and my age is 21

In [ ]:
class father:
    def __init__(self):
        self.color="white"
        self.height=6.4
        print("fathers color is white")
        print("his height is 6.4")
    def child(father):

In [19]:
a=lambda x:x*x 
a(67)

4489

In [20]:
def update(x):
    x=6
    print(x)
    
update(10)

6

In [22]:
def update(x):
    x=6
    print(x)
a=10    
update(a)
print(a)

6
10

In [31]:
def sum(a,b):
    add=a+b
    return add
sum(4,b=8)

12

In [35]:
a="hari"
def h():
    lion="simba"
    print(f"{a} met {lion} in forest")
    
h()
print(a)

hari met simba in forest
hari

In [40]:
fact=1
number=8
for i in range(1,number):
    fact=fact*i
    print(fact)

1
2
6
24
120
720
5040

In [42]:
def factorial(a):
    fact=1
    for i in range(1,a):
        fact=fact*i
    return(fact)

factorial(8)

5040

In [44]:
def fact(a):
    if a == 0 or a == 1:
        return a
    else:
        return a*fact(a-1)
    
fact(8)

40320

In [61]:
a=lambda num: "even" if num % 2 == 0 else "odd" 
a(9)

'odd'

In [64]:
a=lambda **items:items
a(hari=90,kari=99,hjkjk=78)

{'hari': 90, 'kari': 99, 'hjkjk': 78}

In [71]:
a=[1,23,45,67,78]
b=lambda x:x*5
list(map(b,a))

[5, 115, 225, 335, 390]

In [23]:
class hari:
    def funcname(self):
        print("i am hari")
        
human=hari()
animal=hari()
human
animal

hari.funcname(human)
hari.funcname(animal)

human.funcname()
animal.funcname()

i am hari
i am hari
i am hari
i am hari

In [22]:
hari()

In [20]:
human.funcname()

i am hari

In [31]:
class hari:
    def __init__(self,age,height):
        self.age=age
        self.height=height
        print("i am hari")
        
    def funcname(self):
        print(f"i am hari age is {self.age} and height is {self.height}")
        
human=hari(21,156)
animal=hari(54,980)
bird=hari(77,890)
        
# hari.funcname(human)
# hari.funcname(animal)

human.funcname()
animal.funcname()
bird.funcname()

i am hari
i am hari
i am hari
i am hari age is 21 and height is 156
i am hari age is 54 and height is 980
i am hari age is 77 and height is 890

In [46]:
class phone:
    def __init__(self,camera,battery,size,screentype,color):
        self.camera=camera
        self.battery=battery
        self.size=size
        self.screentype=screentype
        self.color=color
    def camera(self):
        print(f"The mobile has {self.camera} pixel.")
    def battery(self):
        print(f"The mobile has {self.battery} mah.")
    def size(self):
        print(f"The mobile has {self.size} in length")
    def screentype(self):
        print(f"The mobile has {self.screentype} screen type")
    def color(self):
        print(f"The mobile has {self.color} in color ")

redmi=phone(50,8900,"6.8inch","curvedisplay","white")
vivo=phone(60,7600,"9.8inch","normaldisplay","blue")
apple=phone(80,7890,"9.0 inch","normal glass","black")

redmi.camera()

TypeError: 'int' object is not callable

In [41]:
class car:
    
    wheels=4
    
    def __init__(self):
        self.mil=78
        self.comp="BMW"

c1=car()
c2=car()

car.wheels=8

c1.mil=9 #here i am updating the c1 car's mileage but it wont show effect on any car

print(c1.mil,c1.comp,c1.wheels)
print(c2.mil,c2.comp,c2.wheels)

#its time to create class variable it will effec t each and evry object
#class variable is wheels when we change the wheeels in object also they will et updated

9 BMW 8
78 BMW 8

In [45]:
#creating a student class and calculating average marks

class student:
    def __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
        
    def avg(self):
        return ((self.m1+self.m2+self.m3)/3)
        
s1=student(23,45,67)
s2=student(78,78,99)

s1.avg()

45.0

In [44]:
s2.avg()

85.0

In [ ]:
class parent:
    def skin(self):
        print("white skin tone")
    def height(self):
        print("167 cm")
class child(parent):
    def hair(self):
        print("hair color is black")
    def weight(self):
        print("weight is 90kg")
        
father=parent()
son=child()

son.