In [ ]:
#mark down
#Interupt the kernel 
#Add a cell below = ESc+ B
#Add a cell Above = Esc + A
#Delete a cell = Esc + Double D
# To run a code = Shift + Enter

In [ ]:
#Introduction to Jupyter Notebook
#Coding is done on cells
#Visual studio card

### String operations

In [17]:
var="Harichandan"
print(var)

Harichandan

In [21]:
var[0]

'H'

In [23]:
var[0:5]

'Haric'

In [25]:
var[0:]

'Harichandan'

In [27]:
var[:-1]

'Harichanda'

In [29]:
var[:0]

''

In [1]:
bin(18)

'0b10010'

In [5]:
oct(45)

'0o55'

In [7]:
hex(88)

'0x58'

In [ ]:
a = 10 #formatting the strings
b = 20
print(f"{a} and {b} sum is = {a+b}")

In [1]:
pwd   #Understanding the where current path is

'C:\\Users\\lenovo'

# INTRODUCTION
## T.HARI CHANDAN
### 21
#### MSC STATISTICS

 I am a passionate, hardworking and curious individual with strong time management skills. a patient approach to learning new things.

In [ ]:
name = input

In [ ]:
#Create 3 variables with subject names maths, science, social 
#maths = 56 ,science = 78,social 60 total  100
#average of all marks 
#percenmtage of allmarks

In [8]:
maths=56
science=78
social=60

56

78

60

In [13]:
t=100
print(t)

100

In [17]:
d=(maths+science+social)/3

In [18]:
d

64.66666666666667

In [23]:
e=((maths+science+social)/(300)*100)
print(e)

64.66666666666666

In [3]:
45 << 1

90

In [4]:
45 << 2

180

In [5]:
45 >> 1

22

In [6]:
45 >> 2

11

In [7]:
bin(32)

'0b100000'

In [9]:
print(~-32)

31

In [10]:
print(~-40)

39

In [9]:
 a="chintu","pappu"  #By default it is taking tuples when u give multiple data types assign to variable
                         #it will say typew as "tuple"
print(type(a))

<class 'tuple'>

In [11]:
b=("chintu","pandu",1,3,4.5)
print(b)        #Tuples are unmutable we cannot change them , it allows duplicates
type(b)
print(b[4]==5)
print(b)

('chintu', 'pandu', 1, 3, 4.5)
False
('chintu', 'pandu', 1, 3, 4.5)

In [13]:
c=[1,2,3,4]
c.append(5)  #When u run the code continuosly 3-4 times and in next step if we mention print "alphabet" it gives only once
print(c)

[1, 2, 3, 4, 5]

In [15]:
c.append(6)
print(c)    #When u run the code continuosly 3-4 times that states it appends the "alphabet" 4 times and gives it in result

[1, 2, 3, 4, 5, 6]

In [17]:
mani=[1,2,3,4,5,6,7]
print(mani)  
for every_datapoint in mani:   #Colon is very very important when u are using loops. 
 print(every_datapoint)

[1, 2, 3, 4, 5, 6, 7]
1
2
3
4
5
6
7

In [21]:
charan_sir=[1,2,3,5,6]
print(charan_sir)
charan_sir.append(10)
print(charan_sir)
charan_sir.insert(1,5)
print(charan_sir)
charan_sir.remove(3)
print(charan_sir)
charan_sir.pop(charan_sir[3])
print(charan_sir)
charan_sir.sort()
print(charan_sir)
charan_sir.reverse()
print(charan_sir)
print(charan_sir.count(7))
hari=[143,144]
print(hari)

[1, 2, 3, 5, 6]
[1, 2, 3, 5, 6, 10]
[1, 5, 2, 3, 5, 6, 10]
[1, 5, 2, 5, 6, 10]
[1, 5, 2, 5, 6]
[1, 2, 5, 5, 6]
[6, 5, 5, 2, 1]
0
[143, 144]

In [23]:
charan_sir=[1,2,3,5,6]
print(charan_sir)
hari=[143,144.7]
print(hari)
charan_sir.append(hari)
print(charan_sir)
charan_sir.clear()
print(charan_sir)

[1, 2, 3, 5, 6]
[143, 144.7]
[1, 2, 3, 5, 6, [143, 144.7]]
[]

In [25]:
charan_sir=[1,2,3,5,6]
print(charan_sir.copy())
hari=[143,144.7]
print(hari)
print(charan_sir+hari)
print(8 in charan_sir)

[1, 2, 3, 5, 6]
[143, 144.7]
[1, 2, 3, 5, 6, 143, 144.7]
False

In [27]:
a=["hari","chintu","pappu","munnu"]
a.sort()
print(a)
print(len(a))
print(a[0:3])
for every_datapoint in a:
    print(every_datapoint)
b="hari"

['chintu', 'hari', 'munnu', 'pappu']
4
['chintu', 'hari', 'munnu']
chintu
hari
munnu
pappu

In [29]:
h =[]

h.extend("charan")
h

['c', 'h', 'a', 'r', 'a', 'n']

In [31]:
list("charan")

['c', 'h', 'a', 'r', 'a', 'n']

In [33]:
#TUPLES

bunt=(1,2,3,4,"chintu")
print(bunt[0:2])
print(len(bunt))
print(tuple(["bunty","bunny"]))
print(5 in bunt)

(1, 2)
5
('bunty', 'bunny')
False

In [39]:
h="hari","charan sir","bunty","pintu"
print(h)

('hari', 'charan sir', 'bunty', 'pintu')

In [41]:
n=[1,3,4,5]
v1,v2,*v3=n
for every_datapoint in n:
 print(every_datapoint)

1
3
4
5

In [43]:
Dict = {"1":"hari","2":"chintu","1":"ria"}
Dict

{'1': 'ria', '2': 'chintu'}

In [47]:
dict_1={"name":"chandan","age":21,"gender":"male"}
print(dict_1)
for data_point in dict_1.values():
 print( )

{'name': 'chandan', 'age': 21, 'gender': 'male'}

In [49]:
demo_inf={"name":["a","b","c"],"age":[17,18,19],"gender":["m","f","m"]}
print(demo_inf)

{'name': ['a', 'b', 'c'], 'age': [17, 18, 19], 'gender': ['m', 'f', 'm']}

In [51]:
demo_inf["age"]

[17, 18, 19]

In [53]:
 a={True,False}
 b={False}
print(a)   #int(True) is 1 is existing then it allows duplicates and it takes first one
print(b)
print(a-b)

{False, True}
{False}
{True}

In [55]:
c={1,3,0,8.9,True,False}
print(c)

{0, 1, 8.9, 3}

In [57]:
d={8.9,True,False,0,1}
print(d)

{8.9, True, False}

In [59]:
e= {1,2,3,4,5,6}
f= {2,3,4,7,8}
print(e.difference(f))
print(f.difference(e))
f.difference_update(e)
print(f)
e.difference_update(f)
print(e)

{1, 5, 6}
{8, 7}
{7, 8}
{1, 2, 3, 4, 5, 6}

In [61]:
e= {1,2,3,4,5,6}
f= {2,3,4,7,8}
print(e)
print(f)
e.intersection_update(f)
print(e)
f.intersection_update(e)
print(f)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 7, 8}
{2, 3, 4}
{2, 3, 4}

In [63]:
e= {1,2,3,4,5,6}
f= {2,3,4}
print(e)
print(f)

{1, 2, 3, 4, 5, 6}
{2, 3, 4}

In [3]:
f=[1,2,3,4]
e=[1,2,3]
print(e)
a=[4]
print(f)
e.reverse()
print(e)
print(e+a)
f[0],f[2]=f[2],f[0]
print(f)

[1, 2, 3]
[1, 2, 3, 4]
[3, 2, 1]
[3, 2, 1, 4]
[3, 2, 1, 4]

In [67]:
f={1,2,3,4}
e={1,2,3}
print(e)
print(f)
e.symmetric_difference(f)

{1, 2, 3}
{1, 2, 3, 4}

{4}

In [69]:
a="hari chandan"
print(a)
tuple("hari chandan")

hari chandan

('h', 'a', 'r', 'i', ' ', 'c', 'h', 'a', 'n', 'd', 'a', 'n')

### List
##### It holds the values of different data types in the variable
###### Mutable,Ordered,Allows duplicates

In [35]:
a=[1,2,3,4,5,6]
print(a)
type(a)

[1, 2, 3, 4, 5, 6]

list

In [36]:
b=["a","b","c","d","e"]
print(b)
c=["chandan","nandan","laddu"]
print(c)
d=[1,2,3,4,True,3.56,"hari","chintu"]
print(d)
print(d[6]) # Acessing the elements in the list by indexing
print(d[-2])
print(d[0:9])# Acessing the elements in the list by Slicing
print(d[::2])# Acessing elements alternatively
print(d[::-1])

['a', 'b', 'c', 'd', 'e']
['chandan', 'nandan', 'laddu']
[1, 2, 3, 4, True, 3.56, 'hari', 'chintu']
hari
hari
[1, 2, 3, 4, True, 3.56, 'hari', 'chintu']
[1, 3, True, 'hari']
['chintu', 'hari', 3.56, True, 4, 3, 2, 1]

In [27]:
e=[1,2,3]
print(e)

[1, 2, 3]

In [ ]:
#Unpacking in list

In [9]:
var=list("hello chandan")
print(var, "unpacking the list")

['h', 'e', 'l', 'l', 'o', ' ', 'c', 'h', 'a', 'n', 'd', 'a', 'n'] unpacking the list

#### List methods

In [89]:
e=[1,2,3]
print(e)
e.append("hello")

[1, 2, 3]

In [101]:
print(e,"Append adds an element to the end of the list")
print(e)

[1, 2, 'chintu', 3, 'hello', 'nandan', 'laddu'] Append adds an element to the end of the list
[1, 2, 'chintu', 3, 'hello', 'nandan', 'laddu']

In [103]:
print(c)
e.extend(c)
print(e,"Extend adds the multiple values to end of the list")

['chandan', 'nandan', 'laddu']
[1, 2, 'chintu', 3, 'hello', 'nandan', 'laddu', 'chandan', 'nandan', 'laddu'] Extend adds the multiple values to end of the list

In [95]:
e.insert(2,"chintu")
print(e,"Insert it adds an element it a particular place of the list")
print(e)

[1, 2, 'chintu', 3, 'hello', 'chandan', 'nandan', 'laddu'] Insert it adds an element it a particular place of the list
[1, 2, 'chintu', 3, 'hello', 'chandan', 'nandan', 'laddu']

In [97]:
e.remove("chandan")
print(e,"removing a specific element from the list")
print(e)

[1, 2, 'chintu', 3, 'hello', 'nandan', 'laddu'] removing a specific element from the list
[1, 2, 'chintu', 3, 'hello', 'nandan', 'laddu']

In [99]:
f=[1, 2, 'chintu', 3, 'hello', 'nandan', 'laddu','hello']
print(f)
f.remove('hello')
print(f,"when an element repeates one or more time it removes only first element")
print(f)

[1, 2, 'chintu', 3, 'hello', 'nandan', 'laddu', 'hello']
[1, 2, 'chintu', 3, 'nandan', 'laddu', 'hello'] when an element repeates one or more time it removes only first element
[1, 2, 'chintu', 3, 'nandan', 'laddu', 'hello']

In [64]:
g=["a","c","e","k","l"]
g.sort
print(g,"sorting in the alphabetical order")

['a', 'c', 'e', 'k', 'l'] sorting in the alphabetical order

#### Builtin functions in list

In [67]:
h=[34,54,67,56,78]

In [69]:
print(h)

[34, 54, 67, 56, 78]

In [71]:
len(h)

5

In [75]:
min(h)

34

In [77]:
max(h)

78

In [79]:
sum(h)

289

In [81]:
range=max(h)-min(h)

In [83]:
range

44

In [85]:
average=sum(h)/len(h)

In [87]:
average

57.8

## Tuple
#### collection of heterogeneous data types , immutable,ordered, allows duplicates

### Creating tuples

In [111]:
emp=() #Creating empty tuple
print(emp)
type(emp)

()

tuple

In [115]:
tup="hari", #When we are not using open paranthesis then we have add comma after element it considers as tuple
print(type(tup))

<class 'tuple'>

In [117]:
tours=("ooty","coimbatore","kerala","arunachalam")
print(tours)

('ooty', 'coimbatore', 'kerala', 'arunachalam')

In [119]:
tours=("ooty","coimbatore","kerala","arunachalam")
tours1=["ooty","coimbatore","kerala","arunachalam"]
print(tours)
print(tours1)
tours1.append("chidambaram")
print(tours1)

('ooty', 'coimbatore', 'kerala', 'arunachalam')
['ooty', 'coimbatore', 'kerala', 'arunachalam']
['ooty', 'coimbatore', 'kerala', 'arunachalam', 'chidambaram']

In [121]:
tours.append("chidambaram") #In tuples we cannot add or modify the tuple

AttributeError: 'tuple' object has no attribute 'append'

# Built in function in tuple

In [5]:
tpl=(1,2,3,3,3,3,3,3,33,4,5,6)
print(tpl)
print(tpl.count(3),"counts the number of values present in the tuple")
print(sum(tpl),"The sum of all elements present in tuple")
print(len(tpl),"The length of the tuple")
print(max(tpl),"finding the maximum value in the tuple")
print(min(tpl),"finding the minimum value in the tuple")

(1, 2, 3, 3, 3, 3, 3, 3, 33, 4, 5, 6)
6 counts the number of values present in the tuple
69 The sum of all elements present in tuple
12 The length of the tuple
33 finding the maximum value in the tuple
1 finding the minimum value in the tuple

### Nested tuples inlist

In [13]:
lst=[(1,4,3),(3,4,8,5)]
print(lst)
lst.append("thanvika")
print((lst),"Adding the element to the end of the list here we used open paranthesis so we can add only one element")
lst.extend(["chandrika","laksmi","chandan"])
print(lst,"Adding the multiple elements to list we use extend function use closed brakets")
lst.remove((1,4,3))
print(lst,"removing the tuple from the list")

[(1, 4, 3), (3, 4, 8, 5)]
[(1, 4, 3), (3, 4, 8, 5), 'thanvika'] Adding the element to the end of the list here we used open paranthesis so we can add only one element
[(1, 4, 3), (3, 4, 8, 5), 'thanvika', 'chandrika', 'laksmi', 'chandan'] Adding the multiple elements to list we use extend function use closed brakets
[(3, 4, 8, 5), 'thanvika', 'chandrika', 'laksmi', 'chandan'] removing the tuple from the list

### Nested list in tuples

In [77]:
tpl1=(["chintu","pappu",144,9.3],[878,6.02,8.98])
print(tpl1)
tpl1[0].append("battu")
print(tpl1,"Adding an element to first list to the tuple")
#WE can add only one element while using append()

(['chintu', 'pappu', 144, 9.3], [878, 6.02, 8.98])
(['chintu', 'pappu', 144, 9.3, 'battu'], [878, 6.02, 8.98]) Adding an element to first list to the tuple

##### Conditional Statements

In [ ]:
#in data structures acessing elements can be done
#Based on membership operators and comparison operators we assign conditions.

In [29]:
if 6 > 5:
 print("hi chandan")   #trying to control the outpu

hi chandan

In [33]:
a = int(input("enter your age"))
if a < 10 and a > 6:
 print("you can join our school")

enter your age 7

you can join our school

In [1]:
if 7>6:
    print("hi hari")

hi hari

In [11]:
# We are updating by adding 5 marks when a user is < 40
#when we enter the variable as >40 it wont give any change as our condition is <40
user_input=int(input("enter your marks"))
if user_input < 40:
               user_input = user_input + 7
               print(user_input,"updated marks")

enter your marks 35

42 updated marks

In [37]:
user_input=int(input("enter your marks"))
print("i am outside the condition")
print()
if user_input < 40:
 print(print("i am inside the condition"))
 user_input = user_input + 7
 print(user_input,"updated marks")

enter your marks 39

i am outside the condition

i am inside the condition
None
46 updated marks

In [35]:
user_input=int(input("enter your marks"))
print("i am outside the condition")
print()
if user_input < 40:
 print(print("i am ouside the condition"))
 user_input = user_input + 7
 print(user_input,"updated marks")
else:
    print("sorry cannot update marks")

enter your marks 41

i am outside the condition

sorry cannot update marks

In [59]:
user_input=int(input("enter your marks"))
print()
if user_input < 25:
    user_input=user_input+5
    print()
    print(user_input,"updated marks")
else:
 user_input=user_input+2
 print()
 print(user_input,"updated marks ")

enter your marks 34

36 updated marks

In [69]:
#if and else should be in same vertical line
f=[24,56,78,77]
for every_datapoint in f:
    print(every_datapoint)
    if every_datapoint < 34:
     every_datapoint+=5
     print(every_datapoint,"marks are updated")
    else:
      every_datapoint+=7
      print(every_datapoint,"marks are updated")

24
29 marks are updated
56
63 marks are updated
78
85 marks are updated
77
84 marks are updated

In [86]:
user_input=int(input("enter the number"))
if user_input > 0:
               print("positive number")
else :
    print("negative number")

enter the number 2

positive number

In [92]:
user_input=int(input("enter a number"))
if user_input % 2 == 0:
    print("it is a even number")
else:
    print("it is not a even number")

enter a number 60

it is a even number

In [1]:
user_input=int(input("enter a number"))
if user_input % 9 == 0:
    print("it is divisible by 9")
else:
    print("it is not possible by 9")

enter a number 63

it is divisible by 9

In [19]:
 for element in range(1,30):
     if element % 2 == 0:
         print(element,"even number")
     continue
     print("hello")

2 even number
4 even number
6 even number
8 even number
10 even number
12 even number
14 even number
16 even number
18 even number
20 even number
22 even number
24 even number
26 even number
28 even number

In [39]:
for element in range(1,30):
     if element % 2 == 0:
         print(element,"even number")
     else:
         print(element,"odd number")
         pass
         print("hello")

1 odd number
hello
2 even number
3 odd number
hello
4 even number
5 odd number
hello
6 even number
7 odd number
hello
8 even number
9 odd number
hello
10 even number
11 odd number
hello
12 even number
13 odd number
hello
14 even number
15 odd number
hello
16 even number
17 odd number
hello
18 even number
19 odd number
hello
20 even number
21 odd number
hello
22 even number
23 odd number
hello
24 even number
25 odd number
hello
26 even number
27 odd number
hello
28 even number
29 odd number
hello

hello
2 even number
hello
hello
4 even number
hello
hello
6 even number
hello
hello
8 even number
hello
hello
10 even number
hello
hello
12 even number
hello
hello
14 even number
hello
hello
16 even number
hello
hello
18 even number
hello
hello
20 even number
hello
hello
22 even number
hello
hello
24 even number
hello
hello
26 even number
hello
hello
28 even number
hello
hello

In [ ]:
# paranthesis is very very important in calling a function

#if we want to add 2 arguments define a variable

#did sir explain shallow copy deep  copy

In [ ]:
#take a input from a user - salary, savings,insurance, calculate the total amount of paying 
#to insurance and pf

In [6]:
def hari(salary,savings,insurance,pf):
total_amount=insurance+pf
print(total_amount)

In [7]:
hari(20,30,45,76)

121

In [ ]:
def reverse()

In [3]:
#Functions are the expressions which takes in the input and return the output

def squares(x):
    return x**2

In [4]:
squares(4)

16

In [ ]:
 # Basic pipeline functions
 # Gross salary ,HRA,Medical Insurance,Trans_allowance,Provi fund,income tax
 # Monthly Expenditure(childsupport,)

In [7]:
def salary(Gross_salary ,HRA,Medical_Insurance,Trans_allowance,Provi_fund,income_tax):
    salary(Gross_salary + HRA + Trans_allowance)
    cuttings = Provi_fund + income_tax
    remaining_balaance= salary - cuttings
    return salary,cuttings,remaining_balaance

In [8]:
a_salary,a_cuttings,a_remaining_balaance = salary(Gross_salary=300000 ,HRA=5000,Medical_Insurance=6000,Trans_allowance=10000,Provi_fund=7000,income_tax=7000)

TypeError: salary() missing 5 required positional arguments: 'HRA', 'Medical_Insurance', 'Trans_allowance', 'Provi_fund', and 'income_tax'

In [ ]:
# List Comprehension

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
#The diffrence between List Comprehension and for loop is in list comprehension it is storing in Lists

[21]
[21, 21]
[21, 21, 21]
[21, 21, 21, 21]
[21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21]

In [15]:
[x for x in range(21)] #print 20 numbers using list comprehension

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
[x for x in range(0,21,2)] #use step value 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
[x for x in range(30,45,3)]# print 30-45 using step value 3

[30, 33, 36, 39, 42]

In [18]:
[x for x in range(90,60,5)] #print 90-60 using step value 5

[]

In [19]:
[x for x in range(60,90,5)]

[60, 65, 70, 75, 80, 85]

In [32]:
a=[x for x in "WELCOME TO INNOMATICS"]
print(a)
len(a)
print(a[::-1])

['W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'I', 'N', 'N', 'O', 'M', 'A', 'T', 'I', 'C', 'S']
['S', 'C', 'I', 'T', 'A', 'M', 'O', 'N', 'N', 'I', ' ', 'O', 'T', ' ', 'E', 'M', 'O', 'C', 'L', 'E', 'W']

In [37]:
a=[x for x in "WELCOME TO INNOMATICS".split(' ')]
print(a)
print(a[::-1])

['WELCOME', 'TO', 'INNOMATICS']
['INNOMATICS', 'TO', 'WELCOME']

In [35]:
a=[x for x in "WELCOME TO INNOMATICS".lower()]
print(a)

['w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'i', 'n', 'n', 'o', 'm', 'a', 't', 'i', 'c', 's']

In [50]:
a=[x.lower()[::-1] for x in "WELCOME TO INNOMATICS".split() if len(x)>3]
print(a)

['emoclew', 'scitamonni']

In [1]:
#lamda

mu1 = lambda x: x*3 #how many inputs u take those many values should be given
mu1 = lambda x,y: x**y

In [6]:
mu1 = lambda x: x**2 
mu1(7)

49

In [65]:
mu1(7)

49

In [66]:
mu2 = lambda x: x**3 
mu2(19)

6859

In [ ]:
 #Recursive functions

In [12]:
a="678"
sum=0
for i in a:
    #print(type(a)) 
    i=int(i)
    sum=sum+i
print(sum)

21

In [10]:
a=int(56)
a
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
# Map ,  filter

In [15]:
t=[1,2,3,4,5,6,7,8]
d=[]
for i in t:
    if i%2 ==0:
        d.append(i)

In [ ]:
a=[[10,20],[30,40],[50,60]]

In [ ]:
#objects from our perspective
#bustand
#different types of buses
#luxury semi sleeper , lights,Tv
#palleveluu normal seats,dim lights,no comfort
#sleeper , comfort,fast
#hotels 
#drivers
# we can understand these objects by different features.
#sleeper bus , sleeper seat,bedsheets,pillows,waterbottle,speed of bus
#reaches fast , comfortness
 #for while these are for operations

In [7]:
#we have two methods to extract cube them AND add
def calculate_armstrong_number(x):
    x=str(x)
    counter=0
    for i in x:
        i = int(i)
        i=i**len(x)
        counter=counter+1
    if int(x) == counter:
        print("this is an armstrong number")
    else:
        print("it's not an armstrong number")

In [8]:
calculate_armstrong_number(153)

its not an armstrong number

In [29]:
a=[x.upper() for x in ["harichandan"]]
print(a)

['HARICHANDAN']

In [1]:
#Functions
#these are expressions that take input and gives output 
#def <Function_name>():
#statements
#you wont get anyerrors while creating funct when u execute u will get error

In [2]:
def comein():
    print("enter the class")

In [5]:
comein()

enter the class

In [ ]:
#Object Oriented Programming
# Python doesnot remember anything so we create variables
#create a object

In [ ]:
#object and their feautures(instance of cls)
#human(speak,write,walk,listen)
#we can say class is a blueprint

In [1]:
#creating my first class
class variables:
    pass

In [2]:
ss

In [4]:
#evry class has its own attributes
#in the below class variable_,2,3 are attributes or feautures of class

class variables:
    variable_1 = 4
    variable_2 = 5
    variable_3 = 45

obj1=variables() #object
obj2=variables()
obj3=variables()


#u can create n no of objects using one cla

In [6]:
#obj.attribute



print(obj1.variable_1)
print(obj2.variable_2)
print(obj3.variable_3)

4
5
45

In [ ]:
class housing_design_1:
    bhk_1 = "1400 sft"
    bhk_2 = "2000 sft"
    bhk_3 = "2400 sft"
    
class housing_design_2:
    bhk_1 = "1450 sft"
    bhk_2 = "1200 sft"
    bhk_3 = "4000 sft"

# 3 areas - project_1, project_2, project_3

In [3]:
def hari(a,b):
    c=a+b
    print(c)

In [4]:
hari(1,2)

3

In [5]:
type(hari(1,2))

3

NoneType

In [7]:
def hari(a,b):
    c=a+b
    return(c)

In [8]:
type(hari(3,4))

int

In [24]:
class something:
    var1=33 #public
    _var2=45 #protected
    __var3=78 #private

In [25]:
something.var1

33

In [26]:
something._var2

45

In [22]:
something._something__var3

78

In [27]:
something.__var3

AttributeError: type object 'something' has no attribute '__var3'

In [ ]:
#sample class
#sample attributes
#sample methods

In [32]:
class student:
    height1=175
    _height2="123"
    __height3=134.8

In [33]:
student.height1

175

In [34]:
student._height2

'123'

In [35]:
student.__height3

AttributeError: type object 'student' has no attribute '__height3'

In [39]:
class something1:
    def method1( ):
        return "hello from method1"
    def _method2( ):
        return "hello from method_2"
    def __method3( ):
        return "hello from __method3"

In [41]:
something1.method1()

'hello from method1'

In [47]:
something1._method2()

'hello from method_2'

In [46]:
something1._something1__method3()

'hello from __method3'

In [ ]:
# inheritance
# single inheritance
# multilevel inheritance
# hierarchial inheritance
# hybrid inheritance

In [51]:
#single inheritance


class Father:
    def surname(self):
        return "tharala"
class Child:
    def fullname(self):
        return "hari chandan"
    
    
print("dad object")
dad = Father()
print(dad.surname())
print()
print("son object")
son = Child()
print("full name is ",son.fullname())
print("surname is ",son.surname())

dad object
tharala

son object

TypeError: Child() takes no arguments

In [58]:
class Father:
    def surname(self):
        return "tharala"
class Son1:
    def fullname(self):
        return "hari chandan"
class Son2:
    def fullname(self):
        return "vivek"
class Daughter:
    def fullname(self):
        return " thanvika"
    
print("dad object")
dad = Father()
print(dad.surname())
print()
print("Son1 object")
Son1 = Child()
print(Son1.surname(Father ))
print()
print("Son2 object")
Son2 = Child()
print(Son2.surname(Father))
print()
print("Daughter object")
Daughter = Child()
print(Daughter.surname(Father))

dad object
tharala

Son1 object

TypeError: Child() takes no arguments

In [59]:
class granfather:
    skin = "white"
    hair = "black"
class son:
    name = "charan"
class daughter:
    name = "thanvika"

In [61]:
class father:
    skin = "white"
    hair = "black"
class mother:
    name = "sabitha"
class daughter(father,mother):
    name = "thanvika"

In [12]:
class base:
    def __init__(self,x1,x2):
        self.x1 = x1
        self.x2 = x2
class base2:
    def __init__(self,x3,x4):
        self.x3 = x3
        self.x4 = x4

class derived(base,base2):
    def __init__(self,x1,x2,x3,x4,x5,x6):
        base.__init__(self,x1,x2)
        base2.__init__(self,x3,x4)
        self.x5 = x5
        self.x6 = x6

In [13]:
obj = derived(12,22,34,54,43,23)

In [14]:
print(obj.x1)
print(obj.x2)
print(obj.x3)
print(obj.x4)
print(obj.x5)
print(obj.x6)

12
22
34
54
43
23

In [ ]:
class father:
    def __init__(self,surname,height):
        self.surname = surname
        self.height = height
        
        
class mother:
    def __init__(self,skintone,weight):
        self.skintone = skintone
        self.weight = weight
        
        
class son:
    def __init__(self,surname,height,skintone,weight,name,age):
        father__init__(self,surname,height)
        mother__init__(self,skintone,weight)
        self.name = name
        self.age = age

In [ ]:
#polymorphism
#method over riding
#abstraction

In [3]:
import os
if os.path.exists(r"C:\Users\lenovo\Desktop\CHANDAN"):
    print("yes the file is existing")
else:
    print("No the file is not existing")
    print("lets create this")
    os.mkdir(r"C:\Users\lenovo\Desktop\CHANDAN")#creating a folder in desktop

yes the file is existing

In [4]:
pwd

'C:\\Users\\lenovo'

In [ ]:
#multiprocessing multi threading

In [ ]:
#exceptional handling

In [1]:
print(0+True)

1

In [5]:
x = 5
print("line one executed")
y = 0
print('line 2 is executed')
#z = x/y
print(" data")
print("measures of dispersion")

line one executed
line 2 is executed
 data
measures of dispersion

In [6]:
x = 5
print("line one executed")
y = 0
print('line 2 is executed')
z = x/y
print(" data")
print("measures of dispersion")

line one executed
line 2 is executed

ZeroDivisionError: division by zero

In [11]:
x = 5
print("line one executed")
y = 0
print('line 2 is executed')
try:
    z = x/y
except ZeroDivisionError:
    print("we cannot divide with zero")

print(" data")
print("measures of dispersion")
#pipeline doesnot stop
#handling error
#custom message

line one executed
line 2 is executed
we cannot divide with zero
 data
measures of dispersion

In [12]:
z= R + 3

NameError: name 'R' is not defined

In [ ]:
#function and zero division error to build a try and except block on it

In [31]:
def hari(a,b):
    print("line 1 executed")
    print('line 2 is executed')
    try:
        z = x/y
    except ZeroDivisionError:
        print("we cannot divide with zero")
    return z

In [33]:
hari(2,0)

line 1 executed
line 2 is executed
we cannot divide with zero

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

In [37]:
i = 1
while i < 100:
        print(i)
        i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [6]:
!pip install numpy

#when you are installing a library

Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (1.24.3)

WARNING: There was an error checking the latest version of pip.

In [9]:
import numpy as py
print(py.__version__)

1.24.3

In [ ]:
# 3 Dimentional array acess 2nd row 3 element

In [15]:
a = py.array([1,2,3],ndmin = 3)
print(a.shape)
print(a)

(1, 1, 3)
[[[1 2 3]]]

In [ ]:
a=

In [26]:
a = py.array([[[1,2,3],[34,45,56],[54,55,67]]])
print(a.shape)
print(a)
a[1][2] 
print(a)

(1, 3, 3)
[[[ 1  2  3]
  [34 45 56]
  [54 55 67]]]

IndexError: index 1 is out of bounds for axis 0 with size 1

In [5]:
a="innomatics"
a[-1:-len(a)-1:-1]

'scitamonni'

In [4]:
#shallow copy
import copy
lst=[1,2,3,89,[10,6,7]]
lst1=copy.copy(lst)
print(lst)
print(lst1)

[1, 2, 3, 89, [10, 6, 7]]
[1, 2, 3, 89, [10, 6, 7]]