##### step 1. load the iris.csv dataset.

In [1]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv("Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [3]:
# To find the Datatypes of the "DATASET" use dtypes in built function

df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [4]:
print("The mean of the SepalLengthCm is ",df["SepalLengthCm"].mean())
print("The sum of the SepalLengthCm column is ",df["SepalLengthCm"].sum())
print("The maximum value from the SepalLengthCm is ",df["SepalLengthCm"].max())
print("The minimum value  of the SepalLengthCm is ",df["SepalLengthCm"].min())

The mean of the SepalLengthCm is  5.843333333333334
The sum of the SepalLengthCm column is  876.5
The maximum value from the SepalLengthCm is  7.9
The minimum value  of the SepalLengthCm is  4.3

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [5]:
# WHEN we want to skip top 20 rows use "ILOC" as we do  slicing for both rows and columns 
#  

df.iloc[20:len(df),:]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 4. Write a Pandas program to display the last ten rows.

In [6]:
# To display last 10 rows in the dataframe use "Dataframename["negative indexing"]"

df.iloc[-9:len(df),:]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [7]:
#Here i did filtering values which are greater than 2 are put under a cond
# i applied "LOC" and "Column" which i need

df.loc[df["PetalLengthCm"] > 2]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

###### 7. Write a Pandas program find all records that include two specific Species.

In [8]:
cond1 = df["Species"] == "Iris-setosa"
cond2 = df["Species"] == "Iris-versicolor"
df.loc[(cond1) | (cond2)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [9]:
df.sort_values(by = "SepalLengthCm",ascending = False)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
131,132,7.9,3.8,6.4,2.0,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
...,...,...,...,...,...,...
41,42,4.5,2.3,1.3,0.3,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [10]:
df.insert(5,"NAN_VALUES",np.nan)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,NAN_VALUES,Species
0,1,5.1,3.5,1.4,0.2,NaN,Iris-setosa
1,2,4.9,3.0,1.4,0.2,NaN,Iris-setosa
2,3,4.7,3.2,1.3,0.2,NaN,Iris-setosa
3,4,4.6,3.1,1.5,0.2,NaN,Iris-setosa
4,5,5.0,3.6,1.4,0.2,NaN,Iris-setosa
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,NaN,Iris-virginica
146,147,6.3,2.5,5.0,1.9,NaN,Iris-virginica
147,148,6.5,3.0,5.2,2.0,NaN,Iris-virginica
148,149,6.2,3.4,5.4,2.3,NaN,Iris-virginica
149,150,5.9,3.0,5.1,1.8,NaN,Iris-virginica

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [29]:
df["Id"] = df["Id"].astype(str)
df["SUMMATION"] = df.select_dtypes(include = 'number').sum(axis=1)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SUMMATION
0,1,5.1,3.5,1.4,0.2,Iris-setosa,10.2
1,2,4.9,3.0,1.4,0.2,Iris-setosa,9.5
2,3,4.7,3.2,1.3,0.2,Iris-setosa,9.4
3,4,4.6,3.1,1.5,0.2,Iris-setosa,9.4
4,5,5.0,3.6,1.4,0.2,Iris-setosa,10.2
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,17.2
146,147,6.3,2.5,5.0,1.9,Iris-virginica,15.7
147,148,6.5,3.0,5.2,2.0,Iris-virginica,16.7
148,149,6.2,3.4,5.4,2.3,Iris-virginica,17.3
149,150,5.9,3.0,5.1,1.8,Iris-virginica,15.8