In [ ]:
import pandas as pd
import numpy as np
data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

##### Write a Pandas program to create a dataframe by given dictionary and index as lables

In [ ]:
### code here

##### 1. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order

In [ ]:
### code here

###### 2. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False

In [ ]:
### code here

#####3. Write a Pandas program to delete the 'attempts' column from the DataFrame

In [ ]:
### code here

##### 4. Write a Pandas program to insert a new column in existing DataFrame.

In [ ]:
### code here

##### 5. Write a Pandas program to change the name 'James' to 'Maxwell' in name column of the DataFrame.

In [ ]:
### code here

##### 6. Write a Pandas program to rename columns of a given DataFrame

In [ ]:
### code here

##### 7. Write a Pandas program to convert the datatype of a given column (floats to ints).

In [ ]:
### code here

###### 8.  Write a Pandas program to convert index in a column of the given dataframe.

In [ ]:
### code here

##### 9. Write a Pandas program to shuffle a DataFrame rows.

In [ ]:
### code here

##### 10 Write a Pandas program to write a DataFrame to CSV file using tab separator

In [ ]:
### code here

In [ ]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

#####11. Write a Pandas program to join the two given dataframes along rows and assign all data.

In [ ]:
### code here

##### 12. Write a Pandas program to join the two given dataframes along columns and assign all data.

In [ ]:
### code here

##### 13. Write a Pandas program to join the two dataframes using the common column of both dataframes.

In [ ]:
### code here

###### 14. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.

In [ ]:
#### code here

###### 15. Write a Pandas program to join two dataframes using keys from right dataframe only.

In [ ]:
### code here

###### import UFO dataset

######16. Write a Pandas program to create the todays date.

In [ ]:
### code here

###### 17. Write a Pandas program to get the current date, oldest date and number of days between Current date and oldest date of Ufo dataset.

In [ ]:
#### code here

###### 18. Write a Pandas program to get all the info of the dataframe between 1950-10-10 and 1960-10-10.

In [ ]:
### code here