# Today's Agenda
- Sets
> ### What is Sets?
> ### Different ways of creating Sets?
> ### How to call Set elements?
> ### How to apply different set operations?
> ### What are the built-in functions availble in sets!

In [16]:
print(id((1,2)))
id((1,2)+(2,3))

1569865787392

1569865744688

- **Sets are like lists in that you use them for storing a collection of elements. Unlike lists, however, the elements in a set are nonduplicates and are not placed in any particular order.**
- **with { } we declare a set**
- **sets are unordered and unindexed**
- **set will not allow duplicate elements**

#### Creating an <b>EMPTY SET</b>...

In [3]:
empty_dict = {}
empty_dict

{}

In [1]:
### Check type

In [2]:
# PROBLEM???

In [4]:
type(empty_dict)

dict

In [3]:
# To make it a SET we use the set()

In [5]:
empty_set = set(empty_dict)
empty_set

set()

In [6]:
type(empty_set)

set

### Creating a Set?

1. <b>Creating with</b> `{}`

In [7]:
sample_set = {1}
sample_set, type(sample_set)

({1}, set)

2. <b>Creating with</b> `set()`

In [98]:
sample_set = set({1,2.5,3,67,1,"Harika"})
print(sample_set)
print(type(sample_set))

{1, 2.5, 67, 3, 'Harika'}
<class 'set'>

In [35]:
set({"hari",1,2,3})

{1, 2, 3, 'hari'}

In [11]:
sample_set[2]

TypeError: 'set' object is not subscriptable

# Built-in Functions
### adding elements into a set

### add()

### update()
- we can add multiple elements using `update`

### sort()

### discard()
- Discard will discard the value from the set
- if the value is not there in the set , discard will not throw any error

### remove()
- Remove will remove the value from the set if the value exists, if not 
- it generates error

### pop()
- pop is used to delete element from the given set
- we can not the predict the which element will be delete because set is unindexed

### clear()

In [12]:
sample_set

{1, 2.5, 3, 67, 'Harika'}

In [105]:
sample_set.add(2.5)

In [106]:
sample_set

{1, 2.5, 3, 67, 'Harika'}

In [15]:
sample_set.update({41,56.12,1})
sample_set

{1, 2.5, 3, 41, 56.12, 67, 'Harika'}

In [22]:
sample_set.update({(51,70,1), 561,22,15})
sample_set

{(51, 70, 1),
 (51, 78, 1),
 (51, 78, 2),
 1,
 15,
 2.5,
 22,
 3,
 41,
 56.12,
 561,
 67,
 'Harika'}

In [19]:
another_set = {7,12,1,5,3}
another_set

{1, 3, 5, 7, 12}

In [25]:
sorted(another_set)

[1, 3, 5, 7, 12]

In [26]:
sample_set

{(51, 70, 1),
 (51, 78, 1),
 (51, 78, 2),
 1,
 15,
 2.5,
 22,
 3,
 41,
 56.12,
 561,
 67,
 'Harika'}

In [29]:
sample_set.discard((51, 78, 1))

In [30]:
sample_set

{(51, 70, 1), (51, 78, 2), 1, 15, 2.5, 22, 3, 41, 56.12, 561, 67, 'Harika'}

In [31]:
sample_set.discard("saomya")

In [32]:
sample_set.remove("saomya")

KeyError: 'saomya'

In [33]:
sample_set.remove(561)
sample_set

{(51, 70, 1), (51, 78, 2), 1, 15, 2.5, 22, 3, 41, 56.12, 67, 'Harika'}

In [35]:
popped_element = sample_set.pop()
popped_element

2.5

In [156]:
a={1,2,3,4,5,(1,2,3),8.9}
b={1,2,69,106}

In [157]:
a.pop()
a

{(1, 2, 3), 2, 3, 4, 5, 8.9}





# Other set operations
- 1. union() - Using `|` or `.union()`
- 2. intersection() - Using `&` or `.intersection()`
- 3. difference() - Using `-` or `.difference()`

In [6]:
setA = {4,2,12,21,56,12,3,2,21}   #### {4,2,12,21,56,3}
setB = {100,14,21,2,56,1000}   #### {100,14,21,2,56,1000}
print(f"{setA} UNION {setB}: ", setA.union(setB), 
      f"\nCan also be done using `|`: ", setA | setB)
print("--------------------------")
print(f"{setA} ∩ {setB}: ", setA.intersection(setB), 
      f"\nCan also be done using `&`: ", setA & setB)
print("--------------------------")
print(f"{setA} DIFFERENCE (-) {setB}: ", setA.difference(setB))
print(f"{setB} DIFFERENCE (-) {setA}: ", setB - setA)
print(f"{setB} SYMMETRIC DIFFERENCE {setA}: ", setA.symmetric_difference(setB))

{2, 3, 4, 21, 56, 12} UNION {2, 100, 21, 1000, 56, 14}:  {2, 3, 4, 100, 1000, 12, 14, 21, 56}
Can also be done using `|`:  {2, 3, 4, 100, 1000, 12, 14, 21, 56}
--------------------------
{2, 3, 4, 21, 56, 12} ∩ {2, 100, 21, 1000, 56, 14}:  {56, 2, 21}
Can also be done using `&`:  {56, 2, 21}
--------------------------
{2, 3, 4, 21, 56, 12} DIFFERENCE (-) {2, 100, 21, 1000, 56, 14}:  {3, 4, 12}
{2, 100, 21, 1000, 56, 14} DIFFERENCE (-) {2, 3, 4, 21, 56, 12}:  {1000, 100, 14}
{2, 100, 21, 1000, 56, 14} SYMMETRIC DIFFERENCE {2, 3, 4, 21, 56, 12}:  {3, 100, 4, 1000, 12, 14}

In [86]:
a={1,2,3}
b={4,2,5,1}
a.union(b)

{1, 2, 3, 4, 5}

In [38]:
a.intersection(b)

{1, 2}

In [55]:
a & b

{4, 5}

In [79]:
b.difference_update(a)

In [80]:
b

{4, 5}

In [96]:
v={1,2,3,4,5}
f={3,67,69,106}

In [97]:
f.symmetric_difference(v)

{1, 2, 4, 5, 67, 69, 106}

In [92]:
f

{1, 2, 4, 5, 67, 69, 106}

In [94]:
v.symmetric_difference_update(f)

In [95]:
v

{1, 2, 4, 5, 67, 69, 106}

# 2. Manipulating and Accessing Sets
- You can add an element to a set or remove an element by using the add(e) or remove(e) method. You can use the len, min, max, and sum functions on a set, and a for loop to traverse all elements in a set. You can use the in or not in operator to determine whether an element is in the set.

In [44]:
setA

{2, 3, 4, 12, 21, 56}

In [45]:
len(setA)

6

In [46]:
min(setA)

2

In [47]:
max(setA)

56

In [49]:
for element in setA:
    print(element)

2
3
4
21
56
12

#### Check Membership in sets using `in`

In [50]:
sample_set

{(51, 70, 1), (51, 78, 2), 15, 22, 3, 41, 56.12, 67, 'Harika'}

In [51]:
"Harika" in sample_set

True

In [52]:
sample_set = {(51, 70, 1), (51, 78, 2), 1, 15, 2.5, 22, 3, 41, 56.12, 67, 'Harika'}
sample_set

{(51, 70, 1), (51, 78, 2), 1, 15, 2.5, 22, 3, 41, 56.12, 67, 'Harika'}

In [53]:
True in sample_set

True

In [54]:
41.0 in sample_set

True

### <u>`FROZENSETS`</u>

In [55]:
setB

{2, 14, 21, 56, 100, 1000}

In [58]:
setB.update({10,32})
setB

{2, 10, 14, 21, 32, 56, 100, 1000}

In [59]:
frozenset_B = frozenset(setB)
frozenset_B

frozenset({2, 10, 14, 21, 32, 56, 100, 1000})

In [4]:
a={9,20,34}
b=frozenset(a)
print(b)
b[0]=2

frozenset({9, 34, 20})

TypeError: 'frozenset' object does not support item assignment

In [12]:
squares={x:  "even"  if x%2 == 0 else "odd" for x in range(10)}
print(squares)

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

In [7]:
["even" if x % 2 == 0 else "odd" for x in range(5)]

['even', 'odd', 'even', 'odd', 'even']

In [5]:
a=0
b=10
for a in range(b):
        print(a)

0
1
2
3
4
5
6
7
8
9