## For Loop

The for statement in Python supports repeated execution of a statement or block of statements that is controlled by an iterable expression.

    for target in iterable:
      statement(s)
      
Note that the in keyword is part of the syntax of the for statement and is functionally unrelated to the in operator used for membership testing.      

iterable may be any Python expression suitable as an argument to built-in function iter, which returns an iterator object (explained in detail in the next section). target is normally an identifier that names the control variable of the loop; the for statement successively rebinds this variable to each item of the iterator, in order. The statement or statements that comprise the loop body execute once for each item in iterable (unless the loop ends because an exception is raised or a break or return statement is executed).

### using membership operator

AND

### range() function

Looping over a sequence of integers is a common task, so Python provides built-in functions range and xrange to generate and return integer sequences. The simplest, most idiomatic way to loop n times in Python is:


    for i in range(n):
      statement(s)
      
range( x ) returns a list whose items are consecutive integers from 0 (included) up to x (excluded). range( x,y ) returns a list whose items are consecutive integers from x (included) up to y (excluded). The result is the empty list if x is greater than or equal to y. range( x,y,step ) returns a list of integers from x (included) up to y (excluded), such that the difference between each two adjacent items in the list is step.

# Comparison of `for` and `while` Loops in Python

| Aspect            | `for` Loop                                      | `while` Loop                                    |
|-------------------|--------------------------------------------------|-------------------------------------------------|
| **Purpose**       | Iterates over a sequence (e.g., list, tuple, string, range) or other iterable objects | Repeats a block of code as long as a condition is `True` |
| **Syntax**        | ```python                                          for item in iterable:     # code block```       | ```python                                          while condition:     # code block```       |
| **Iteration**     | Automatically iterates over each item in the iterable | Must manually update the condition variable inside the loop to avoid infinite loops |
| **Use Case**      | Ideal when the number of iterations is known or when iterating over collections | Ideal when the number of iterations is not known in advance and depends on a condition |
| **Example**       | ```python                                          for i in range(5):     print(i)```                 | ```python                                          count = 0     while count < 5:         print(count)         count += 1``` |
| **Loop Control**  | Can be controlled using `break`, `continue`, and `else` clauses | Can be controlled using `break`, `continue`, and `else` clauses |
| **Readability**   | Generally more readable and concise for fixed iteration scenarios | Can be less readable if the condition and update logic are complex |
| **Initialization**| Initialization is handled by the iterable (e.g., `range(5)` handles `i` from 0 to 4) | Initialization must be done explicitly before entering the loop |
| **Condition Update** | No explicit condition update needed | Must manually update the condition variable to ensure termination |

In [ ]:
# simple for loop

In [2]:
sample_list = [4,12,1,"Innomatics",True,4.32]
for list_element in sample_list:
    print(list_element)

4
12
1
Innomatics
True
4.32

In [ ]:
# Accessing elements with []
# The RANGE function in conjunction with the MEMBERSHIP operator

In [5]:
###############0,1, 2, 3          ,4   ,5 ####### are indices
sample_list = [4,12,1,"Innomatics",True,4.32]
for index in range(6):
    print(sample_list[index])

4
12
1
Innomatics
True
4.32

In [4]:
sample_list[3]

'Innomatics'

In [8]:
sample_list = [4,12,1,"Innomatics",True,4.32]
for index in range(8):
    print(sample_list[index])

4
12
1
Innomatics
True
4.32

IndexError: list index out of range

In [16]:
a=["hari",1,2,3,4,5]
for i in range(0,len(a),2):
    print(f" {a[i]} is at location {i} ")

 hari is at location 0
 2 is at location 2
 4 is at location 4

In [ ]:
# Range in conjunction with LEN function

In [10]:
sample_list = [4,12,1,"Innomatics",True,4.32]
for index in range(len(sample_list)):
    print(f"At Location {index+1} we have: ",sample_list[index])

At Location 1 we have:  4
At Location 2 we have:  12
At Location 3 we have:  1
At Location 4 we have:  Innomatics
At Location 5 we have:  True
At Location 6 we have:  4.32

In [15]:
# list and range with step

In [12]:
sample_list = [4,12,1,"Innomatics",True,4.32]
for index in range(0, len(sample_list), 2):
    print(f"At Location {index+1} we have: ",sample_list[index])

At Location 1 we have:  4
At Location 3 we have:  1
At Location 5 we have:  True

In [27]:
for i in range(27,70,3):
    print(f" the square value of {i} is equal to {i*i}")

 the square value of 27 is equal to 729
 the square value of 30 is equal to 900
 the square value of 33 is equal to 1089
 the square value of 36 is equal to 1296
 the square value of 39 is equal to 1521
 the square value of 42 is equal to 1764
 the square value of 45 is equal to 2025
 the square value of 48 is equal to 2304
 the square value of 51 is equal to 2601
 the square value of 54 is equal to 2916
 the square value of 57 is equal to 3249
 the square value of 60 is equal to 3600
 the square value of 63 is equal to 3969
 the square value of 66 is equal to 4356
 the square value of 69 is equal to 4761

### WAP to take numbers that are MULTIPLES OF 3 between the range 27 and 70 as a list and print square of the elements

In [16]:
numbers_list = range(27,70,3)
numbers_list = list(numbers_list)
numbers_list
for number in numbers_list:
    print(number ** 2)

729
900
1089
1296
1521
1764
2025
2304
2601
2916
3249
3600
3969
4356
4761

### WAP to take numbers that are MULTIPLES OF 3 between the range 27 and 70 as a list and store it in the form of a list

In [19]:
numbers_list = list(range(27,70,3))
numbers_list
square_list = []
for number in numbers_list:
    square_list.append(number * number)

print(square_list)

[729, 900, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249, 3600, 3969, 4356, 4761]

In [30]:
a=list(range(27,70,3))
b=[]
for i in a:
    b.append(i*i)
print(b)

[729, 900, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249, 3600, 3969, 4356, 4761]

### WAP to take an input from user to enter no of elements in the list and segregate odd and even from those

(1) Take input from user to enter no of elements (input) [say == 5]
(2) Enter the values of each element (loop, input)
(3) Store in List [a,b,c,d,e]
(4) odd and even list (empty)
(5) List elements to be accessed using a (loop)
(6) conditional check as odd or even (if and else)

In [21]:
#(1) Take input from user to enter no of elements (input) [say == 5]
num_of_elements = int(input("Enter the number of elements: "))
list_of_numbers = []

#(2) Enter the values of each element (loop, input)
for index in range(num_of_elements):
    number = int(input(f"Enter NUMBER {index + 1}: "))
    list_of_numbers.append(number)

#(3) Store in List [a,b,c,d,e]

print("Entered LIST of NUMBERS are: ", list_of_numbers)

#(4) odd and even list (empty)
odd = []
even = []

#(5) List elements to be accessed using a (loop)
for number in list_of_numbers:

#(6) conditional check as odd or even (if and else)
    if number % 2 == 0:
        even.append(number)
    else:
        odd.append(number)

print("EVEN List: ", even, "ODD List: ", odd)

Enter the number of elements:  3
Enter NUMBER 1:  12
Enter NUMBER 2:  43
Enter NUMBER 3:  11

Entered LIST of NUMBERS are:  [12, 43, 11]
EVEN List:  [12] ODD List:  [43, 11]

In [70]:
x=40
if (x>10): print(x)

40

In [71]:
a = int(input("Enter side a: "))
b = int(input("Enter side b: "))
c = int(input("Enter side c: "))

if a + b > c and a + c > b and b + c > a:
    print("The sides form a valid triangle.")
else:
    print("The sides do not form a valid triangle.")

Enter side a: 2
Enter side b: 3
Enter side c: 6
The sides do not form a valid triangle.

In [77]:
s = input("Enter a string: ").strip()

if s == s[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: racecar
The string is a palindrome.

In [62]:
a=input("enter a string: ")
if len(a) < 2:
    print(a)
else:
    print(a[0:2]+a[-2::])

enter a string: harichandan
haan

In [95]:
v={"city":"suryapet","village":"chittalor"}
v.setdefault("village","passionpro")
print(v)

{'city': 'suryapet', 'village': 'chittalor'}

In [96]:
a=v.setdefault("vivek","anurag clg")
print(a)

anurag clg

In [97]:
print(v)

{'city': 'suryapet', 'village': 'chittalor', 'vivek': 'anurag clg'}

In [103]:
a=[1,2,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,5,5,6,6,6,6,6,6,7,7,7]
b={}
for i in a:
    b.setdefault(i,0)
    b[i]=b[i]+1
print(b)

{1: 1, 2: 6, 3: 6, 4: 9, 5: 2, 6: 6, 7: 3}

In [106]:
from collections import Counter
a=[1,1,1,1,1,1,1,2,2,2,3,3,3,4,4]
counts=Counter(a)
counts

Counter({1: 7, 2: 3, 3: 3, 4: 2})

In [ ]:
b=[1,2,2,2,3]
c=[]
for i in set(b):

In [6]:
l=[]
for i in range(1,1000):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]