### Recursion

Recursion means calling a function in terms of iteself. All recursive algorithms have these characteristics:

1. A recursive algorithm must call itself, recursively.
2. A recursive algorithm must have a base case. A base case occurs when the problem after repeated calls to the recursive function, becomes so small that it can be solved directly.
3. A recursive algorithm after each call to the recursive function, must move towards the base case. So, in a well-designed recursive algorithm, after each iteration, the problem must become smaller.

#### USECASE 2: <U>FIBONACCI</U>

In [2]:
### SERIES --- 0, 1, 1, 2, 3, 5, 8, 13........
### INDEX ---- 0, 1, 2, 3, 4, 5, 6,  7........

no_of_terms = 7
first_number = 0
second_number = 1
fib_list = [0,1]
for number in range(no_of_terms-2):
    third_number = first_number + second_number
    fib_list.append(third_number)
    first_number = second_number
    second_number = third_number

print(f"The first {no_of_terms} in the FIBONACCI Secries is: ", fib_list)

The first 7 in the FIBONACCI Secries is:  [0, 1, 1, 2, 3, 5, 8]

In [3]:
def fibonacci(no_of_terms):
    first_number = 0
    second_number = 1
    fib_list = [0,1]
    for number in range(no_of_terms-2):
        third_number = first_number + second_number
        fib_list.append(third_number)
        first_number = second_number
        second_number = third_number

    return fib_list

terms = 7
print(f"The first {terms} in the FIBONACCI Secries is: ", fibonacci(terms))

The first 7 in the FIBONACCI Secries is:  [0, 1, 1, 2, 3, 5, 8]

In [11]:
def nth_fibonacci_term(term):
    if term == 0 or term == 1:
        #print(f"Inside IF. The value of term is {term}")
        return term
    elif term < 0:
        return "Out of MIND...Think again!!!"
    else:
        #print(f"Inside ELSE. The value of term is {term}")
        return nth_fibonacci_term(term - 1) + nth_fibonacci_term(term - 2)

nth_term = 6
print(f"{nth_term} in the FIBONACCI Series is: ", nth_fibonacci_term(nth_term))

6 in the FIBONACCI Series is:  8

In [14]:
nth_fibonacci_term(25)/nth_fibonacci_term(24)

1.618033988957902

# Some special functions

## 1. zip function
- zip() is an aggregator, meaning it aggregates two or more iterables or sequences. The individual items of the iterables are combined to form tuples. The zip() function stops whenever the shortest of the variables is exhausted.

In [ ]:
######## CHECK PREVIOUS CONCEPT TAUGHT ###########

## 2. Lambda function
- Lambda function is used to create an anonymous function (i.e, an inline function without a name) used for a short calculation

In [27]:
# square of number

In [15]:
num = 54
sq_num = lambda number: number ** 2
sq_num(num)

2916

In [3]:
just_print_something = lambda : "Hello World!"
just_print_something()

'Hello World!'

In [4]:
just_print_something = lambda : 54
just_print_something()

54

In [5]:
a = 54
a

54

In [6]:
string = "Saomya"
string.upper()

'SAOMYA'

### Rules to create Lambda function
- lambda can take any number of parameters (arguments)
- instead of def, we use lambda. No paranthesis required
- colon separates parameters and expression.
- no need of print/return keyword
- parameters/arguments  is optional

In [26]:
# odd even function - lambda with conditional

In [16]:
num = 54
odd_even = lambda number: "EVEN" if number % 2 == 0 else "ODD"
odd_even(num)

'EVEN'

` *args and **kwargs`
- *args - when youhave no idea about how many arguments you will be receiving as an input for the function
- **kwargs - .......how many keyword arguments you will be .......

In [36]:
# take list of numbers

In [3]:
list_of_nos = lambda *numbers: numbers
list_of_nos(54,12,46,4,4,122)

(54, 12, 46, 4, 4, 122)

In [5]:
list_of_nos = lambda numbers: numbers**2
a = [54,12,46,4,4,122]
list(map(list_of_nos,a))

[2916, 144, 2116, 16, 16, 14884]

In [ ]:
# take dict of students and marks

In [19]:
dict_of_stud_marks = lambda **item: item
dict_of_stud_marks(saomya = 10, harika = 20, divya = 25)

{'saomya': 10, 'harika': 20, 'divya': 25}

In [6]:
a = lambda **item:item
a(hari = 10,yash = 20,kausthub = 34,ayush = 689)

{'hari': 10, 'yash': 20, 'kausthub': 34, 'ayush': 689}

## 3. Map function
- map() function takes a function and a sequence as its arguments. It returns iterator(some kind of sequence over which you can iterate one by one) on which the function is applied.

In [ ]:
# cube of elts in list

In [9]:
lst_of_nos = [5,12,44,17,12,2]
cube_function = lambda element: element ** 3
tuple(map(cube_function, lst_of_nos))

(125, 1728, 85184, 4913, 1728, 8)

## 4. Filter function
- filter() function applies the predicate (condition) on sequence. If the predicate returns True, the value passes the test and is added to a filter object. Otherwise, the value is dropped from consideration.

In [ ]:
# separate list of numbers either divisible by 2 or 3 but not both

In [15]:
lst_of_nos

[5, 12, 44, 17, 12, 2]

In [18]:
def div_by_2or3_not_both(number):
    if (number % 2 == 0) and (number % 3 == 0):
        return False
    elif (number % 2 == 0) or (number % 3 == 0):
        return True
    else:
        return True

list(filter(div_by_2or3_not_both, lst_of_nos))

[5, 44, 17, 2]

## 5.  Reduce function
- reduce() function from functools module is used to apply a function repeatedly to accumulate a single data value. A summation is a good example of this process. The first value is added to the second value, then that sum is added to third value, and so on, until the sum of all the values is produced.

In [16]:
from functools import reduce

In [7]:
def multiply(num1,num2):
    return num1 * num2
lst_of_nos

NameError: name 'lst_of_nos' is not defined

In [24]:
reduce(multiply, lst_of_nos)

0

In [19]:
def sum(a,b):
    return a*b
c = [1,2,3,4,5,6,7,8,9,10]

In [20]:
reduce(sum,c)

3628800

In [25]:
import functools

In [ ]:
functools.

In [26]:
sum(lst_of_nos)

92