# 1. What is a set in Python? How is it different from other data structures like lists or tuples? Explain with examples.

### Set is defined as it will be stored in flower brackets 
### It has 4 properties 
### Set is unordered,immutable,Cannot allow duplicates,allows different types of data types.
### we can add ,remove elements from set.
### list is mutable,unordered,allows  duplicates,we can wite different data types.
### tuple is inmutable,ordered,allows duplicates,

# 2.What is the difference between set.pop() and list.pop()? Explain with examples.

In [2]:
a={"hari",1,2,3,4,"mani chandana","chandrika","thanvika",4.5}
print(a)

{1, 'chandrika', 2, 3, 4, 4.5, 'mani chandana', 'thanvika', 'hari'}

In [3]:
a.pop()

1

In [6]:
a=[1, 2, 3, 4, 4.5, 'hari', 'chandrika', 'thanvika', 'mani chandana']
print(a)
a.pop()

[1, 2, 3, 4, 4.5, 'hari', 'chandrika', 'thanvika', 'mani chandana']

'mani chandana'

### when we use pop() in both list and set in list it will pop the last element but when it comes to set it will pop first element.

# Given the set S = {1, 2, 3, 4, 5, 76, 32, 65}, apply all built-in set functions to this example.

In [14]:
s={1,2,3,4,5,76,32,65}
print(s)
s.pop() #popping an element from the set
print(s)
s.copy()#copying the set
print(s)
s.remove(76)#removing a specific element
print(s)
s.discard(65)#discarding a particular an element from the set
print(s)
s.discard(6)#discarding an element which is not present in the set it gives whole set as the result
print(s)
s.remove(6)#when we are trying to delete an element  which is not present in the set we will get error
print(s)

{32, 1, 2, 3, 4, 5, 65, 76}
{1, 2, 3, 4, 5, 65, 76}
{1, 2, 3, 4, 5, 65, 76}
{1, 2, 3, 4, 5, 65}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

KeyError: 6

### 4. Update the first set with items that don't exist in the second set.
### s1={150,200,400}
### s2={200,750,650}
### Expected output: s1={150,400}

In [17]:
s1={150,200,400}
s2={200,750,650}
print(s1)
print(s2)
s1.difference_update(s2)
print(s1)

{200, 400, 150}
{200, 650, 750}
{400, 150}

### 5. Define a set S = {apple, banana, cherry, orange}. Use Python set methods to add a new fruit 'grape' to S, remove 'banana' from S, and check the length of S

In [27]:
s={"apple","banana","cherry","orange"}
print(s)
s.add("grape")
print(s)
s.remove("banana")
print(s)

{'apple', 'cherry', 'orange', 'banana'}
{'banana', 'apple', 'grape', 'cherry', 'orange'}
{'apple', 'grape', 'cherry', 'orange'}

#### 6.  dict = {“name1_marks” : [34,56,87,89], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}   add the marks   97  in  “name1_marks”.
Expected output : {“name1_marks” : [34,56,87,89, 97], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}

In [68]:
dict1={"name1_marks":[34,56,87,89]}
dict2={"name2_marks":[79,98,54,34]}
dict3={"name3_marks":[87,65,97,90]}
print(dict2)
print(dict3)
a=list((dict1.values()))
print(a)
a.append(97)
print(a)
dict1["name1_marks"]=a
print(dict1)

{'name2_marks': [79, 98, 54, 34]}
{'name3_marks': [87, 65, 97, 90]}
[[34, 56, 87, 89]]
[[34, 56, 87, 89], 97]
{'name1_marks': [[34, 56, 87, 89], 97]}

In [8]:
s={1,2,"hari","thanvika"}
print(s)
s.discard("3")
print(s)

{'thanvika', 1, 2, 'hari'}
{'thanvika', 1, 2, 'hari'}