1.Explain the properties of list and tuple in the markdown cell.

# LIST: 1.List is mutable(changeable) we can add, delete,replace the elements in list.
#2.List allows duplicates (same elements repiting more than one time)
#3.list is ordered it will be having a proper order
TUPLE:
#1.Tuple is ummutable we cannot add,delete,replace in tuple
#2.Tuple allows duplicates.
#3.Tuples are ordered.

In [ ]:
chandan=[1,2,3,4,5]
print(chandan)

[1, 2, 3, 4, 5]

3.Access the third element of the list [10, 20, 30, 40, 50].

In [ ]:
List=[10,20,30,40,50]
print(List)
print(List[2])
print(List[-3])

[10, 20, 30, 40, 50]
30
30

Change the second element of the list [1, 2, 3, 4, 5] to 10.

In [ ]:
List=[1,2,3,4,5]
List[1]=10
print(List)

[1, 10, 3, 4, 5]

6.Add the element 6 to the end of the list [1, 2, 3, 4, 5].

In [ ]:
List=[1,2,3,4,5]
List.append(6)
print(List)

[1, 2, 3, 4, 5, 6]

6.Concatenate the lists [1, 2, 3] and [4, 5, 6].

In [ ]:
List1=[1,2,3]
List2=[4,5,6]
List1+List2

[1, 2, 3, 4, 5, 6]

7.Create a tuple containing the strings "apple", "banana", and "cherry".

In [ ]:
Tuple=("apple","banana","cherry")
print(Tuple)

('apple', 'banana', 'cherry')

8.Access the first element of the tuple ("apple", "banana", "cherry")

In [ ]:
chandan=("apple","banana","cherry")
print(chandan[0])

apple

9.Check if the number 4 is in the list [1, 2, 3, 4, 5]

In [ ]:
chandan=[1,2,3,4,5]
print(4 in chandan)

True

10.Find the length of the list [10, 20, 30, 40, 50].

In [ ]:
chandan=[10,20,30,40,50]
print(chandan)
len(chandan)

[10, 20, 30, 40, 50]

5

11.Slice the list [10, 20, 30, 40, 50] to get the sublist [20, 30, 40].

In [ ]:
chandan=[10,20,30,40,50]
chandan[1:4]

[20, 30, 40]

12.Unpack the tuple (10, 20, 30) into three variables.

In [ ]:
chandan=(10,20,30)
c=10
h=20
a=30
print(c)
print(h)
print(a)

10
20
30

13.Count the number of times the element 2 appears in the list [1, 2, 2, 3, 4, 2, 5].

In [1]:
chandan=[1,2,2,3,4,2,5]
print(chandan)
chandan.count(2)

[1, 2, 2, 3, 4, 2, 5]

3

[3, 3, 3, 1, 1, 5, 5, 5, 5, 5, 1]

14.Find the maximum element in the list [1, 2, 3, 4, 5].

In [ ]:
chandan=[1,2,3,4,5]
print(chandan)
max(chandan)

[1, 2, 3, 4, 5]

5

15.Convert the list [1, 2, 3, 4, 5] to a tuple.

In [ ]:
chandan=[1,2,3,4,5]
print(chandan)
tuple(chandan)

[1, 2, 3, 4, 5]

(1, 2, 3, 4, 5)

16.Extend the list [1, 2, 3] with elements from the list [4, 5, 6].

In [ ]:
chandan=[1,2,3]
chandan
chandan.extend([4,5,6])
print(chandan)

[1, 2, 3, 4, 5, 6]

17.Reverse the list [1, 2, 3, 4, 5].

In [ ]:
chandan=[1,2,3,4,5]
chandan
chandan.reverse()
chandan

[5, 4, 3, 2, 1]

18.Access the element 3 in the nested list [[1, 2], [3, 4], [5, 6]].

In [ ]:
chandan=[[1,2],[3,4],[5,6]]
print(chandan[1][0])

3

19.Remove the element 4 from the list [1, 2, 3, 4, 5].

In [ ]:
chandan=[1,2,3,4,5]
print(chandan)
chandan.remove(4)
chandan

[1, 2, 3, 4, 5]

[1, 2, 3, 5]

20.Convert the tuple (1, 2, 3, 4, 5) to a list.

In [ ]:
chandan=(1,2,3,4,5)
print(chandan)
print(list(chandan))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

21.Find the index of the element 3 in the list [1, 2, 3, 4, 5].

In [ ]:
chandan=[1,2,3,4,5]
print(chandan)
chandan.index(3)

[1, 2, 3, 4, 5]

2

22.Explain why the following operation fails: t = (1, 2, 3); t[0] = 0.

In [ ]:
t=(1,2,3)
t[0]=0

TypeError: 'tuple' object does not support item assignment

Actually Tuple is un mutable so we cannot replace new elements to the variable

23.You have a list of your favorite Marvel superheroes.
heroes=['spider man','thor','hulk','iron man','captain america']  Using this list,
1.find Length of the list
2.Add 'black panther' at the end of this list.

In [ ]:
heroes=['spider man','thor','hulk','iron man','captain america']
print(heroes)
print(len(heroes))
heroes.append('black panther')
heroes

['spider man', 'thor', 'hulk', 'iron man', 'captain america']
5

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'.

In [ ]:
b=['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
print(b)
b.remove('black panther')
print(b)
b.insert(3,'black panther')
print(b)

#Now you don't like thor and hulk because they get angry easily 🙂.
#So you want to remove thor and hulk from the list and
#replace them with Doctor Strange (because he is cool).
#Do that with one line of code.

c=['spider man', ['thor', 'hulk'], 'black panther', 'iron man', 'captain america']
print(c)
c.remove(['thor','hulk'])
c
c.insert(1,'doctor strange')
print(c)
c.sort()
print(c)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', ['thor', 'hulk'], 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

24. Write a program to add item 7000 after 6000 in the following Python List:
	list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1=[10,20,[300,400,[5000,6000],30,40]]
print(list1)
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000], 30, 40]]
[10, 20, [300, 400, [5000, 6000, 7000], 30, 40]]