#### 1. Write a function square(x) that returns the square of the number x.

In [1]:
def Square_of_the(number):
    return(number * number)

Square_of_the(9)

81

#### 2.Write a function to_uppercase(s) that converts all characters in a string s to uppercase

In [2]:
def Upper_case_of(letter):
    return letter.upper()

Upper_case_of("chintubabu")

'CHINTUBABU'

#### 3.Write a function find_max(a, b) that returns the maximum of two numbers a and b

In [3]:
def max_of_numbers(a,b):
    if a > b:
        return(a)
    else:
        return(b)
    
max_of_numbers(800000,89)

800000

#### 4.Write a function count_vowels(s) that returns the number of vowels (a, e, i, o, u) in a string s.

In [4]:
def count_vowel(string): 
    count_vowels = 0
    for element in string:
        if element in "aeiouAEIOU":
            count_vowels += 1
    print(count_vowels)
    
count_vowel("chintupappu")

4

#### 5.Write a function concat_strings(s1, s2) that returns the concatenation of two strings s1 and s2.

In [5]:
def concat_strings(s1, s2):
    concatenation_of_twostrings = (s1+s2)
    return (concatenation_of_twostrings)

concat_strings("hari ","chandan")

'hari chandan'

#### 6.Write a function remove_duplicates(lst) that takes a list lst and returns a new list with duplicate elements removed.

In [6]:
def function_remove_duplicates(lst):
    remove_duplicates = set(lst)
    return(list(remove_duplicates))

function_remove_duplicates([2,3,3,4,"hari","hari"])

[2, 3, 4, 'hari']

#### 7.Write a function char_frequency(s) that returns a dictionary where the keys are characters in the string s and the values are the number of times each character appears.

In [7]:
def char_frequency(string):
    dic = {}
    count = 0
    string1 = ""
    for element in string:
        keys = element
        if element in string1:
            count = count+1
        else:
            count = 1
            string1 = string1 + element
        dic.update({keys:count})
    return dic
char_frequency("harichandannaidu")

{'h': 2, 'a': 5, 'r': 1, 'i': 6, 'c': 1, 'n': 4, 'd': 7, 'u': 1}

#### 8.Write a function sum_even_numbers(lst) that returns the sum of all even numbers in a list lst.

In [8]:
def sum_even_numbers(lst):
    sum = 0
    for element in lst:
        if element % 2 == 0:
            sum = sum + element
    return sum

sum_even_numbers([1,2,3,4,5,6,7,8,9,10])

30

In [4]:
6>>1

3

In [5]:
bin(6)

'0b110'