How do you repeat a string multiple times?
Example:  input = “Innomatics”
                  Output  = “Innomatics  Innomatics Innomatics”

In [ ]:
a="Innomatics "
print(a * 3)

Innomatics Innomatics Innomatics

Solve below:
s="your full name"
s[-1],s[-3],s[3], s[2:7],s[2:7:1],s[2:7:1],s[2:7:2],s[2:7:-1],s[2:7:-2],s[7:2:1],s[7:2:-1],s[7:2:-2] Solve this question using pen and paper attach your images in the notebook itself, then verify answers by writing codes. Include your examples and try playing with different kinds of slicing with positive and negative steps.

In [1]:
s="tharala hari chandan"
print(s[-1])

n

In [2]:
s="tharala hari chandan"
print(s[-3])

d

In [3]:
s="tharala hari chandan"
print(s[3])

r

In [4]:
s="tharala hari chandan"
print(s[2:7])

arala

In [5]:
s="tharala hari chandan"
print(s[2:7:1])

arala

In [6]:
s="tharala hari chandan"
print(s[2:7:2])

aaa

In [7]:
s="tharala hari chandan"
print(s[2:7:-1])

In [8]:
s="tharala hari chandan"
print(s[2:7:-2])

In [9]:
s="tharala hari chandan"
print(s[7:2:1])

In [10]:
s="tharala hari chandan"
print(s[7:2:-1])

 alar

In [11]:
s="tharala hari chandan"
print(s[7:2:-2])

 lr

What is the difference between string.find() and string.index() ? Explain with examples.

In [12]:
hari="charan sir teaches well"
print(hari.find("t"))
print(hari.index("t"))

11
11

In [ ]:
print(hari.find("k"))

-1

when we execute a string which is not present in our variable
find method gives the result as [-1] where as index method gives an ERROR as the result this is the difference between find(),and index()methods.find method gives good result compared to index method.

In [ ]:
print(hari.index("k"))

ValueError: substring not found

S = “Ram Raj Ram”
Expected output: “Ram raj ram”

In [ ]:
S="Ram Raj Ram"
(S.capitalize())

'Ram raj ram'

Given two strings, first_name and last_name, write a function that concatenates them to form a full name with a space in between. Ensure the resulting full name has the first letter of each word capitalized correctly.

In [ ]:
first_name="tharala "
last_name="hari chandan"
name = print(first_name +last_name)
print(first_name.capitalize(),last_name.capitalize())

tharala hari chandan
Tharala  Hari chandan

Check if the string s (s = "madam") is a palindrome and assign the result (True/False) to the variable is_palindrome.

In [14]:
s="madam"
reverse=(s[::-1])
print(reverse)
reverse==s

madam

True

S =  “InnomaticsResearchLabs”
Expected output: I-n-m-t-c-R-s-a-c-L-b

In [ ]:
S="InnomaticsResearchLabs"
A=S[0:22:2]
print(A)
print("-".join(A))

InmtcRsacLb
I-n-m-t-c-R-s-a-c-L-b

In [15]:
a="love makes life beautiful statistics makes data colourful"
a.title()

'Love Makes Life Beautiful Statistics Makes Data Colourful'