# Swapping numbers

In [1]:
a = 12
b = 13
print(a,b)
a,b = b,a
print(a,b)

12 13
13 12

In [3]:
num1 = 20
num2 = 30
print(num1,num2)
temp = num1 #storing num1 in temp
num1 = num2 #storing num2 in num1
num2 = temp # storing num2 in temp
print(num1,num2)

20 30
30 20

In [4]:
num1 = int(input("enter the number 1"))
num2 = int(input("enter the number 2"))
print(num1,num2)
temp = num1
num1 = num2
num2 = temp
print(num1,num2)

enter the number 112
enter the number 269
12 69
69 12

In [1]:
a = 12
b = 13 
a,b = b,a
print(a,b)

13 12

In [2]:
a = 12
b = 34
temp = a # 12
a = b  # 34 
b = temp # 12
print(a,b)

34 12

# Prime number

In [3]:
num = 7
count = 0
if num > 0:
    for i in range(1,num+1):
        if num % i == 0:
            count = count+ 1
    if count == 2:
        print("number is prime ")
    else:
        print("number is not prime")

number is prime

- Here in for loop looping the numbers i put condition that if num gives remainder 0 we consider it a factor when ever we have 2 factors we will stop dividing as prime number has only 2 factors and i alos using count variable to store counts when ever there is count == 2 division should stop and give prime number

# Factorial number

In [7]:
num = 5
fact = 1
if num < 0:
    print("for negative numbers we don have factorial")
elif num == 0:
    print("1 is the factorial")
else:

    for i in range(1,num+1):
        fact = fact * i
    print(f"{fact} is the factorial of {num}")

120 is the factorial of 5

# Recurssion

In [8]:
def factorial(n):
    if (n == 0) or (n == 1):
        return 1
    else:
        return n * factorial(n-1)
    
    
factorial(10)

3628800

- Here we are calling the function itself again in return statement when ever we call function itself we can say it is recursion

## Ternary operator

In [9]:
def factorial(n):
    return 1 if n==0 or n==1 else n*factorial(n-1)


factorial(10)

3628800

# Fibinocci number

In [10]:
n1 = 0
n2 = 1

# fibonacci number = 0,1,1,2,3,5,8,13

for i in range(2,10):
    fib = n1 + n2
    fib
    n1 = n2
    n2 = fib
    print(fib)

1
2
3
5
8
13
21
34

- frst step defining 2 numbers after that i created a temporary variable which gives fibinocci pattern adding two consective numbers and i did for frst 2 numbers then numbers will be changing num 1 becomes num2 and num 2 becomes num1+num2 so in this process i have to loop them.

# Sum of numbers in a array

In [11]:
array = [1,2,3,67,89]
sum(array)

162

- Now i want to add additional value and subtract additional value to the array

In [14]:
print(sum(array,10))

# i am adding 10 to this array

172

In [15]:
print(sum(array,-170))

# subtracting -170 from array 162-170 = -8

-8

# Finding maximum and minimum value in the array

In [ ]:
arr

# Basics Of Python

In [7]:
print("hey","hello")

# by default seperator is "space"

hey hello

In [8]:
print("hello","world",sep="~")

#what ever the seperator we give it puts inplace of space

hello~world