In [ ]:
# Print First 10 natural numbers using while loop
# Calculate the sum of all numbers from 1 to a given number
# Write a program to print multiplication table of a given number
# Display numbers from a list using loop 
# Find the factorial of a given number
# Use a loop to display elements from a given list present at odd index positions
# Calculate the squares and cubes of a given range
# Largest number in a list using for loop
# Average of the numbers in a list by using for loop
# Take a string and count vowels inside it
# prime numbers between 1,30
# define two lists and copy same elements into another list

In [ ]:
# Print First 10 natural numbers using while loop

counter = 0
print("Multiplication Table for 7")
while counter < 11:
    print(f"7 X {counter} = {7*counter}")
    counter += 1
    
# Write 7 table
# 7 x 1 = 7
# 7 x 2 = 14

In [ ]:
print("Multiplication table of 7 is: ")
for every_datapoint in range(1,11):
    print(f"7 X {every_datapoint} = {7*every_datapoint}")

In [9]:
# Calculate the sum of all numbers from 1 to a given number

# 1+2+3+4+....+10 = 55

result = 0
for i in range(1,11):
    result = result + i
print(result,"the value of the result")

55 the value of the result

In [12]:
# Calculate the product of all numbers from 1 to a given number

# Factorial of a number:
# 5*4*3*2*1
result = 1
for i in range(1,11):
    result = result * i
    print()
    print(result,"this is updated value after every iteration")
print(result,"the value of the result")

1 this is updated value after every iteration

2 this is updated value after every iteration

6 this is updated value after every iteration

24 this is updated value after every iteration

120 this is updated value after every iteration

720 this is updated value after every iteration

5040 this is updated value after every iteration

40320 this is updated value after every iteration

362880 this is updated value after every iteration

3628800 this is updated value after every iteration
3628800 the value of the result

In [15]:
# 5*4*3*2*1

# syntax for in range(start,end,step)

R = 1
for i in range(5,0,-1):
    R = R * i

print(R)

120

In [24]:
# Use a loop to display elements from a given list present at "odd index" positions

F = [1,2,3,4,5,6,7,8,9,10]

#F[1],F[3]

print("Displaying elements from a given list: ")
print()
for i in range(0,len(F)):
    if i%2!=0:
        print(f"value at {i} index is: {F[i]}")

Displaying elements from a given list:

value at 1 index is: 2
value at 3 index is: 4
value at 5 index is: 6
value at 7 index is: 8
value at 9 index is: 10

In [30]:
# Calculate the squares and cubes of a given range

cube = 0
square = 0

for i in range(1,5):
    square = i**2
    cube = i**3
    print(f"squares and cubes of {i} are {square,cube}")

squares and cubes of 1 are (1, 1)
squares and cubes of 2 are (4, 8)
squares and cubes of 3 are (9, 27)
squares and cubes of 4 are (16, 64)

In [31]:
# Calculate the squares and cubes of a given range

cube = []
square = []

for i in range(1,5):
    square.append(i**2)
    cube.append(i**3)

print(square)
print()
print(cube)

#sum of squares and sum of cubes for a given range

[1, 4, 9, 16]

[1, 8, 27, 64]

In [32]:
cube = 0
square = 0

for i in range(1,5):
    square = square + i**2
    cube = cube + i**3
    
print(f"sum of squares and cubes are {square,cube}")

sum of squares and cubes are (30, 100)

In [51]:
# Largest number in a list using for loop

K = [35,63,78,25,993,200,100]

# Reference element
# compare the reference element with all the elements
# see which element is greater 
# print the element 

reference = K[0] #35

for i in K:
    if reference < i: #35 F, 63 F,78 F,25 T
        reference = i 
        print(reference,"updation after every iteration")
print(reference)

63 updation after every iteration
78 updation after every iteration
993 updation after every iteration
993

In [42]:
35>63

False

In [37]:
print(b>a)
print(b>c)
print(b>d)

True
False
True

In [38]:
print(c>a)
print(c>b)
print(c>d)

True
True
True

In [39]:
print(d>a)
print(d>b)
print(d>c)

False
False
False

In [54]:
# Average of the numbers in a list by using for loop

total_sum = 0 # youll try to increment this by every element in the list
numb = 0 # youll increment the iteration value 

for i in K:
    total_sum = total_sum + i
    numb = numb+1
    
avg = total_sum/numb
print(avg)

213.42857142857142

In [59]:
# Take a string and count vowels inside it

my_string = "Hello world Im python"

# "a","e","i","o",u"

counter = 0
for i in my_string.lower():
    if i =="a" or i=="e" or i=="i" or i =="o" or i=="u":
        counter = counter + 1
print(counter)

5

In [60]:
# shallow copy and deep copy

# Data - collect the data into a ds (list,tuple,dict,set)
# Access the data from here

# Analysis - Main Data , Duplicate and then work on it 

F = [1,2,3,4]
G = F.copy()

In [62]:
G[0] = "charan"
print(F)
print(G)

[1, 2, 3, 4]
['charan', 2, 3, 4]

In [63]:
F = [1,2,[1,2,3],5,6]
G = F.copy()

In [65]:
G[2][1] = "charan"

In [66]:
print(F)
print(G)

# Shallow copy

[1, 2, [1, 'charan', 3], 5, 6]
[1, 2, [1, 'charan', 3], 5, 6]

In [68]:
# deepcopy

import copy
F = [1,2,[1,2,3],5,6]
G = copy.deepcopy(F)
G[2][1] = "charan"

In [69]:
print(F)
print(G)

[1, 2, [1, 2, 3], 5, 6]
[1, 2, [1, 'charan', 3], 5, 6]

In [ ]:
# shallow copy it tries to create a reference` 
# deepcopy it creates a new data point or ds

In [ ]:
my_string = "Hello world Im python"

# "a","e","i","o",u"

counter = 0
for i in my_string.lower():
    if i =="a" or i=="e" or i=="i" or i =="o" or i=="u":
        counter = counter + 1
print(counter)

In [79]:
def count_vowels(user_input):
    counter = 0
    for i in user_input.lower():
        if i =="a" or i=="e" or i=="i" or i =="o" or i=="u":
            counter = counter + 1
    return counter

In [80]:
count_vowels("charan is data scientist")

8