In [44]:
# Functions

# Functions are the expressions which take in the input and return the output


def weclome_msg():
    print("Hello Good Morning Everyone!!!, Welcome to Innomatics")
          
          
# once you define the function you have to "CALL THE FUNCTION" to use it

In [49]:
weclome_msg()

Hello Good Morning Everyone!!!, Welcome to Innomatics

In [50]:
# Let us 

def add(x1,x2):
    c = x1 + x2
    print(c)

In [52]:
add(30,67) # 30,67

97

In [53]:
def welcome_msg(x):
    print("Hello Good Morning ",x," Welcome to Innomatics")

In [54]:
welcome_msg("charan")

Hello Good Morning  charan  Welcome to Innomatics

In [55]:
welcome_msg("Indra Sena Reddy")

Hello Good Morning  Indra Sena Reddy  Welcome to Innomatics

In [56]:
def charan(x,y): # x and y
    print(x,"this is the value of x")
    print(y,"this is the value of y")

In [59]:
charan(20,30) 
# first value will be always considered as x
# second value will be always considered as y

20 this is the value of x
30 this is the value of y

In [58]:
charan(30,20)

30 this is the value of x
20 this is the value of y

In [60]:
# Gross Salary - Total Deductions

def take_home_salary(salary,deductions):
    remaining_bal = salary - deductions
    print(remaining_bal)

In [61]:
# 30000 and his deductions are 4000

take_home_salary(30000,4000)

26000

In [62]:
take_home_salary(4000,30000)

-26000

In [63]:
# arbitary arguments # follows an order
# if user makes mistake while hes passing arguments to the function
# output will be different

# keyword arguments # youre directly assigning the value to the 
# arguments, even if order is changed it doesnt impact the output

take_home_salary(salary=50000,deductions=2000)

48000

In [81]:
take_home_salary(deductions=2000,salary=50000,)

48000

In [78]:
def take_home_salary(salary,deductions):
    
    '''This function is for calculating the remaining balance.
        It takes in salary and deductions parameter'''
    
    remaining_bal = salary - deductions
    print(remaining_bal)

In [79]:
help(take_home_salary)

Help on function take_home_salary in module __main__:

take_home_salary(salary, deductions)
    This function is for calculating the remaining balance.
    It takes in salary and deductions parameter

In [80]:
# builtin functions

# print(),len()...... some have developed these functions
# we are trying to use this functions for our problem statements

# user defined functions - manual
help(take_home_salary)

Help on function take_home_salary in module __main__:

take_home_salary(salary, deductions)
    This function is for calculating the remaining balance.
    It takes in salary and deductions parameter

In [ ]:
# take input from the user - salary, savings,insurance,pf
# calculate the total amount hes paying to insurance and pf

# try to take name and reverse it 

# Can you can Can a Can as canners can a can
# She sells sea shells on the sea shore

# count the number of each vowel in this 

# if you notice this notice you will notice that this notice
# is not worth noticing

# filter the words which are having lenght less than 3
# without using any predefined function count how many times "notice"
# is repeated

In [82]:
# try to take name and reverse it 

def reverse_name(x):
    print(x[::-1])

In [83]:
reverse_name("charan")

narahc

In [84]:
reverse_name("innomatics")

scitamonni

In [85]:
y = input("Enter Something : ")
reverse_name(y)

Enter Something : hari chandan
nadnahc irah

In [ ]:
input_1 = 34
input_2 = 40


function(input_1,input_2)

In [92]:
# Can you can Can a Can as canners can a can
# She sells sea shells on the sea shore

# count of each vowel

def count_each_vowel(x):
    count_a = 0
    count_e = 0
    count_i = 0
    count_o = 0
    count_u = 0

    for i in x:
        if i == "a":
            count_a +=1
        elif i =="e":
            count_e +=1
        elif i =="i":
            count_i +=1
        elif i =="o":
            count_o +=1
        elif i =="u":
            count_u +=1

    print("a is repeated ",count_a," times")
    print("e is repeated ",count_e," times")
    print("i is repeated ",count_i," times")
    print("o is repeated ",count_o," times")
    print("u is repeated ",count_u," times")

In [93]:
count_each_vowel("Can you can Can a Can as canners can a can")

a is repeated  10  times
e is repeated  1  times
i is repeated  0  times
o is repeated  1  times
u is repeated  1  times

In [94]:
count_each_vowel("She sells sea shells on the sea shore")

a is repeated  2  times
e is repeated  7  times
i is repeated  0  times
o is repeated  2  times
u is repeated  0  times

In [100]:
L = "apple"

print(L[::-1])

elppa

In [107]:
# filter words which are having the lenght less than 3

def filter_words(x):
    less_than3 = []
    greater_than3 = []

    for i in x.split(" "):
        if len(i) < 3:
            less_than3.append(i)
        elif len(i) >3:
            greater_than3.append(i)

    print(less_than3)
    print(greater_than3)

In [108]:
filter_words("She sells sea shells on the sea shore")

['on']
['sells', 'shells', 'shore']

In [109]:
filter_words("Can you can Can a Can as canners can a can")

['a', 'as', 'a']
['canners']

In [122]:
# arbitary and keyword


def reverse_name(x): # only one parameter / argument "x"
    print()
    print(x,"this is the input that im passing to the function")
    print()
    print(x[::-1])

In [123]:
reverse_name("charan")

charan this is the input that im passing to the function

narahc

In [124]:
reverse_name("charan","sai")

TypeError: reverse_name() takes 1 positional argument but 2 were given

In [125]:
reverse_name(["charan","sai"])

['charan', 'sai'] this is the input that im passing to the function

['sai', 'charan']

In [126]:
def reverse_name(x): # only one parameter / argument "x"
    print()
    print(x,"this is the input that im passing to the function")
    print()
    for i in x:
        print(i[::-1])

In [128]:
reverse_name(["charan"])

['charan'] this is the input that im passing to the function

narahc

In [129]:
reverse_name(["charan","innomatics"])

['charan', 'innomatics'] this is the input that im passing to the function

narahc
scitamonni

In [146]:
# *args
# *charan
# *innomatics

def something(*reference): # abitary args
    print(type(reference))
    print(reference)

In [147]:
something(34,23,"charan",92)

<class 'tuple'>
(34, 23, 'charan', 92)

In [145]:
def something(**reference): # keyword
    print(type(reference))
    print(reference)
    print()
    print("elements in side the keyword arguments")
    for i in reference.items():
        print(i)
    
something(a = 34, b = 23,c = "charan",d = 92)

<class 'dict'>
{'a': 34, 'b': 23, 'c': 'charan', 'd': 92}

elements in side the keyword arguments
('a', 34)
('b', 23)
('c', 'charan')
('d', 92)

In [ ]:
# types of arguments

# arbitary arguments
# keyword arguments
# multiple aribitary arguments
# multiple keyword arguments

In [152]:
def difference(a,b):
    c = a-b
    print(c)

In [153]:
difference(1,5) # positional or arbitary args

-4

In [154]:
difference(a=1,b=5) # keyword argumnets

-4

In [ ]:
# where i want to create a function
# which will accept only positonal arguments

In [148]:
# specifying a function to take in only positional arguments

In [155]:
def difference(a,b,/):
    c = a - b
    print(c)

In [156]:
difference(1,5)

-4

In [157]:
difference(a=1,b=5)

TypeError: difference() got some positional-only arguments passed as keyword arguments: 'a, b'

In [158]:
def difference(*,a,b):
    c = a - b
    print(c)

In [160]:
difference(a=3,b=5)

-2

In [161]:
difference(3,5)
difference(a=3,b=5)

TypeError: difference() takes 0 positional arguments but 2 were given

In [175]:
# i want the first two inputs as arbitary arguments
# the last two inputs as keyword args
def something(x,y,/,*,c,d):
    pass

In [176]:
something(1,2,c=3,d=90)

In [177]:
something(c=3,d=90,2,5)

SyntaxError: positional argument follows keyword argument (1513766604.py, line 1)

SyntaxError: / must be ahead of * (705690946.py, line 1)

In [187]:
# print()


# lets calculate the salaray of a employee

# CTC - 20000, incentives - 3000

def calculate_salary(ctc,incentives):
    total_salary = ctc + incentives
    return total_salary

In [188]:
# A = 50000,6000
# B = 60000, 3000
# ------


calculate_salary(ctc=50000,incentives=6000)

56000

In [189]:
calculate_salary(ctc=60000,incentives=3000)

63000

In [190]:
A_sal = calculate_salary(ctc=50000,incentives=6000)
B_sal = calculate_salary(ctc=60000,incentives=3000)

In [191]:
print(A_sal)

56000

In [192]:
print(B_sal)

63000

In [193]:
# print()


# lets calculate the salaray of a employee

# CTC - 20000, incentives - 3000

def calculate_salary(ctc,incentives,homerent,expenses):
    total_salary = ctc + incentives
    remaining_money = total_salary - homerent - expenses
    return total_salary,remaining_money

In [200]:
# unpacking 
A_sal,A_bal = calculate_salary(ctc=50000,incentives=6000,homerent=4000,expenses=2000)
# B_sal,B_bal = calculate_salary(ctc=60000,incentives=3000,homerent=2000,expenses=5000)

In [201]:
print(A_sal)
print(A_bal)

56000
50000

In [ ]:
difference(3,5)
difference(a=3,b=5)

In [202]:
# default 

def cal(price,tax=0.18):
    return price+ price*tax

In [203]:
cal(100)

118.0

In [204]:
cal(90)

106.2

In [4]:
def difference(a,b):
    c = a - b
    print(c)

In [5]:
difference(1,3)

-2

In [7]:
difference(5)

TypeError: difference() missing 1 required positional argument: 'b'

In [2]:
def add(x,y):
    return x+y

# it is designed to take in 2 inputs

In [3]:
add(7,8)

15

In [213]:
def add(x,y=5):
    return x+y

# it is designed to take in 2 inputs

add(10)

15