- Comments are used as **#** for single line
- For multiline use **""" """**

In [1]:
# Hello
''' hello world
hdvhdwkkw  bsjqkdbjq  bdkq
bsqkdjqbd
'''

' hello world\nhdvhdwkkw  bsjqkdbjq  bdkq\nbsqkdjqbd\n'

In [2]:
print("hey","hello")

# by default seperator is "space"

hey hello

In [3]:
print("hello","world",sep="~")

#what ever the seperator we give it puts inplace of space

hello~world

- We also have **end** parametre it gives at the end of the strring

In [4]:
print("list","dictionary",end = "set")

list dictionaryset

In [5]:
print("list","dictionary",end = " set")

# as i took space at "set" i got space after dictionary

list dictionary set

In [6]:
a = True
type(a)

bool

In [7]:
a = complex(8,12)

In [8]:
a

(8+12j)

In [9]:
# Input function is used for user to give the input

In [11]:
var1 = input("enter your name: ")

enter your name: hari chandan

In [12]:
# floor division

In [13]:
num1 = 12
num2 = 5
num1//num2

# removes decimal round off
# answer is quotient

2

In [14]:
num1 = 12
num2 = 5
num1/num2

# It gives decimal value also

2.4

In [15]:
# for remainder use "%" modulo operator

In [16]:
num1 = 100
num2 = 230
num1%num2

100

In [17]:
# power 

5**4

625

In [18]:
# type casting
 
    
var1 = True
var2 = 5
var1+var2

#implicit type casting means python converts data type on itself

6

In [19]:
a = 2
b = 3.4
a+b

# python converts 2 to 2.0 decimal and adds

5.4

In [20]:
# explicit type casting is we convert data type manually

a = 2.5
int(a)

2

In [21]:
float(45)

45.0

In [25]:
bool(0),bool(1)

(False, True)

# Strings

- For single string use **" "** , for multiple lines of string use **'''  '''**

### indexing

In [27]:
river = "mississippi"

river[1]

'i'

#### Slicing

In [28]:
river = "mississippi"

river[0:]

# it goes upto end

'mississippi'

In [36]:
river[0:3]

# it dont go to 3 it goes 2 this is imp as end-1

'mis'

In [34]:
river[0::2]

#skips two letters

'msispi'

In [35]:
river[::-1]

#reverse of the string

'ippississim'

In [37]:
# Looping throught string

In [38]:
for i in river:
    print(i)

m
i
s
s
i
s
s
i
p
p
i

 m   i   s   s   i   s   s   i   p   p   i  
 0   1   2   3   4   5   6   7   8   9  10
-11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [39]:
river[-1:-3]

''

- Start index = -1 (last character, 'i')
- Stop index = -3 (third last character, 'p', but not included in slicing)
- Default step = +1 (moves forward)
- **ðŸ›‘ Problem:**

- The slice starts at -1 (right side of the string) and tries to move forward to -3.
- But -3 is to the left, and since the step is default +1 (left to right), it never reaches -3.

In [41]:
# correct way is 

river[-1:-3:-1]

'ip'

In [42]:
river.upper()

'MISSISSIPPI'

In [43]:
river.capitalize()

'Mississippi'

In [44]:
river.title()

'Mississippi'

In [48]:
a = "hari chandan"
a.title()

# capitilizes each and every word frst letter capital

'Hari Chandan'

In [46]:
a.capitalize()

# it captilaitizes only frst word frst letter capital

'Hari chandan'

In [51]:
a = "    hari      "
a.strip()

# it removes white spaces in starting and ending of the string it dont remove when spaces are in between string

'hari'

In [53]:
a = "    hari    chandan    S    "
a.strip()

'hari    chandan    S'

In [55]:
b = "pyhton is used for web applications"
b.split(" ")

# it splits by space

['pyhton', 'is', 'used', 'for', 'web', 'applications']

In [60]:
b = "hari@ chandan@"
b.split("@")

#default is splits by space at the end after @ we dont have any elements so it gave mpty string

['hari', ' chandan', '']

In [1]:
b = "hari@ chandan@"
b.split("@")

# it removes last space in the end

['hari', ' chandan', '']

In [62]:
"interpreter".endswith("e")

False

In [63]:
"interpreter".endswith("r")

True

In [66]:
"interpreter".center(1)

'interpreter'

In [68]:
"interpreter".endswith("e",3,10)  # "erprete"


# it is checking either string ending between 3 and 10 index

True

In [69]:
"interpreter".startswith("e",3,10)  # "erprete"
 
# it is checking either string starts with  between 3 and 10 index

True

In [70]:
"hari".find("h")

# it takes string and finds the index of string

0

In [71]:
"hari".find("2")

# if the character is not present it returns -1

-1

In [74]:
"123".isnumeric()

# checks whether string contains numbers

True

In [91]:
"12/3".isnumeric() #for fraction it returns false

False

In [75]:
"interpretable".isnumeric()

False

In [79]:
"interpretable".isalpha()

# checks wheather string contains alphabets
# single number presnence returns False

True

In [86]:
"123".isdigit()

True

In [90]:
"12/3".isdigit() #for fraction it returns false

False

In [96]:
a = "hari"
b = "harii"
a is b

False

**Difference between find and index both gives indexes if it didnt find character find gives "-1" and index gives `ERROR`**

In [97]:
"hari".isprintable()

True

In [98]:
"hari\n".isprintable()

# new line is not printable so it dont give it raises an error

False

In [99]:
"hari123DRR".isalnum()

# returns True when (a-z)(A-Z)(0-9)

True

- islower() checks lower case
- isspace()

In [104]:
"python is full on loops".replace("python","pandas")

# replaces updates the string

'pandas is full on loops'

In [105]:
"hariHARI".swapcase()

# when ever character is upper case it converts to lower case
# when ever chacater is lower case it converts to uppercase

'HARIhari'

In [106]:
"PythonProgramming"[::-3]

'gmrroy'

# LIST

- Ordered collection of data items, changeable, ordered,Duplicates,
- List contains different datatypes in single list.

**Main difference between list and tuple is list is mutable tuple is immutable**

In [113]:
course = ["datascience",214,"python","sql","excel",True]

In [109]:
course

['datascience', 214, 'python', 'sql', 'excel', True]

In [112]:
course.append("arguments")
course

# append() is used to add one element to list

['datascience', 214, 'python', 'sql', 'excel', True, 'arguments', 'arguments']

In [115]:
course.extend(["oops","Dictionary"])
course

# extend() is used to add multiple elements

['datascience',
 214,
 'python',
 'sql',
 'excel',
 True,
 'oops',
 'Dictionary',
 'oops',
 'Dictionary']

In [120]:
course = ["datascience",214,"python","sql","excel",True]
course.reverse()
course

# It reverses the list

[True, 'excel', 'sql', 'python', 214, 'datascience']

In [126]:
course = ["datascience",214,"python","sql","excel",True]

course.index("datascience")

# it tells at which index the string is present

0

In [128]:
course = ["datascience",214,"python","sql","excel",True]

course.count("datascience")

# it counts how many strings are present of given string

1

In [1]:
a = [1,23,56,89]
max_ = []
for i in a:
    if i > max_:
        max_ = i
print(max_)

TypeError: '>' not supported between instances of 'int' and 'list'

In [3]:
def number(a):
    """here this the program to write about largest number"""
    return a**a

number.__doc__

'here this the program to write about largest number'

In [12]:
def factorial(num):
    if num < 0:
        return f"we cannot define factorial for negative number"
            
    elif num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num-1)
    
factorial(6)

720

In [ ]:
def fibonacci(number):
    num = 0
    num2 = 1
    for i in range(10):

In [24]:
a = {1,23,45}
b = {45,67}
a.symmetric_difference(b)

# AUB - A^B (a union b - a intersection b)

{1, 23, 67}

In [25]:
a = {1,23,45}
b = {45,67}
a.symmetric_difference_update(b)
a

# a is updated to symetric diffrence value

{1, 23, 67}

In [32]:
a.add(3)
a

# its like append when we waant to add multiple elements we should put 
# update

{1, 3, 23, 67}

In [33]:
a.update({3,4,5})

In [34]:
a

{1, 3, 4, 5, 23, 67}

In [37]:
a.update([23,34])
a

# we can put sets or list to add multiple elements

{1, 3, 4, 5, 23, 34, 67}

In [38]:
a.pop()
a

# randomly rempoves an element

{3, 4, 5, 23, 34, 67}

In [41]:
a = [1,23,34]
a.pop()
a

#diffrence between list pop and set pop is list pop shows what it renmovd and it removes last element
# where as set pop removes the randomly elemnet it dont show temporary element what is removed

[1, 23]

In [44]:
b = {"hari",34,True}
del b
b

NameError: name 'b' is not defined

In [46]:
b = {"hari",34,True}

b.remove("hari")
b

# if we remove an element which is not present in b it raises an error
# if we discard an element which is not present in b it doesnot raise an error

{True, 34}

In [50]:
b = {"data","science",56,True}
b.discard("python")
b

{56, True, 'data', 'science'}

In [51]:
b = {"data","science",56,True}
b.remove("python")
b

KeyError: 'python'

In [53]:
b = {"data","science",56,True}
b.discard({"data",56})
b

{56, True, 'data', 'science'}

In [57]:
b = {"data","science",56,True}
b.discard("data")
b

{56, True, 'science'}

# Dictionaries

keys and values pair

In [60]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names.keys()

dict_keys(['name', 'role', 'game'])

In [61]:
names.values()

dict_values(['hari', 'statistician', 'badminton'])

In [69]:
names.items()

dict_items([('name', 'hari'), ('role', 'statistician'), ('game', 'badminton')])

In [62]:
names["name"]

'hari'

In [63]:
names.get("name")

'hari'

In [64]:
# we can use built in method also or key to get the value of the particular element

In [65]:
names["data"]

KeyError: 'data'

In [68]:
print(names.get("data"))

# the diffrence between get and direct acessing key is if the key is not presnet in thedictionary acessing keywise gives error
# but acessing by using get when we print it returns None

None

In [70]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names.pop()

TypeError: pop expected at least 1 argument, got 0

In [72]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names.pop("name")
names

# when ever we use pop we should give a paricular key which we want to remove
# otherwise it throws an error

{'role': 'statistician', 'game': 'badminton'}

In [75]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names.popitem()
names

#when ever we give popitem in dictionary it removes the element from the last

{'name': 'hari', 'role': 'statistician'}

In [76]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names["company"]="deloitte"

In [77]:
names

# manualling adding a key and value pair to the dictionary

{'name': 'hari',
 'role': 'statistician',
 'game': 'badminton',
 'company': 'deloitte'}

In [85]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names.update({"company":"deliotte","class":"first"})
names

# By using inbuilt method i.e update to update the dictionary , we can also give give multiple elements

{'name': 'hari',
 'role': 'statistician',
 'game': 'badminton',
 'company': 'deliotte',
 'class': 'first'}

In [81]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names.clear()
names

#it removes all the keys and values in the dictionary

{}

In [83]:
names = {"name":"hari","role":"statistician","game":"badminton"}

del names["name"]
names

# for dell also when we want to remove an element we have to use that give the key and del keyword to remove

{'role': 'statistician', 'game': 'badminton'}

In [89]:
names.setdefault("colony","hitechcity")
names

# we can use setdefault also for giving or adding the key pair to existing dictionary

{'name': 'hari',
 'role': 'statistician',
 'game': 'badminton',
 'company': 'deliotte',
 'class': 'first',
 'colony': 'hitechcity'}

In [96]:
i = "innomatics"
for j in i:
    print(j)
else:
    print("no number")

i
n
n
o
m
a
t
i
c
s
no number

In [102]:
for i in range(5):
    print(i)
    if i == 2:
        break
else:
    print("i dont know")
    
#here else is not executed bcoz it executes when loop is completed but in middle we are breaking the loop so loop terminates

0
1
2

In [103]:
for i in range(5):
    print(i)
    if i == 2:
        continue
else:
    print("i dont know")

0
1
2
3
4
i dont know

In [104]:
for i in range(5):
    print(i)
    if i == 2:
        pass
else:
    print("i dont know")

0
1
2
3
4
i dont know

In [106]:
a = 10
a/0

ZeroDivisionError: division by zero

In [107]:
try :
    num = a/0
except ZeroDivisionError:
    print("we cannot devide number by zero")

we cannot devide number by zero

In [110]:
import keyword
len(keyword.kwlist)

35

In [112]:
names = {"name":"hari","role":"statistician","game":"badminton"}
names.format_map(names)

AttributeError: 'dict' object has no attribute 'format_map'

In [114]:
2 is 2
-6 is -6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\lenovo\AppData\Local\Temp\ipykernel_4160\443730791.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2
C:\Users\lenovo\AppData\Local\Temp\ipykernel_4160\443730791.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  -6 is -6

True

In [115]:
256 is 256

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\lenovo\AppData\Local\Temp\ipykernel_4160\1915308071.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  256 is 256

True

In [116]:
256 == 256

True

In [129]:
a = -6
b = -6
a is b

False

In [130]:
id(a),id(b)

(2114292914640, 2114292914768)

In [132]:
a = [12,23,45]
a.extend([34,56])
a

[12, 23, 45, 34, 56]

In [134]:
a = [12,23,45]
a.append([34,56])
a

# we can also add multiple elements using append method also but the thing is we will get both elements in list

[12, 23, 45, [34, 56]]

In [135]:
import copy

In [140]:
a = [23,45,67,[89,90]]
b = a.copy()
a[3][0] = 34
print(a,b)

# this is normal copy or shallow copy when we change the list it dont change orginal list

[23, 45, 67, [34, 90]] [23, 45, 67, [34, 90]]

In [142]:
a = [23,45,67,[89,90]]
b = copy.copy(a)
a[3][0] = 34
print(a,b)

# when we update in any of the list shallow copy updates in orginal and other list

[23, 45, 67, [34, 90]] [23, 45, 67, [34, 90]]

In [144]:
a = [23,45,67,[89,90]]
b = copy.deepcopy(a)
a[3][0] = 34
print(a,b)

# when we update in list it updates only in orginal list it dont update in copy list

[23, 45, 67, [34, 90]] [23, 45, 67, [89, 90]]

In [ ]:
# for security reasons we use tuple instead of list as we dont want to change them

In [147]:
a = (23,45,56)
d,e,f = a
print(d,e,f)

# unpacking 
# only count and index are used in tuple

23 45 56

In [149]:
a = {x:x**2 for x in range(10)}
a

# dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [165]:
b = [f"{i} is even" if i % 2 == 0 else "" for i in range(10)]
b

['0 is even',
 '',
 '2 is even',
 '',
 '4 is even',
 '',
 '6 is even',
 '',
 '8 is even',
 '']

In [166]:
a = [1,2,34,56,78]
for i in len(a):
    b = 
    if

IndexError: list index out of range

In [174]:
num = [1,23,45,56,78,4,5,6]
b =[]
for i in num:
    if i % 2 == 0:
        b.append(i)
print(b)

[56, 78]

In [1]:
# i need only even numbers

In [2]:
def number(a):
    if a % 2 != 0:
        return False
    else:
        return True
nums = [12,34,54,55,66,77,89]

In [3]:
list(filter(number,nums))

[12, 34, 54, 66]

In [4]:
def number(a):
    if a % 2 == 0:
        return True
    else:
        return False
nums = [12,34,54,55,66,77,89]

In [5]:
tuple(filter(number,nums))

(12, 34, 54, 66)

In [17]:
a = [23,32,44,54,77,99,97,94,999999]
even = []
odd = []
for i in a:
    if i % 2 == 0:
        even.append(i)
        print(b)
    else:
        odd.append(i)
        print(odd)

[23]
[32, 44, 54, 94]
[32, 44, 54, 94]
[32, 44, 54, 94]
[23, 77]
[23, 77, 99]
[23, 77, 99, 97]
[32, 44, 54, 94]
[23, 77, 99, 97, 999999]

In [18]:
a = [23,32,44,54,77,99,97,94,999999]
even = []
odd = []
for i in a:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
print(f" even numbers are :{even}")
print(f" odd numbers are :{odd}")

 even numbers are :[32, 44, 54, 94]
 odd numbers are :[23, 77, 99, 97, 999999]

In [19]:
def numbers(a,b):
    return a+b

c = [12,23,45,65]

In [22]:
reduce(numbers,c)

145

In [21]:
from functools import reduce

In [ ]:
a = 10
b = 
for i in a:

In [24]:
number = 19
flag = False
for i in range(1,number+1):
    if number % i == 0:
        flag = True
        break
if flag == False:
    print("it is a prime")
else:
    print("composite")

composite

In [29]:
number = 19
count = 0
for i in range(1,number+1):
    if number % i == 0:
        count = count + 1
if count == 2:
    print("prime number")

prime number

In [32]:
# manual number
num = int(input("enter a number :"))
count = 0
for i in range(1,num+1):
    if num % i == 0:
        count = count+1
if count == 2:
    print("prime")
else:
    print("composite")

enter a number :8
composite

In [48]:
primes = []
composites = []
for i in range(1,100):
    count = 0
    for j in range(1,i+1):
        if i % j == 0:
            count += 1
    if count == 2:
        primes.append(i)
    else:
        composites.append(i)

In [49]:
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [50]:
print(composites)

[1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]

In [69]:
a = [12,23,45,78,90,91]
b = []
for i in range(len(a)): #firstloop upto len(nums)
    count = 0
    for j in range(1,a[i]+1): #second loop upto the a[i]+1
        if a[i] % j == 0: 
            count = count + 1
    if count == 2: # when reaches 2 factors then print it
        b.append(a[i])
        
print(b)

[23]

In [71]:
# Factorial

number = 7
fact = 1
for i in range(1,number+1):
    fact = fact * i
print(fact)

5040

In [73]:
def factorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num-1)
    
factorial(8)

40320

In [74]:
def factorial(num):
    return 1 if (num == 0) or (num ==1) else num*factorial(num-1)

    #ternary operator

factorial(7)

5040

In [11]:
number = 153
summ = 0
summ_digits = sum(int(i)**len(str(number))) for i in range(str(number))
if summ_digits == number:
    print("armstrong")

SyntaxError: invalid syntax (4126730522.py, line 3)

In [ ]:
num = 153  # Change this number to test others
sum_digits = sum(int(digit) ** len(str(num)) for digit in str(num))

if sum_digits == num:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

In [72]:
number = 7
count = 1
for i in range(1,number+1):
    count = count + i
print(count)

29

In [75]:
n1 = 0
n2 = 1
for i in range(2,10):
    n3 = n1+n2
    print(n3)  # 3rd fibona ci num will be printed
    n1 = n2 # n2 becomes n1
    n2 = n3 # n3 becomes n2

1
2
3
5
8
13
21
34

In [79]:
a = [1,2,3,4,5,6]
summ = 0
for i in range(len(a)):
    summ = summ + a[i]
print(summ)

21

In [81]:
# maximum number in the list


arr = [12,34,2,1,343,566]
maxx = arr[0]
n = len(arr)
for i in range(n):
    if arr[i] > maxx:
        maxx = arr[i]
        
print(maxx)

566

In [86]:
# minimum number

a = [34,2,1,0,89,999]
minn = a[0]
n = len(a)

for i in range(n):
    if a[i] < minn:
        minn = a[i]
        
print(minn)

0

In [87]:
# length of the list

b = [12,2,2,2,2,2,2,2,2]
count = 0
for i in b:
    count = count+1
print("the length of list is ",count)

the length of list is  9

In [88]:
len(b)

9

In [89]:
# how to swap first and last element

b = [12,23,345,56,69]

d = len(b)

temp = b[0]
b[0] = b[d-1]
b[d-1] = temp
print(b)


# using temperoray variable

[69, 23, 345, 56, 12]

In [91]:
b = [12,23,345,56,69]


b[0],b[-1] = b[-1],b[0]

print(b)

[69, 23, 345, 56, 12]

In [94]:
b = [12,23,345,56,69]


get = (b[-1],b[0])

b[0],b[-1] = get

print(b)

# by using the tuple also we can do

[69, 23, 345, 56, 12]

In [99]:
# first second third

mylist = [12,34,32,89,69]

first,*second,last = mylist

print([last,*second,first])

# here multiple values for second variable *second

[69, 34, 32, 89, 12]

In [101]:
# pop

mylist = [12,34,32,89,69]

a = mylist.pop(0)
b = mylist.pop(-1)

mylist.insert(0,b)
mylist.append(a)

print(mylist)

[69, 34, 32, 89, 12]

In [102]:
## swapping numbers in a list

a = [23,45,3,2,1]
l1,l2 = 1,3
a[l1],a[l2] = a[l2],a[l1]
print(a)

# swapped the elements based on indexes

[23, 2, 3, 45, 1]

In [105]:
a = [23,45,3,2,1]
l1,l2 = 1,3
first = a.pop(l1)
second = a.pop(l2-1)
a.insert(1,second)
a.insert(2,first)
print(a)

# by using pop method also we can swap

[23, 2, 45, 3, 1]

In [106]:
a = [23,45,3,2,1]
l1,l2 = 1,3
get = (a[l1],a[l2])

a[l2],a[l1] = get
print(a)

[23, 2, 3, 45, 1]

In [109]:
# removing duplicates from the list

c = [1,2,3,3,3,3,3,4,4,4,41,1,2]
set(c)

{1, 2, 3, 4, 41}

In [112]:
d = []
count = 0
c = [1,2,8,3,8,7,3,3,3,3,4,4,4,41,1,2]

for i in range(len(c)):
    if c[i] not in d:
        d.append(c[i])
    elif c[i] in d:
        count = count +1
    elif count == 2:
        break
        
print(d)

[1, 2, 8, 3, 7, 4, 41]

In [116]:
words = ["geeks","hello","geeks","geeks","geeks"]

comp = "geeks"
e = []
n = 1
count = 0
for i in range(len(words)-1):
    if words[i] == comp:
        count = count +1
        if count == n:
            del words[i]
            
print(words)

['hello', 'geeks', 'geeks', 'geeks']

# Searching an element in the list or not

In [133]:
ele = [12,34,4,5,6]
num = 34
for i in range(len(ele)):
    if num in ele:
        print("element found")
        break

element found

In [132]:
ele = [12,34,4,5,6]
num = 34
flag = 0
for i in range(len(ele)):
    if ele[i] == num:
        flag = 1
        print("element found")
        break
if flag == 0:
    print("element not found")

element found

In [131]:
ele = [12,34,4,5,6]
num = 34
flag = 0
for i in range(len(ele)):
    if num == ele[i]:
        flag = 1
        print("element found")
        break
if flag == 0:
    print("element not found")

element found

# How to clear a list

In [139]:
list1 = [12,2,2,34]
print("list before clearing",list1)
list1.clear()
print("list after clearing",list1)

list before clearing [12, 2, 2, 34]
list after clearing []

In [140]:
# intialize empty list to the existing list


list1 = [12,2,2,34]
print("list before clearing",list1)
list1 = []
print("list after clearing",list1)

list before clearing [12, 2, 2, 34]
list after clearing []

In [141]:
list1 = [12,2,2,34]
print("list before clearing",list1)
list1 = list1 *0 #list1*=0
print("list after clearing",list1)

list before clearing [12, 2, 2, 34]
list after clearing []

In [142]:
list1 = [12,2,2,34]
print("list before clearing",list1)
del list1[:] # deleteds from strt to end
print("list after clearing",list1)

list before clearing [12, 2, 2, 34]
list after clearing []

# How to reverse a list

In [145]:

list1 = [12,2,29,34,69]
print("list before reversing",list1)
list1.reverse()
print("list after reversing",list1)

list before reversing [12, 2, 29, 34, 69]
list after reversing [69, 34, 29, 2, 12]

In [147]:

list1 = [12,2,29,34,69]
print("list before reversing",list1)
list1 = list1[::-1]
print("list after reversing",list1)

list before reversing [12, 2, 29, 34, 69]
list after reversing [69, 34, 29, 2, 12]

In [244]:

list1 = [12,2,29,34,69]
print("list before reversing",list1)
list2 = []
for i in range(len(list1)-1,-1,-1):
    list2.append(list1[i])
print(list2)

list before reversing [12, 2, 29, 34, 69]
[69, 34, 29, 2, 12]

In [157]:
# swapping middle
list1 = [12,2,29,34,69,89,90]
print("list before reversing",list1)
n = len(list1)
for i in range((n//2)):
    list1[i],list1[n-i-1]=list1[n-i-1],list1[i]
print(list1)

list before reversing [12, 2, 29, 34, 69, 89, 90]
[90, 89, 69, 34, 29, 2, 12]

In [162]:
def reverse_list(a,start,end,b):
    if start>end:
        return b
    b.append(a[end])
    return reverse_list(a,start,end-1,b)
  
    
    
a = [12,34,67,90]
b = []
b = reverse_list(a,0,len(a)-1,b)

print(b)

[90, 67, 34, 12]

# Copying the list

In [163]:
list2 = [89,98,90,96]
list2_copy = list2[:]
print(list2_copy)

# by using slicing copy the elements

[89, 98, 90, 96]

In [164]:
# using extend

list2 = [89,98,90,96]
list2_copy = []
list2_copy.extend(list2)
list2_copy

[89, 98, 90, 96]

In [165]:
# list method


list2 = [89,98,90,96]
list2_copy = list(list2)
list2_copy

[89, 98, 90, 96]

In [166]:

list2 = [89,98,90,96]
list2_copy = list2.copy()
list2_copy

[89, 98, 90, 96]

In [167]:

list2 = [89,98,90,96]
list2_copy = [i for i in list2]
list2_copy

[89, 98, 90, 96]

# count occurences of an element in list

In [193]:
list3 = [1,2,2,2,2,2,2,56,56,67,90]
num = 2
count = 0
for i in list3:
    if i == num:
        count = count+1
print(f"{num} repeated ",count)

2 repeated  6

In [195]:
list3 = [1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,256,56,67,90]
num = 2
list3.count(num)

24

In [197]:
from collections import Counter

list3 = [1,1,1,3,3,3,3,3,3,2,2,2,2,2,2,2,69,2,45,54,32,2,1,1]
dic = Counter(list3)
dic

Counter({2: 9, 3: 6, 1: 5, 69: 1, 45: 1, 54: 1, 32: 1})

In [201]:
list1 = [12,34,233,32]
summ = 0
for i in range(len(list1)):
    summ = summ+list1[i]
print(summ)

311

In [202]:
# method 2 

sum(list1)

311

In [ ]:
# Multiplication of the numbers in the list

In [203]:
list2 = [1,2,3,4,5,6,7,8,9,10]
mul = 1
for i in range(len(list2)):
    mul = mul * list2[i]
print(mul)

3628800

In [204]:
import numpy as np

np.prod(list2)

3628800

In [206]:
# finding the smallest and largest numbers in list

list3 = [12,100,30,400]
minn = list3[0]
n = len(list3)

for i in range(n):
    if list3[i] < minn:
        minn = list3[i]
        
print(minn)

12

In [207]:
list4 = [1,2,0,20,20000,690000]
maxx = list4[0]
n = len(list4)

for i in range(n):
    if list4[i] > maxx:
        maxx = list4[i]
        
print(maxx)

690000

In [210]:
list4.sort()
print(list4[0],list4[-1])

0 690000

In [211]:
min(list4)

0

In [212]:
max(list4)

690000

In [ ]:
# Second largest number

In [225]:
l = [1,2,34,556]
l.sort()

In [226]:
l[-2]

34

In [227]:
l = [12,34,56,89]
l1 = set(l)

In [229]:
l1.remove(max(l1))

In [232]:
max(l1)

56

In [239]:
a = input("enter a string: ")

if a[::-1] == a:
    print("its a palindrome")
else:
    print("not a palindrome")

enter a string: racecar
its a palindrome

In [240]:
# reversing a string

a = "hello welcome to fission labs"
b = a.split(" ")
b[-1::-1]

['labs', 'fission', 'to', 'welcome', 'hello']

In [250]:
a = [12,34,89,0]
n = len(a)
for i in range(len(a)//2):
    a[i],a[n-i-1] = a[n-i-1],a[i]
print(a)

[0, 89, 34, 12]

In [253]:
# finding length of the string

a = "mississippi"
count = 0
while  a[count:]:
    count = count+1
print(count)

11

In [9]:
a = {1,2,4,2,1,4,5,45,32,21,2222,11,1,1,1,1}
a

{1, 2, 4, 5, 11, 21, 32, 45, 2222}

In [10]:
b = list(a)

In [12]:
b.sort()
set(b)

{1, 2, 4, 5, 11, 21, 32, 45, 2222}

In [18]:
number = int(input("enter a number:  "))
for i in range(number+1):
    if i % 7 == 0:
        print({i},"fizzbuzz number")
    else:
        continue

enter a number:  89
{0} fizzbuzz number
{7} fizzbuzz number
{14} fizzbuzz number
{21} fizzbuzz number
{28} fizzbuzz number
{35} fizzbuzz number
{42} fizzbuzz number
{49} fizzbuzz number
{56} fizzbuzz number
{63} fizzbuzz number
{70} fizzbuzz number
{77} fizzbuzz number
{84} fizzbuzz number

In [21]:
number = int(input("enter a number:  "))
for i in range(number+1):
    if i % 7 == 0:
        print({i},"fizzbuzz number")
    else:
        pass

enter a number:  89
{0} fizzbuzz number
{7} fizzbuzz number
{14} fizzbuzz number
{21} fizzbuzz number
{28} fizzbuzz number
{35} fizzbuzz number
{42} fizzbuzz number
{49} fizzbuzz number
{56} fizzbuzz number
{63} fizzbuzz number
{70} fizzbuzz number
{77} fizzbuzz number
{84} fizzbuzz number

In [22]:
# Parent class
class Animal:
    def speak(self):
        print("Animals make sounds")

# Child class inheriting from Animal
class Dog(Animal):
    def bark(self):
        print("Dog barks")

# Creating an object of Dog
d = Dog()
d.speak()  # Inherited method
d.bark()   # Child class method

Animals make sounds
Dog barks

In [26]:
# Parent class
class Animal:
    def speak(self):
        print("Animals make sounds")
class Human:
    def speaks(self):
        print("Humans speaks")        


# Child class inheriting from Animal
class Dog(Animal,Human):
    def bark(self):
        print("Dog barks")

# Creating an object of Dog
d = Dog()
d.speaks()  # Inherited method
d.bark()# Child class method
d.speak()

Humans speaks
Dog barks
Animals make sounds

In [30]:
class python:
    def List(self):
        print("List is mutable ordered duplicates allows")

class sql(python):
    def limit(self):
        print("we use at the time of how many we need")

class dsa(sql):
    def bubble(self):
        print("bubble sort is very easy")
        
        
hari = dsa()
hari.List()
hari.limit()
hari.bubble()

List is mutable ordered duplicates allows
we use at the time of how many we need
bubble sort is very easy