#### 1. Write a function square(x) that returns the square of the number x.

In [6]:
def square_of_no(num):
    return num ** 2

square_of_no(5)

25

#### 2. Write a function to_uppercase(s) that converts all characters in a string s to uppercase

In [7]:
def uppercases(string):
    return string.upper()

uppercases("harika")

'HARIKA'

#### 3. Write a function find_max(a, b) that returns the maximum of two numbers a and b

In [8]:
def max_of_2_no(num1,num2):
    return max(num1,num2)

max_of_2_no(3,8)

8

#### 4. Write a function count_vowels(s) that returns the number of vowels (a, e, i, o, u) in a string s.

In [14]:
def vowels_count(string):
    count = 0
    for element in string:
        if element in "aeiouAEIOU":
            count += 1
    print(count)
            
vowels_count("chintu pappu")

4

#### 5. Write a function concat_strings(s1, s2) that returns the concatenation of two strings s1 and s2.

In [13]:
def concat_strings(string1,string2):
    return string1 + string2

concat_strings("lakshmi ", "harika")

'lakshmi harika'

#### 6. Write a function remove_duplicates(lst) that takes a list lst and returns a new list with duplicate elements removed.

In [44]:
def remove_duplicates(list1):
    rem_dup_set = set(list1)
    rem_dup_list = list(rem_dup_set)
    return rem_dup_list

remove_duplicates([1,2,3,4,2,5,7,1,6,1])

[1, 2, 3, 4, 5, 6, 7]

#### 7. Write a function char_frequency(s) that returns a dictionary where the keys are characters in the string s and the values are the number of times each character appears.

In [33]:
def char_frequency(string1):
    dic = {}
    count = 0
    str1 = ""
    for element in string1:
        keys = element
        if element in str1:
            count = count + 1
        else :
            count = 1
            str1= str1+element
        dic.update({keys:count})
    return dic
char_frequency("harika")

{'h': 1, 'a': 2, 'r': 1, 'i': 1, 'k': 1}

#### 8. Write a function sum_even_numbers(lst) that returns the sum of all even numbers in a list lst.

In [39]:
def sum_even_num(list1):
    empty_list = []
    for element in list1:
        if element % 2 == 0:
            empty_list.append(element)
    
    return sum(empty_list)       
sum_even_num([1,2,3,4,5,6,7,8,9])

20

In [41]:
def sum_even_num(list1):
    total_sum = 0
    for element in list1:
        if element % 2 == 0:
            total_sum += element
    
    return total_sum
sum_even_num([1,2,3,4,5,6,7,8,9])

20