#### 1.Write a program that checks whether a given number is an Armstrong number. An Armstrong number is one that is equal to the sum of its own digits each raised to the power of the number of digits. Use a while loop.

In [1]:
user_num = int(input("Enter the number : "))
num_str = str(user_num)
total_sum = 0
digits_count = len(num_str)
index = 0
while index < digits_count:
    total_sum += int(num_str[index]) ** digits_count
    index += 1
if user_num == total_sum:
  print(f"{user_num} is an Armstrong Number")
else:
  print(f"{user_num} is not an Armstrong Number")

Enter the number : 234
234 is not an Armstrong Number

#### 2. Write a program to determine if a given year is a leap year.

In [2]:
year = int(input(" Enter the year : "))
if (year % 4 == 0) and (year % 400 == 0):
    print(f" {year} is a leap year")
else:
    print(f" {year} is not a leap year")

 Enter the year : 2347
 2347 is not a leap year

#### 3. Write a program that generates the Fibonacci sequence up to a certain number using a while loop.

In [3]:
numbers = int(input("Enter the number : "))
first_number = 0
second_number = 1
count = 0
while count < numbers:
    print(first_number, end  = "\n")
    first_number,second_number = second_number,first_number + second_number
    count += 1

Enter the number : 22
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

#### 4. Write a program to print the following pattern using a for loop:
                   
                                   *
                                   * *
                                   * * *
                                   * * * *
                                   * * * * *

In [4]:
for star in range(6):
    print("* " *star)

*
* *
* * *
* * * *
* * * * *

#### 5. Write a program to print the following pattern using a for loop:
                            
                                      1
                                     2   2
                                  3   3   3
                               4   4   4   4
                             5   5   5   5   5  
                               4   4   4   4
                                  3   3   3
                                    2   2
                                        1

In [9]:
empty_space = 4
num = 1

for row in range(1,6,1):
    print(" " * empty_space + (str(row) + " ") * num)
    empty_space -= 1
    num += 1
    
empty_space = 1
num = 4

for rows in range(4,0,-1):
    print(" " * empty_space + (str(rows) + " ") * num)
    empty_space += 1
    num -= 1

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1