In [4]:
a=input('please enter your name')
print(a)

please enter your namei am hari chandan
i am hari chandan

tuple

In [9]:
a.split()[2]

'hari'

In [10]:
print(('innomatics welcomes you'),a.split()[2])

innomatics welcomes you hari

In [1]:
a=2
b=3
print(a and b)

3

In [2]:
print(a or b)

2

In [3]:
print(2 & 3)

2

In [4]:
print(2 | 3)

3

In [5]:
print(not a)

False

In [6]:
print(~a)

-3

In [1]:
x = 5
y = 6
x > 5 and y < 2
x < 5 and y <1
not (x > 5 and y < 2) and y < 6 or x < 5 and y > 2

False

In [18]:
data_point_1="Apple iphone 15 pro (256 GB) - Black Titanium"
data_point_1

'Apple iphone 15 pro (256 GB) - Black Titanium'

In [3]:
len(data_point_1)

45

In [19]:
print(data_point_1[-46:])

Apple iphone 15 pro (256 GB) - Black Titanium

In [15]:
colour=print(data_point_1[31:36])

Black

In [17]:
model=(print(data_point_1[0:5]))

Apple

In [ ]:
brand

In [22]:
'hi i am hari'.upper()

'HI I AM HARI'

In [23]:
G= " i am  one hari"
G.replace("one","1")

' i am  1 hari'

In [ ]:
name="hari"
age=21
Hobbies="playing cricket,exploring new things"
education='msc statistics'
a=input("please enter your name")

In [12]:
"big " + "houses"

'big houses'

In [13]:
"big" ,"houses"

('big', 'houses')

In [ ]:
a=print('big','houses')

In [ ]:
a=10
a

In [5]:
a,b,c,d=(10,20,30,40)
(b,d)

(20, 40)

In [3]:
def exponentiation_exp_2(x):
   result ="Raised to the power of 2:"
   return result

In [4]:
exponentiation_exp_2(3)

'Raised to the power of 2:'

In [3]:
def plus_five(x):
   return x+5
def m_by_3(x):
   return plus_five(x+5)*3
plus_five(4),plus_five(9)*3

(9, 42)

In [1]:
python=1,2,3
print(python)

(1, 2, 3)

In [3]:
e=1
print(e)

1

In [3]:
import numpy as np
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [4]:
str1='hi bachi'
print(str1)

hi bachi

In [2]:
type(str1)

str

In [3]:
str2="hello bunny"
print(str2)

hello bunny

In [5]:
str3='''hi bachi tinnava m chestunnavu inka chavuko job radhu malli time waste cheyyaku'''
print(str3)

hi bachi tinnava m chestunnavu inka chavuko job radhu malli time waste cheyyaku

In [ ]:
#indexing

In [6]:
str1="bachi"
str1[0]

'b'

In [7]:
str1[4]

'i'

In [9]:
str1[3]

'h'

In [10]:
str1[10]

IndexError: string index out of range

In [ ]:
#slicing

In [11]:
str1="bachibunny"
print(str1)

bachibunny

In [12]:
str1[0:]

'bachibunny'

In [13]:
str1[1:8]

'achibun'

In [14]:
str1[:10]

'bachibunny'

In [15]:
str1[::-1]#reverse direction

'ynnubihcab'

In [16]:
str1[-3]

'n'

In [18]:
str1[-2:]

'ny'

In [22]:
str2="hari"
del(str2)
print(str2)

NameError: name 'str2' is not defined

In [4]:
x=15
y=2
x=x/y
result=x//y
print(result)
result+=x
print(result)

3.0
10.5

In [5]:
x = 15
y = 2
x = x / y
result=x //y
result+=x
print(result)

10.5

In [17]:

a=3
b=3
print(id(a))
print(id(b))
print(a is b)               # HERE when the range of integer is between (-5 to 256) there will be same memory hence it shows true

140726387708776
140726387708776
True

In [15]:
a=257
b=257
print(id(a))
print(id(b))
print(a is b)        #HERE when the range of integer is not in  between (-5 to 256) there will be different memory hence it shows true

1960126787504
1960126781712

False

In [ ]:
a=3.0
b=3.0
print(id(a))
print(id(b))
a is b               #In Built it self there will be different memory allocation.

In [ ]:
#create list

In [29]:
b=["tharala","hari","chandan"]
b.append("hello")
print(b)

['tharala', 'hari', 'chandan', 'hello']

In [37]:
b=["tharala","hari","chandan"]
b.extend("hello")
print(b)

['tharala', 'hari', 'chandan', 'h', 'e', 'l', 'l', 'o']

In [40]:
b.extend[("hello")]
print(b)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [49]:
a=[1,2,3,4]
a.append(["c","d"])
print(a)
a.extend(["c","d"])
print(a)

[1, 2, 3, 4, ['c', 'd']]
[1, 2, 3, 4, ['c', 'd'], 'c', 'd']

In [50]:
c=[1,2,3,4,5]
c.append("hari")
print(c)

[1, 2, 3, 4, 5, 'hari']

In [55]:
c.append("hari")
print(c)

[1, 2, 3, 4, 5, 'hari', 'hari', 'hari', 'hari', 'hari', 'hari']

In [ ]:
#try to define a list with 3 elements add an elements using append and extend

In [ ]:
a=""

In [17]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [18]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [21]:
f = [1,2]

In [22]:
f.append(["hi","b"])

In [23]:
f

[1, 2, ['hi', 'b']]

In [24]:
f.extend(["aa","bb"])

In [25]:
f

[1, 2, ['hi', 'b'], 'aa', 'bb']

In [28]:
f.extend("aa")
f

[1, 2, ['hi', 'b'], 'aa', 'bb', 'a', 'a']

In [ ]:
clear() #CLEARS THE MEMORY
del()

In [57]:
MY=[1,2,3,4]
sum(MY)

10

In [65]:
d=(2,3,4,5,"hi",2)   #it cannot add values after creating the tuple
print(d)             #difference between list and tuple if we have big data we can add only in list
print(d[3])

(2, 3, 4, 5, 'hi', 2)
5

In [ ]:
#mark down
#Interupt the kernel 
#Add a cell below = ESc+ B
#Add a cell Above = Esc + A
#Delete a cell = Esc + Double D
# To run a code = Shift + Enter

In [ ]:
#Introduction to Jupyter Notebook
#Coding is done on cells
#Visual studio card

In [1]:
bin(18)

'0b10010'

In [2]:
oct(45)

'0o55'

In [3]:
hex(88)

'0x58'

In [1]:
pwd   #Understanding the where current path is

'C:\\Users\\lenovo'

# INTRODUCTION
## T.HARI CHANDAN
### 21
#### MSC STATISTICS

 I am a passionate, hardworking and curious individual with strong time management skills. a patient approach to learning new things.

In [ ]:
name = input

In [ ]:
#Create 3 variables with subject names maths, science, social 
#maths = 56 ,science = 78,social 60 total  100
#average of all marks 
#percenmtage of allmarks

In [8]:
maths=56
science=78
social=60

56

78

60

In [13]:
t=100
print(t)

100

In [17]:
d=(maths+science+social)/3

In [18]:
d

64.66666666666667

In [23]:
e=((maths+science+social)/(300)*100)
print(e)

64.66666666666666

In [ ]:
#create list

In [29]:
b=["tharala","hari","chandan"]
b.append("hello")
print(b)

['tharala', 'hari', 'chandan', 'hello']

In [37]:
b=["tharala","hari","chandan"]
b.extend("hello")
print(b)

['tharala', 'hari', 'chandan', 'h', 'e', 'l', 'l', 'o']

In [40]:
b.extend[("hello")]
print(b)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [49]:
a=[1,2,3,4]
a.append(["c","d"])
print(a)
a.extend(["c","d"])
print(a)

[1, 2, 3, 4, ['c', 'd']]
[1, 2, 3, 4, ['c', 'd'], 'c', 'd']

In [50]:
c=[1,2,3,4,5]
c.append("hari")
print(c)

[1, 2, 3, 4, 5, 'hari']

In [55]:
c.append("hari")
print(c)

[1, 2, 3, 4, 5, 'hari', 'hari', 'hari', 'hari', 'hari', 'hari']

In [ ]:
#try to define a list with 3 elements add an elements using append and extend

In [ ]:
a=""

In [17]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [18]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [3]:
f = [1,2]

In [22]:
f.append(["hi","b"])

In [4]:
f

[1, 2]

In [24]:
f.extend(["aa","bb"])

In [25]:
f

[1, 2, ['hi', 'b'], 'aa', 'bb']

In [28]:
f.extend("aa")
f

[1, 2, ['hi', 'b'], 'aa', 'bb', 'a', 'a']

In [ ]:
clear() #CLEARS THE MEMORY
del()

In [57]:
MY=[1,2,3,4]
sum(MY)

10

In [65]:
d=(2,3,4,5,"hi",2)   #it cannot add values after creating the tuple
print(d)             #difference between list and tuple if we have big data we can add only in list
print(d[3])

(2, 3, 4, 5, 'hi', 2)
5

 Binary to Integer:
When we are converting binary to integer we have to use syntax as
SYNTAX: int(binary value,2) (here 2 is used for binary,8 is used for oct,16 hexa)
Difference between AND and &
We use & as it is biwise operator here it will convert them into binary and then operates AND operatipon same for OR and

In [4]:
str1='hi bachi'
print(str1)

hi bachi

In [2]:
type(str1)

str

In [3]:
str2="hello bunny"
print(str2)

hello bunny

In [5]:
str3='''hi bachi tinnava m chestunnavu inka chavuko job radhu malli time waste cheyyaku'''
print(str3)

hi bachi tinnava m chestunnavu inka chavuko job radhu malli time waste cheyyaku

In [ ]:
#indexing

In [6]:
str1="bachi"
str1[0]

'b'

In [7]:
str1[4]

'i'

In [9]:
str1[3]

'h'

In [10]:
str1[10]

IndexError: string index out of range

In [ ]:
#slicing

In [11]:
str1="bachibunny"
print(str1)

bachibunny

In [12]:
str1[0:]

'bachibunny'

In [13]:
str1[1:8]

'achibun'

In [14]:
str1[:10]

'bachibunny'

In [15]:
str1[::-1]#reverse direction

'ynnubihcab'

In [16]:
str1[-3]

'n'

In [18]:
str1[-2:]

'ny'

In [22]:
str2="hari"
del(str2)
print(str2)

NameError: name 'str2' is not defined

In [24]:
str1="hari"
str2="chandan"
print(str1+str2)

harichandan

In [33]:
]

(1, 2, 3, 'hari', {1: '2'})

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
a="Hari Chandan"
print(a)

Hari Chandan

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

# Variable is defined as when we want to store a value we use variable and it should be  assigned with a  result

In [1]:
variable=1924
print(variable)

1924

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [3]:
width=7
print(width/2)
print(width/2.0)
delimetre= '.'
print(delimetre*5)

3.5
3.5
.....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [5]:
e=5
f=6
print(e)
print(f)
print(f+e)

5
6
11

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [7]:
first_name="Hari "
last_name="chandan"
print(first_name+last_name)

Hari chandan

In [8]:
#sample use case

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [9]:
g=10
h='10'
i=True
j=10.5
print(type(g))
print(type(h))
print(type(i))
print(type(j))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [11]:
num_int=123
num_str="456"
#To perfrom addition we have to convert "string" to "integer"
print(int(num_str))
print(num_int)
print(int(num_str)+num_int)

456
123
579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3r3  . What is the volume of a sphere with radius 5?

In [37]:
r=5
print(r)
a=3.14
print(a)
b=4/3
print(b)
c=r**3
print(c)
print(b*a*c)

5
3.14
1.3333333333333333
125
523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [57]:
cover_price=24.95
print(cover_price)
discount_price=cover_price*(0.4)
print(discount_price)
orginal_price=(cover_price-discount_price)
print(orginal_price)
totalbooks=60
print(totalbooks)
totalbooks_coverprice=totalbooks*(orginal_price)
print(totalbooks_coverprice)
shipping_cost=3
print(shipping_cost)
shipping_cost1=0.75
print(shipping_cost1)
totalbooks_shippingcost=(shipping_cost*1)+(shipping_cost1*59)
print(totalbooks_shippingcost)
totalwholesalecost=totalbooks_coverprice+totalbooks_shippingcost
print(totalwholesalecost)

24.95
9.98
14.969999999999999
60
898.1999999999999
3
0.75
47.25
945.4499999999999

In [ ]:
#In default we dont have any keyword to count the number of digits in a number 
#we convert the number into string and then we can count the no of digits in the number

In [1]:
1star="moon"#cant start with numbers

SyntaxError: invalid decimal literal (3812159065.py, line 1)

In [3]:
smaple literal = 1

SyntaxError: invalid syntax (1948547824.py, line 1)

In [5]:
a,b,c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

In [6]:
dict1={1:"hari",2:"chandan"}
dict1.items()

dict_items([(1, 'hari'), (2, 'chandan')])

In [8]:
string="statistics makes easy to understand the data"
string.replace("statistics","love")

'love makes easy to understand the data'

In [9]:
len(string)

44

In [15]:
string.find("s",3)

5

In [16]:
num1=69
num2=699
num3=66999
print(f"{num1},{num2},{num3} and addition is {num1+num2+num3}")

69,699,66999 and addition is 67767

In [4]:
import copy
list1=["hari",1,2,3,4,[1,2,3,"cherry"],[1,3,[4,5,6]]]
print(list1)
list1[6][2][0]="cherrybabubauaa"
list2=copy.deepcopy(list1)
print(list1)
print(list2)

['hari', 1, 2, 3, 4, [1, 2, 3, 'cherry'], [1, 3, [4, 5, 6]]]
['hari', 1, 2, 3, 4, [1, 2, 3, 'cherry'], [1, 3, ['cherrybabubauaa', 5, 6]]]
['hari', 1, 2, 3, 4, [1, 2, 3, 'cherry'], [1, 3, ['cherrybabubauaa', 5, 6]]]

In [21]:
list1=["hari",1,2,3,4,[1,2,3,"cherry"],[1,3,[4,5,6]]]
print(list1)
list2=copy.copy(list1)
list1[6][2][2]="cherrybabubauaa"

['hari', 1, 2, 3, 4, [1, 2, 3, 'cherry'], [1, 3, [4, 5, 6]]]

In [22]:
print(list1)

['hari', 1, 2, 3, 4, [1, 2, 3, 'cherry'], [1, 3, [4, 5, 'cherrybabubauaa']]]

In [23]:
print(list2)

['hari', 1, 2, 3, 4, [1, 2, 3, 'cherry'], [1, 3, [4, 5, 'cherrybabubauaa']]]

In [28]:
import copy
lst=[1,2,3,4,[5,6],[7,8,9,["hari",11]]]
print(lst)

[1, 2, 3, 4, [5, 6], [7, 8, 9, [10, 11]]]

In [38]:
lst1=copy.deepcopy(lst)
lst[5][2][0][2]

TypeError: 'int' object is not subscriptable

In [ ]:
print(lst)
print(lst1)

In [39]:
sample_list_using_class = list([67,12,"322",True,6.7])  ### list ALLOWS different datatypes
sample_list_using_class
sample_list_using_class[2][0]

'3'

In [1]:
 list("centraltendency")

['c', 'e', 'n', 't', 'r', 'a', 'l', 't', 'e', 'n', 'd', 'e', 'n', 'c', 'y']

In [4]:
list(["identifythepatternandspread"])

['identifythepatternandspread']

In [6]:
list["spreadofthedata"]

list['spreadofthedata']

In [8]:
variance=[1,2,3,4,[5,6,7],[["pearson"]]]
variance[5]  #2Dlist

[['pearson']]

In [10]:
variance[5][0] #1D list

['pearson']

In [13]:
variance[5][0][0]  #executing the element

'pearson'

In [14]:
variance[5][0][0][0:5:2]#slicing the string which is inside the list

'pas'

In [13]:
hi=["chandrika,tinnava"]
hi.insert(0,"hi")
print(hi)

['hi', 'chandrika,tinnava']

In [14]:
hi.remove("hi")
print(hi)

['chandrika,tinnava']

In [28]:
def area(*length,width):   #default argument is width
    print(length)
    print(width)
    return length*width
area(9,67,width=3)

(9, 67)
3

(9, 67, 9, 67, 9, 67)

In [36]:
def names(**names):
    return names
names(names=("Hari","yash",5))

{'names': ('Hari', 'yash', 5)}

In [5]:
names=("yash","hari","kausthav")
print(names)
print(names.count("yash"))
print(names[0:3])

('yash', 'hari', 'kausthav')
1
('yash', 'hari', 'kausthav')

In [6]:
set({1,2,3,45,67})

{1, 2, 3, 45, 67}

In [10]:
a={}
type(a)

set

In [3]:
a=256
b= 256
a is b
#

True

In [4]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [12]:
from functools import reduce
list1=[23,45,33,22]
def div(num1,num2):
    return num1 / num2
reduce(div,list1)

0.0007040097949188857

In [13]:
list1=[23,45,33,22]
for i in list1:
    print(i**3)

12167
91125
35937
10648

In [11]:
num=4
["even" if num % 2 == 0 else "odd" ]

['even']

In [14]:
list1=list(range(1,51))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [16]:
["even" if element % 2 == 0 else "odd" for element in list1]

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [1]:
a=1
b=10
for datapoint in range(a,b):
    print(datapoint)

1
2
3
4
5
6
7
8
9

In [2]:
a=5
b=2
print(a/b)
print(a//b)

2.5
2

In [3]:
a=[1,2,3,4]
a[0]=6
print(a)

[6, 2, 3, 4]

In [5]:
b=(1,2,3,4)
b[0]=6
print(b)

TypeError: 'tuple' object does not support item assignment

In [ ]:
class father:

In [13]:
def hari(l):
    sum=0
    for datapoint in l:
        sum = sum + datapoint
    print(sum)
l=[1,2,3,4]

In [14]:
hari(l)

10

In [29]:
dict1={"name":"harichandan","age":20}
dict1.get("age")
dict1["age"]

20

In [30]:
dict1["age"]

20

In [21]:
a=[1,2,3,"hari",7.8]
a[::-1]

[7.8, 'hari', 3, 2, 1]

In [22]:
for i in range(1,101):
    if i % 2 == 0:
        print(i,"i is even")

2 i is even
4 i is even
6 i is even
8 i is even
10 i is even
12 i is even
14 i is even
16 i is even
18 i is even
20 i is even
22 i is even
24 i is even
26 i is even
28 i is even
30 i is even
32 i is even
34 i is even
36 i is even
38 i is even
40 i is even
42 i is even
44 i is even
46 i is even
48 i is even
50 i is even
52 i is even
54 i is even
56 i is even
58 i is even
60 i is even
62 i is even
64 i is even
66 i is even
68 i is even
70 i is even
72 i is even
74 i is even
76 i is even
78 i is even
80 i is even
82 i is even
84 i is even
86 i is even
88 i is even
90 i is even
92 i is even
94 i is even
96 i is even
98 i is even
100 i is even

In [6]:
name()

NameError: name 'name' is not defined

In [27]:
num = list(range(1,100))
num
["even" if i % 2 == 0 else "odd" for i in num ]

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

#### 4/9/24

In [35]:
dict1={1:"hari",2:"chsnd",3:"4"}
dict1[1]

'hari'

In [36]:
dict1.get(1)

'hari'

In [37]:
dict1.items()

dict_items([(1, 'hari'), (2, 'chsnd'), (3, '4')])

In [38]:
dict1[1]="1111"
dict1

{1: '1111', 2: 'chsnd', 3: '4'}

In [39]:
dict1.popitem()
dict1

{1: '1111', 2: 'chsnd'}

In [40]:
dict1

{1: '1111', 2: 'chsnd'}

In [43]:
del dict1

NameError: name 'dict1' is not defined

In [42]:
dict1

NameError: name 'dict1' is not defined

In [47]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(my_dict) # Output: {'a': 1, 'c': 3}

{'a': 1, 'c': 3}

In [53]:
names=["hari","charan","chintu"]
values=[143,234,342]
dict(zip(names,values))

{'hari': 143, 'charan': 234, 'chintu': 342}

In [54]:
set(zip(names,values))

{('charan', 234), ('chintu', 342), ('hari', 143)}

In [55]:
tuple(zip(names,values))

(('hari', 143), ('charan', 234), ('chintu', 342))

In [56]:
list(zip(names,values))

[('hari', 143), ('charan', 234), ('chintu', 342)]

In [57]:
a=[1,2,34,45]
sum=0
for i in a:
    sum=sum+i
print(sum)

82

In [58]:
def hari():
    a=[1,2,34,45]
    sum=0
    for i in a:
        sum=sum+i
    print(sum)

In [59]:
hari()

82

In [68]:
def hari():
    print("my name is chandan")
    print("my name is hari")

my name is hari

In [70]:
hari()

my name is chandan

In [90]:
def hari(a,b):
    return(a+b)
hari(6,b=10)

16

In [92]:
def hari(a,b):
    return(a+b)
hari(a=6,10) #positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (2766717728.py, line 3)

In [94]:
def student():
    return "hello"
def student():
    return "hi"

student()

'hi'

In [106]:
def hari(b=3,a=6): #default argument means taking inplace of parametre itself
    return a*b

hari()

18

In [107]:
#variable length arguments assigning n no of arguments use *args
def hari(*args):
    for arg in args:
        print(arg)
        
hari(1,2,3,4,["hdjdbjf"],("duff"))

1
2
3
4
['hdjdbjf']
duff

In [115]:
def chandan(**kwargs):
    print("my name is   " + kwargs["lname"])
    
chandan(fname="hari",lname="naidu")

my name is   naidu

In [122]:
def addsub(x,y):
    c=x+y
    d=x-y
    return(c,d)

addsub(23,35)

(58, -12)

In [133]:
def function(**kwargs):
    print(kwargs)
    
    print()
    print("elements in side the keyword arguments")
    for i in kwargs.items():
        print(i)
        
function(a="hari",b="chintu")

{'a': 'hari', 'b': 'chintu'}

elements in side the keyword arguments
('a', 'hari')
('b', 'chintu')

In [136]:
def func(a, b=2, c=3):
    return a + b + c

func(1,c=5)

8

In [143]:
def func(*args):
    sum=1
    for i in args:
        sum=sum*i
    print(sum)

func(2, 3, 4, 5)

120

In [147]:
mul=1
num=int(input("enter a number"))
for i in range(1,num+1):
    mul=mul*i
print(mul)

enter a number7
5040

In [151]:
def summation(*args):
    print(args)
    sum=0
    for i in args:
        sum=sum+i
    print(sum)
summation(2,3,4,5,6)

(2, 3, 4, 5, 6)
20

In [1]:
def factorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num*factorial(num-1)
    
factorial(7)

5040

In [9]:
def add_sub(a,b):
    c=a+b
    d=a-b
    return c,d
print(add_sub(1,4))

(5, -3)