# What is python?
- Python is an interpreted, high-level, multipurpose programming language. The version of python we'll using is python 3

### Some interesting aspects in python:
- Python is a great language to start programming with because of it's ease of use and its english-like syntax
- Python uses indentations to define scope whereas other programming languges might use flower brackets
- Python uses new lines to indicate the end of line in a program instead of using semi colons

# Why do we use Python?
Python and R are the two most ubiquitous languages used in data secience. Python wins over R in the sense that python can be scaled up with data while that's not possible with R. One more win for python is that , python provides us with many libraries and modules to handle data and work with many kinds of machine learning algorithms. Python can handle auditory, visual, textual kinds of information, to name a few. It also provides extensive support for deep learning

# Literals and Variables

### Literals
A literal is nothing but a data types which conveys information. there are many kinds of literals in python where the four main datatypes are:
- integral values: `int`
- decimal values: `float`
- true or false statements: `bool`
- text data: `str`   
Apart from these, there are many other datas type which we'll we looking at later

In [1]:
56

56

In [8]:
43+58

101

In [2]:
False

False

In [4]:
"saomya"

'saomya'

In [5]:
34.567

34.567

In [7]:
5+3j  ### Complex DataType

(5+3j)

### Variable
Variables are nothing but place holders to store the literal values. Variables can be accessed by their names and some rules have to be followed while naming variables

Naming conventions for variables:
- A variable name can only contain alphabets, numbers and under score
- A variable name can only start with an underscore or an alphabet
- A variable name can't be the same as any keyword(keywords are sequences of characters which have some special meaning to them)
- A variable name can't have any spaces between the various parts of the variable. If we want to distinguish them, we can use and underscore or make the variable name camelCase
> variable_name
> VariableName
- It is suggested that we make our variable names as descriptive as possible
> a = 21
> age = 21

Storing a literal into a variable is called as assigning the variable with a literal and is accomplished using the equality(`=`) symbol

In [9]:
sampleliteral = 56.76

In [10]:
sample_literal = 56.76

In [11]:
sample1 = 56.76

In [12]:
1sample = 56.76

SyntaxError: invalid decimal literal (1806461323.py, line 1)

In [13]:
sample literal = 56.76

SyntaxError: invalid syntax (1001174614.py, line 1)

In [14]:
#### comments are a great way to include notes in code.
# Python uses hashes to indicate comments
# Multi line comments are also given using hashes

In [1]:
# to look at the data type of a variable, use the method type()

In [15]:
type(4)

int

In [16]:
type(sample_literal)

float

In [17]:
type("saomya")

str

### to initialize different variables with different values in the same line

In [19]:
name,age,designation = "Saomya",29,"Data Scientist"

In [18]:
name = "Saomya"
age = 29
designation = "Data Scientist"

In [21]:
designation

'Data Scientist'

### whenever we're trying to store literals to variables, the number of literals should match with the number of variables

In [22]:
name, age, designation = "Saomya",29

ValueError: not enough values to unpack (expected 3, got 2)

### initializing different variables with the same value

In [23]:
a = b = c = 30

In [25]:
c

30

# First Python Program

In [5]:
# Display messages

In [26]:
print("Hello World! I am learning Python...")

Hello World! I am learning Python...

### Some of the rules in python
**Indentation matters in Python.** Note that the statements are entered from the first column in the new line. The Python interpreter will report an error if the program is typed as follows:
```Python
print("Welcome to Python")
    print("Python is fun")
```
**Donâ€™t put any punctuation at the end of a statement**. For example, the Python interpreter will report errors for the following code:
```Python
print("Welcome to Python").
print("Python is fun"),
```
**Python programs are case sensitive.** It would be wrong, for example, to replace print in the program with Print.

# Writing comments in python
Comment is not a python statement and thus is ignored by python interpreter. But, it is plain text that documents what the program is and how it is constructed.

It is always good to write a comment that describes purpose of each statement included in a program.

It increases readability of the program.

In Python, one can write comments as:
1. Single line comment starting with a pound (#) sign
2. Paragraph comment that starts and ends with three consecutive single quotes (''') or three consecutive double quotes (""").

In [27]:
print("Welcome to Python")
    print("Python is fun")

IndentationError: unexpected indent (2612681558.py, line 2)

In [28]:
print("Welcome to Python")
print("Python is fun")

Welcome to Python
Python is fun

In [29]:
print("Welcome to Python").
print("Python is fun"),

SyntaxError: invalid syntax (3500346818.py, line 1)

In [30]:
samplevariable = True
SampleVariable = 43

In [31]:
samplevariable

True

In [32]:
SampleVariable

43

In [33]:
PRINt("Python is fun")

NameError: name 'PRINt' is not defined

In [36]:
"""
This is a sample
MULTI-LINE Comment
Have Fun...
"""
a = 42

In [37]:
a

42

# Python Keywords
**Keywords are the pre-defined or built-in words whose meaning is already known to python interpreter.**

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

All the keywords except True, False and None are in lowercase and they must be written as is.

```Python
This is a Python Class except I also teach Markdown
```

In [38]:
is = 56

SyntaxError: invalid syntax (3358676389.py, line 1)

In [39]:
except = 789.54

SyntaxError: invalid syntax (712265931.py, line 1)

In [40]:
This = True

In [41]:
True = 32

SyntaxError: cannot assign to True (426472046.py, line 1)

In [42]:
true = 43

In [43]:
import keyword

In [45]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [46]:
len(keyword.kwlist)

35

In [50]:
print(2+6)
print("Saomya")

8
Saomya