In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv(r"OnlineRetail.csv",encoding='latin-1')

In [5]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#### 1.How many sales records do we have in the dataset?

In [22]:
total_sales_records=data.shape[0]  #we use "0" indexing to acess rows i.e sales
total_sales_records

541909

In [ ]:
#### 2.How many customers do we have?

In [10]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [21]:
total_customers = data['CustomerID'].nunique()  #to  find unique values.

In [17]:
total_customers

4372

#### 3. Which country recorded the maximum sales count?

In [27]:
max_sales_country = data['Country'].value_counts().idxmax()
max_sales_country_count = data['Country'].value_counts().max()
print(f"Country with Max Sales: {max_sales_country} ({max_sales_country_count} sales)")

Country with Max Sales: United Kingdom (495478 sales)

In [26]:
max_sales_country_count

495478

##### 4. What is the minimum order amount and maximum order amount?

In [30]:
# Adding a new column 'TotalAmount' to calculate the total amount for each order
data['TotalAmount'] = data['Quantity'] * data['UnitPrice']

In [33]:
min_order_amount = data['TotalAmount'].min()
max_order_amount = data['TotalAmount'].max()
print(f"Min Order Amount: {min_order_amount}")
print(f"Max Order Amount: {max_order_amount}")

Min Order Amount: -168469.6
Max Order Amount: 168469.6

#### 5. How many orders for each customer?

In [37]:
orders_per_customer = data.groupby('CustomerID')['InvoiceNo'].nunique()
print("Orders per Customer:")
print(orders_per_customer.head())

Orders per Customer:
CustomerID
12346.0    2
12347.0    7
12348.0    4
12349.0    1
12350.0    1
Name: InvoiceNo, dtype: int64

In [ ]:
#### 6. What is the revenue contributed by each customer?

In [38]:
revenue_per_customer = data.groupby('CustomerID')['TotalAmount'].sum()
print("Revenue per Customer:")
print(revenue_per_customer.head())

Revenue per Customer:
CustomerID
12346.0       0.00
12347.0    4310.00
12348.0    1797.24
12349.0    1757.55
12350.0     334.40
Name: TotalAmount, dtype: float64

In [ ]:
#### 7. What is the revenue generated each year?

In [39]:
# Converting InvoiceDate to datetime
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

# Extracting the year from the InvoiceDate
data['Year'] = data['InvoiceDate'].data.year

revenue_per_year = data.groupby('Year')['TotalAmount'].sum()
print("Revenue per Year:")
print(revenue_per_year)

AttributeError: 'Series' object has no attribute 'data'

In [ ]:
 #### 8. Which customer contributed to the maximum revenue each year and how much?

In [40]:
max_revenue_customer_per_year = data.groupby(['Year', 'CustomerID'])['TotalAmount'].sum().groupby('Year').idxmax()
max_revenue_per_year = data.groupby(['Year', 'CustomerID'])['TotalAmount'].sum().groupby('Year').max()
print("Max Revenue Customer per Year:")
print(max_revenue_customer_per_year)
print("Max Revenue per Year:")
print(max_revenue_per_year)

KeyError: 'Year'