# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [10]:
nums = [1,2,3,4]

** `Question:` Remove number "3" in a list**

In [29]:
nums = [1,2,3,4]
nums.pop(2) # i am popping 3rd index
print(nums)

[1, 2, 4]

In [30]:
nums = [1,2,3,4]
nums.remove(3)
print(nums)

[1, 2, 4]

In [31]:
nums = [1,2,3,4]
del(nums)[2]
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [59]:
lst=[2,3,4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [60]:
print(lst)

[1, 2, 3, 4]

In [61]:
lst.insert(2,"two-and-half")
print(lst)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [63]:
phrase = "Don't panic!"
print(list(phrase))

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [85]:
phrase = "Don't panic!"
a=list(phrase)
print(a)
a.pop(-6)
print(a)
a.pop(-5)
print(a)
a.pop(-4)
print(a)
a.pop(0)
print(a)
b=["p","a","n","d"]
print(b)
a.extend(b)
print(a)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
['D', 'o', 'n', "'", 't', ' ', 'a', 'n', 'i', 'c', '!']
['D', 'o', 'n', "'", 't', ' ', 'n', 'i', 'c', '!']
['D', 'o', 'n', "'", 't', ' ', 'i', 'c', '!']
['o', 'n', "'", 't', ' ', 'i', 'c', '!']
['p', 'a', 'n', 'd']
['o', 'n', "'", 't', ' ', 'i', 'c', '!', 'p', 'a', 'n', 'd']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [91]:
list1=['p', 'a', 'n', 'D', 'a']
"".join(list1) #joining the list by removing space in between them

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [95]:
nums = (31,24,35,85)
print(nums)
print(type(nums))

(31, 24, 35, 85)
<class 'tuple'>

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [100]:
a=list(nums)
a.pop(2)
print(a)
print(tuple(a))

[31, 24, 85]
(31, 24, 85)

In [103]:
a.extend([85,19])
print(tuple(a))

(31, 24, 85, 85, 19, 85, 19)

**Extent** tuple (85,19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [105]:
tpl = ('i','n''n','0')
"i" in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [111]:
list1 = ['Hello',100,[],'innomatics']
list1[2].append(200)#adding the value in a nested list
print(list1)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [135]:
tpl = tuple("Innomatics")
tpl[::-1]

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

list

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [140]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [167]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=[]
for element in tpl:
    a.append(element+(100,))
print(a)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [211]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=[]
for element in tpl:
    b=(list(element))
    b[2]=100
    a.append(tuple(b))
print(a)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [285]:
a='5 2 3 6 6 5'
a = a.split(" ")
# print(a)
a=(sorted(set(a)))
print(a[-2])

['5', '2', '3', '6', '6', '5']
5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(7, 8, 9, 10, 1, 2, 3, 4, 5)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [217]:
tuple1 = (1,2,3,4,5,6,7,8,9,10)
for element in tuple1:
    if element % 2 == 0:
        print(element)

2
4
6
8
10

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
#### list is mutable i.e we can change the values in list.
#### list is ordered it follows ascending or descending order.
#### list allows duplicates

#### tuple is immutable we cannot change the values.
#### tuple is ordered
#### tuple allows duplicates

### 2. Explain the difference between append() and extend() with examples

In [253]:
hari=[1,"hari",True,7.8]
hari.append("sowmya")#in append we can only add one element
print(hari)
hari.extend(["srineedhi","deeksha","shresta"])#in extend we can add multiple elements
print(hari)

[1, 'hari', True, 7.8, 'sowmya']
[1, 'hari', True, 7.8, 'sowmya', 'srineedhi', 'deeksha', 'shresta']

### 3. Explain the difference between pop() and remove() with examples

In [254]:
print(hari)
hari.remove("hari")#we can store value in pop then run variable

[1, 'hari', True, 7.8, 'sowmya', 'srineedhi', 'deeksha', 'shresta']

In [255]:
print(hari)

[1, True, 7.8, 'sowmya', 'srineedhi', 'deeksha', 'shresta']

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)